.footer {
  background: #FBFBFB;
}

.footer__content {
  height: 100px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.footer__logo {
  height: 40px;
  img {
    height: 100%;
    width: auto;
    display: block;
  }
}

.copyright {
  font-size: 13px;
  line-height: 22px;
  color: $text1;
}


@media screen and (max-width: 1440px) {
  .footer__content {
    height: 80px;
    padding: 0;
  }
  .footer__logo {
    height: 40px;
  }
  .copyright {
    font-size: 13px;
    line-height: 22px;
  }
}


@media screen and (max-width: 1024px) {
  .footer__content {
    height: 64px;
    padding: 0;
  }
  .footer__logo {
    height: 26px;
  }
  .copyright {
    font-size: 13px;
    line-height: 22px;
  }
}


@media screen and (max-width: 428px) {
  .footer__content {
    height: 14.95vw;
  }
  .footer__logo {
    height: 5.95vw;
  }
  .copyright {
    font-size: 3.04vw;
    line-height: 5.14vw;
  }
}
