.header {
  position: relative;
  z-index: 20;
  background: #F9F9F9;
}

.header__content {
  height: 100px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.header__part {
  align-items: center;
  align-content: center;
}

.header__logo {
  height: 30px;
  img {
    height: 100%;
    width: auto;
    display: block;
  }
}

.header__city {
  margin-left: 50px;
  position: relative;
  z-index: 20;

  &:hover {
    .header__citylist {
      opacity: 1;
      visibility: visible;
    }
  }

  .select__city {
    .city__line {
      height: 1px;
      left: 50%;
      right: 50%;
      background-color: $blue;
      position: absolute;
      top: 100%;
      z-index: 21;
      opacity: .3;
      transition: .3s .1s;
    }

    input {
      width: 250px;
      border: none;
      border-bottom: 1px solid $text1;
      border-radius: 0;
      background-color: transparent;
      position: relative;

      &::placeholder {
        color: $text1;
      }

      &:focus {
        background-color: #fff;
        border-radius: 4px 4px 0 0;
        border: none;
        z-index: 20;

        &::placeholder {
          color: rgba(51, 51, 51, .3);
        }

        & + .select_citylist {
          & + .city__line {
            left: 20px;
            right: 20px;
          }
        }
      }
    }

    .select_citylist {
      border: none;
      box-shadow: 0 20px 54px rgba(150, 184, 197, 0.34);
    }
  }
}

.header__current {
  font-size: 13px;
  line-height: 42px;
  padding-right: 30px;
  color: $text1;
  font-weight: $bold;
  position: relative;

  &::after {
    width: 10px;
    height: 6px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: contain;
    background-size: contain;
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 6L10 0L0 0L5 6Z' fill='%23111111'/%3E%3C/svg%3E%0A");
  }
}

.header__citylist {
  min-width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  width: auto;
  background-color: #fff;
  box-shadow: 0 15px 54px -10px rgba(51, 51, 51, 0.53);
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: .3s opacity;

  li {
    a {
      padding: 0 10px;
      display: block;
      color: $text1;
      background-color: transparent;
      transition: .3s background-color, .3s color;

      &:hover, &.active {
        background-color: $blue;
        color: #fff;
      }
    }
  }
}

.header__button {
  height: 60px;
}

.header__account {
  margin-left: 30px;
  font-size: 13px;
  line-height: 17px;
  font-weight: $bold;
  color: $text1;
  display: flex;
  align-items: center;
  align-content: center;
  transition: .3s color;

  &:hover {
    color: $yellow;

    .account {
      background-image: url("data:image/svg+xml,%0A%3Csvg width='19' height='23' viewBox='0 0 19 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5005 13.75C7.45982 13.75 5.47504 13.9142 3.97676 14.4592C3.22162 14.7339 2.5397 15.1229 2.04221 15.6832C1.53062 16.2594 1.25 16.9774 1.25 17.8214C1.25 18.664 1.52823 19.3825 2.03678 19.9607C2.5317 20.5234 3.21104 20.9162 3.96538 21.1944C5.46186 21.7463 7.44751 21.9167 9.5005 21.9167C11.5413 21.9167 13.5258 21.7522 15.0238 21.207C15.7789 20.9322 16.4606 20.5432 16.958 19.9829C17.4694 19.4069 17.75 18.689 17.75 17.8452C17.75 17.0029 17.4718 16.2846 16.9634 15.7065C16.4686 15.1438 15.7894 14.751 15.0352 14.4727C13.539 13.9206 11.5536 13.75 9.5005 13.75Z' stroke='%23EEC96B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.46297 11.9167H9.4653H9.50053C12.6136 11.9167 15.25 9.58823 15.25 6.58286C15.25 3.57729 12.6133 1.25 9.50053 1.25C6.38841 1.25 3.75084 3.57639 3.75003 6.58147C3.73976 9.57787 6.36069 11.907 9.46297 11.9167Z' stroke='%23FFD82A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
  }

  .account {
    width: 19px;
    height: 23px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: contain;
    background-size: contain;
    transition: .3s background-image;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='19' height='23' viewBox='0 0 19 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5005 13.75C7.45982 13.75 5.47504 13.9142 3.97676 14.4592C3.22162 14.7339 2.5397 15.1229 2.04221 15.6832C1.53062 16.2594 1.25 16.9774 1.25 17.8214C1.25 18.664 1.52823 19.3825 2.03678 19.9607C2.5317 20.5234 3.21104 20.9162 3.96538 21.1944C5.46186 21.7463 7.44751 21.9167 9.5005 21.9167C11.5413 21.9167 13.5258 21.7522 15.0238 21.207C15.7789 20.9322 16.4606 20.5432 16.958 19.9829C17.4694 19.4069 17.75 18.689 17.75 17.8452C17.75 17.0029 17.4718 16.2846 16.9634 15.7065C16.4686 15.1438 15.7894 14.751 15.0352 14.4727C13.539 13.9206 11.5536 13.75 9.5005 13.75Z' stroke='%23111111' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.46297 11.9167H9.4653H9.50053C12.6136 11.9167 15.25 9.58823 15.25 6.58286C15.25 3.57729 12.6133 1.25 9.50053 1.25C6.38841 1.25 3.75084 3.57639 3.75003 6.58147C3.73976 9.57787 6.36069 11.907 9.46297 11.9167Z' stroke='%23111111' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
}

.account__mob {
  display: none;
}

//////////////////
.header__fixed {
  transform: translateY(-110%);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  z-index: 20;
  box-shadow: 0 5px 8px rgba(51, 51, 51, 0.05);
  transition: .5s transform;

  &.showed {
    transform: translateY(0);
  }
}

.headerf__content {
  height: 100px;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  position: relative;
}

.headerf__part {
  align-items: center;
  align-content: center;

  .header__city {
    margin-left: 40px;
  }

  .header__button {
    margin-right: 32px;

    &:last-child {
      margin: 0;
    }
  }
}


@media screen and (max-width: 1200px) {
  //////////////////
  .headerf__content {
    height: 150px;
    padding-top: 30px;
    align-content: flex-start;
  }
  .headerf__part {
    .header__city {
      margin-left: 0;
      left: 50%;
      transform: translateX(-50%);
      top: 20px;
      position: absolute;
      .select__city input {
        height: 50px;
        width: 250px;
      }
    }
    .header__logo {
      width: 136px;
      display: block;
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
    .headerf__buttons {
      position: absolute;
      bottom: 14px;
      left: 0;
      right: 0;
      justify-content: space-between;
    }
    .header__button {
      width: calc(50% - 10px);
      height: 50px;
      margin-right: 0;
    }
    .header__account {
      display: flex;
    }
  }
}



@media screen and (max-width: 1440px) {
  .header__content {
    height: 88px;
  }
  .header__logo {
    height: 26px;
  }
  .header__city {
    margin-left: 40px;
  }
  .header__current {
    font-size: 13px;
    line-height: 42px;
    padding-right: 30px;
    &::after {
      width: 10px;
      height: 6px;
    }
  }
  .header__citylist {
    box-shadow: 0 15px 54px -10px rgba(0, 0, 0, 0.53);
    li {
      a {
        padding: 0 10px;
      }
    }
  }
  .header__button {
    height: 52px;
  }
  .header__account {
    margin-left: 20px;
    font-size: 13px;
    line-height: 17px;
    .account {
      width: 19px;
      height: 23px;
      margin-right: 10px;
    }
  }
}


@media screen and (max-width: 1200px) {
  //////////////////
  .headerf__content {
    height: 150px;
    padding-top: 30px;
    align-content: flex-start;
  }
  .headerf__part {
    .header__city {
      margin-left: 0;
      left: 50%;
      transform: translateX(-50%);
      top: 20px;
      position: absolute;
      .select__city input {
        height: 50px;
        width: 250px;
      }
    }
    .header__logo {
      width: 136px;
      display: block;
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
    .headerf__buttons {
      position: absolute;
      bottom: 14px;
      left: 0;
      right: 0;
      justify-content: space-between;
    }
    .header__button {
      width: calc(50% - 10px);
      height: 50px;
      margin-right: 0;
    }
    .header__account {
      display: flex;
    }
  }
}


@media screen and (max-width: 1024px) {
  .header__content {
    height: 64px;
  }
  .header__logo {
    height: 26px;
  }
  .header__city {
    margin-left: 24px;
    .select__city {
      input {
        width: 195px;
        height: 44px;
      }
    }
  }
  .header__current {
    font-size: 13px;
    line-height: 42px;
    padding-right: 30px;
    &::after {
      width: 10px;
      height: 6px;
    }
  }
  .header__citylist {
    box-shadow: 0 15px 54px -10px rgba(0, 0, 0, 0.53);
    li {
      a {
        padding: 0 10px;
      }
    }
  }
  .header__button {
    height: 44px;
    width: 180px;
  }
  .header__account {
    margin-left: 24px;
    font-size: 13px;
    line-height: 17px;
    .account {
      width: 19px;
      height: 23px;
      margin-right: 10px;
    }
  }
  /////////
  .headerf__content {
    height: 80px;
    padding-top: 0;
    align-items: center;
    align-content: center;
  }
  .headerf__part {
    width: 100%;
    &:first-child {
      display: none;
    }
    .headerf__buttons {
      bottom: 24px;
      position: static;
      width: 100%;
    }
    .header__account {
      display: none;
    }
  }
}


@media screen and (max-width: 760px) {
  .header__content {
    height: 64px;
  }
  .header__part {
    width: 100%;
    justify-content: space-between;
  }
  .header__part:last-child {
    display: none;
  }
  .header__logo {
    height: 20px;
  }
  .header__unpart {
    align-items: center;
    align-content: center;
    display: flex;
  }
  .account__mob {
    margin-right: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: $text1;
    img {
      width: 15px;
      height: 20px;
      margin-right: 12px;
      display: block;
    }
  }
  .header__city {
    margin-left: 0;
  }
  .header__current {
    font-size: 15px;
    line-height: 34px;
    padding-right: 32px;
    &::after {
      width: 12px;
      height: 8px;
    }
  }
  .header__citylist {
    left: auto;
    right: 0;
    box-shadow: 0 15px 54px -10px rgba(0, 0, 0, 0.53);
    li {
      a {
        padding: 0 10px;
      }
    }
  }
  .header__button {
    height: 44px;
    width: 180px;
  }
  .header__account {
    margin-left: 24px;
    font-size: 13px;
    line-height: 17px;
    .account {
      width: 19px;
      height: 23px;
      margin-right: 10px;
    }
  }
}


@media screen and (max-width: 650px) {
  //////////////////
  .headerf__content {
    height: 80px;
    padding-top: 0;
    align-items: center;
    align-content: center;
  }
  .headerf__part {
    width: 100%;
    &:first-child {
      display: none;
    }
    .headerf__buttons {
      bottom: 24px;
      position: static;
      width: 100%;
    }
    .header__account {
      display: none;
    }
  }
}



@media screen and (max-width: 550px) {
  .header__content {
    height: 120px;
    padding-top: 20px;
    position: relative;
    align-content: flex-start;
  }
  .header__city {
    bottom: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    .select__city {
      input {
        width: 250px;
        height: 40px;
      }
    }
  }
  .account__mob {
    margin: 0;
  }
  .header__part {
    display: flex !important;
  }
    .modal__button {
        margin: 0 auto;
        margin-top: 25px;
      max-width: 100%;
    }
}


@media screen and (max-width: 428px) {
  .header__content {
    height: 28.04vw;
    padding-top: 5vw !important;
  }
  .header__logo {
    height: 4.95vw;
  }
  .account__mob {
    font-size: 3.04vw;
    line-height: 3.74vw;
    img {
      width: 3.5vw;
      height: 4.67vw;
      margin-right: 2.8vw;
    }
  }
  .header__current {
    font-size: 3.5vw;
    line-height: 7.94vw;
    padding-right: 7.48vw;
    &::after {
      width: 2.8vw;
      height: 1.87vw;
    }
  }
  .header__city {
    bottom: 4.67vw;

    .select__city {
      input {
        width: 58.41vw;
        height: 9.35vw;
        &:focus {
          border-radius: 0.93vw 0.93vw 0 0;
          & + .select_citylist {
            & + .city__line {
              left: 4.67vw;
              right: 4.67vw;
            }
          }
        }
      }
      .select_citylist {
        box-shadow: 0 4.67vw 12.62vw rgba(150, 184, 197, 0.34);
      }
    }
  }
  .header__citylist {
    box-shadow: 0 3.5vw 12.62vw -2.34vw rgba(0, 0, 0, 0.53);
    li {
      a {
        padding: 0 2.34vw;
      }
    }
  }
  .header__button {
    height: 10.28vw;
    width: 42.06vw;
  }
  .header__account {
    margin-left: 5.61vw;
    font-size: 3.04vw;
    line-height: 3.97vw;
    .account {
      width: 4.44vw;
      height: 5.37vw;
      margin-right: 2.34vw;
    }
  }
  .header__button {
    bottom: 5.61vw;
    width: 88.79vw;
    height: 14.02vw;
    box-shadow: 0 3.5vw 12.62vw -2.34vw rgba(59, 134, 195, 0.53);
  }
  //////////////////
  .headerf__content {
    height: 18.69vw;
  }
  .headerf__part {
    .header__button {
      height: 11.68vw;
      width: calc(50% - 2.34vw);
      margin: 0;
      top: auto;
      bottom: auto;
      box-shadow: none;
    }
  }
}
