.help__popup {
  height: 504px;
  width: 930px;
  padding: 0;
  display: flex;
  background-color: #fff;

  .popup__close {
    width: 24px;
    height: 24px;
    top: 60px;
    right: 60px;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 9.33375L21.3338 0L24 2.66625L14.6662 12L24 21.3338L21.3338 24L12 14.6662L2.66625 24L0 21.3338L9.33375 12L0 2.66625L2.66625 0L12 9.33375Z' fill='white'/%3E%3C/svg%3E%0A");
    transition: .3s;

    &:hover {
      background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 9.33375L21.3338 0L24 2.66625L14.6662 12L24 21.3338L21.3338 24L12 14.6662L2.66625 24L0 21.3338L9.33375 12L0 2.66625L2.66625 0L12 9.33375Z' fill='%23FFD82A'/%3E%3C/svg%3E%0A");
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    //transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff;
    -webkit-background-clip: text;
  }
}

.help__left {
  width: 360px;
  padding: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .popup__title {
    padding: 0;
  }
}

.help__text {
  margin-top: 10px;
  font-size: 15px;
  line-height: 19px;
  font-weight: 600;
}

.help__nav {
  margin-top: 25px;
}

.help__navitem {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.help__url {
  font-size: 15px;
  line-height: 19px;
  font-weight: 600;
  display: block;
  color: $text3;
  transition: .3s;
  position: relative;
  width: 100%;

  &.active {
    color: $yellow;

    &::after {
      right: -60px;
      top: 50%;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 10px 0;
      border-color: transparent $blue transparent transparent;
      content: '';
      position: absolute;
    }
  }

  &.done {
    display: flex;
    align-items: center;
    align-content: center;
    &::before {
      width: 10px;
      height: 10px;
      margin-right: 5px;
      content: '';
      background-image: url("data:image/svg+xml,%0A%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.74993 7.41689L9.16622 2L10 2.83319L3.74993 9.08326L0 5.33333L0.833186 4.50015L3.74993 7.41689Z' fill='%23FFD82A'/%3E%3C/svg%3E%0A");
    }
  }
}


.help__right {
  width: 570px;
  padding: 60px;
  background-color: $blue;
  height: 100%;

  .popup__form {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
  }
}

.help__step {
  width: 100%;
  display: none;
  justify-content: space-between;

  .chackbox {
    margin-top: 1.4em;
    a {
      display: none;
    }
  }

  &.active {
    display: flex;
    flex-wrap: wrap;

    .chackbox {
      a {
        display: inline-block;
      }
    }
  }

  &.fullheight {
    height: 100%;
    align-content: flex-end;
    align-items: flex-end;
  }

  .field__label {
    margin: 0;
    margin-bottom: 20px;
    width: 100%;

    .field__name {
      color: #fff;
    }

    &.fullWudth {
      width: 100%;
    }

    &.partWidth {
      width: calc(50% - 10px);
    }

    .focusLine {
      background-color: $yellow;
    }

    .field__input {
      color: #fff;
      border: none;
      border-bottom: 1px solid #fff;
      border-radius: 0;

      &::placeholder {
        color: transparent;
      }

      &:hover {
        & + label {
          color: rgba(255, 255, 255, .5);
        }
      }

      &:not(:placeholder-shown) {
        & + label {
          color: $yellow;
        }
      }

      &:focus {
        & + label {
          color: $yellow;
        }

        &::placeholder {
          color: rgba(255, 255, 255, .5);
        }
      }
    }
  }

  .selector {
    width: 100%;
  }

  .selector__ctr {
    padding: 0 5px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    color: #fff;
    transition: .3s color;
    cursor: pointer;

    &:hover {
      color: #EEC96B;
    }

    &::after {
      right: 5px;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 6L10 0L0 0L5 6Z' fill='%23fff'/%3E%3C/svg%3E%0A");
    }
  }

  .selector__list {
    max-height: 248px;
    padding: 4px 0;
    background-color:#61A4DB;
    border: none;
    border-radius: 0;
    z-index: 16;
    overflow: auto;

    .selector__option {
      min-height: 40px;
      height: auto;
      padding: 16px 11px;
      border-bottom: 1px solid #fff;
      line-height: 1.2;
      color: #fff;

      &:hover {
        color: #EEC96B;
      }

      &:last-child {
        border: none;
      }
    }
  }

  .chackbox {
    padding: 0;
    margin-left: 0;
    margin-right: 0;

    &.agreeChack {
      margin-top: 1.5em;
    }

    &:hover {
      .check__false {
        border-color: #EEC96B !important;
      }
    }

    .check__kabel {
      height: auto;
    }

    .check__text {
      color: #fff;

      a {
        line-height: 20px;
        color: #fff;
        text-decoration: underline !important;
        text-decoration-style: dashed !important;
        text-underline-position: under !important;
        transition: .3s;

        &:hover {
          color: #EEC96B;
        }
      }
    }

    .check__false {
      border-color: #fff;
      transition: .3s;

      &::after {
        background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.33336 12.6434L15.9934 4.98254L17.1725 6.16088L8.33336 15L3.03003 9.69671L4.20836 8.51838L8.33336 12.6434Z' fill='%23EEC96B'/%3E%3C/svg%3E%0A");
      }
    }
  }

  .delievery__group {
    display: block;
    .field__label {
      width: 100%;
    }
  }

  .input__error {
    color: #EEC96B;
    &::before {
      background-image: url("data:image/svg+xml,%0A%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_697_98)'%3E%3Cpath d='M8.65818 1.37998L15.8982 13.9204C15.9649 14.0359 16 14.167 16 14.3004C16 14.4338 15.9649 14.5649 15.8982 14.6804C15.8315 14.7959 15.7355 14.8919 15.62 14.9586C15.5045 15.0253 15.3734 15.0604 15.24 15.0604H0.760005C0.626595 15.0604 0.495535 15.0253 0.38 14.9586C0.264464 14.8919 0.168523 14.7959 0.101819 14.6804C0.0351154 14.5649 -8.47299e-07 14.4338 0 14.3004C8.4733e-07 14.167 0.0351188 14.0359 0.101824 13.9204L7.34182 1.37998C7.40853 1.26445 7.50447 1.16851 7.62 1.10181C7.73554 1.03511 7.86659 1 8 1C8.13341 1 8.26446 1.03511 8.38 1.10181C8.49553 1.16851 8.59147 1.26445 8.65818 1.37998ZM7.23998 11.2603V12.7803H8.76002V11.2603H7.23998ZM7.23998 5.94013V9.74025H8.76002V5.94013H7.23998Z' fill='%23EEC96B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_697_98'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
    &.errorInner {
      p {
        color: #EEC96B;
        &::before {
          background-image: url("data:image/svg+xml,%0A%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_697_98)'%3E%3Cpath d='M8.65818 1.37998L15.8982 13.9204C15.9649 14.0359 16 14.167 16 14.3004C16 14.4338 15.9649 14.5649 15.8982 14.6804C15.8315 14.7959 15.7355 14.8919 15.62 14.9586C15.5045 15.0253 15.3734 15.0604 15.24 15.0604H0.760005C0.626595 15.0604 0.495535 15.0253 0.38 14.9586C0.264464 14.8919 0.168523 14.7959 0.101819 14.6804C0.0351154 14.5649 -8.47299e-07 14.4338 0 14.3004C8.4733e-07 14.167 0.0351188 14.0359 0.101824 13.9204L7.34182 1.37998C7.40853 1.26445 7.50447 1.16851 7.62 1.10181C7.73554 1.03511 7.86659 1 8 1C8.13341 1 8.26446 1.03511 8.38 1.10181C8.49553 1.16851 8.59147 1.26445 8.65818 1.37998ZM7.23998 11.2603V12.7803H8.76002V11.2603H7.23998ZM7.23998 5.94013V9.74025H8.76002V5.94013H7.23998Z' fill='%23EEC96B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_697_98'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        }
      }
    }
  }
}

.step__buttons {
  padding-top: 20px;
  display: flex;
  width: 100%;
  position: relative;
  z-index: 0;

  &.oneButton {
    justify-content: center;

    a, button {
      width: 300px;
    }
  }

  &.twoButton {
    justify-content: space-between;

    a, button {
      width: calc(50% - 10px);
    }
  }
}

.next__step, .prev__step {
  height: 60px;
}

.phone__group {
  margin-bottom: 20px;
  width: 100%;

  .field__label {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.labelCity {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .select__city {
    width: calc(100% - 35px);

    input {
      background-position: right 4px center;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_125_424)'%3E%3Cpath d='M11.0482 10.0737L14 13.0248L13.0248 14L10.0737 11.0482C8.9757 11.9285 7.60993 12.4072 6.20262 12.4052C2.77877 12.4052 0 9.62646 0 6.20262C0 2.77877 2.77877 0 6.20262 0C9.62646 0 12.4052 2.77877 12.4052 6.20262C12.4072 7.60993 11.9285 8.9757 11.0482 10.0737ZM9.66575 9.56237C10.5404 8.66291 11.0289 7.45722 11.0269 6.20262C11.0269 3.53687 8.86768 1.37836 6.20262 1.37836C3.53687 1.37836 1.37836 3.53687 1.37836 6.20262C1.37836 8.86768 3.53687 11.0269 6.20262 11.0269C7.45722 11.0289 8.66291 10.5404 9.56237 9.66575L9.66575 9.56237Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_125_424'%3E%3Crect width='14' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

      &:focus {
        background-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_125_424)'%3E%3Cpath d='M11.0482 10.0737L14 13.0248L13.0248 14L10.0737 11.0482C8.9757 11.9285 7.60993 12.4072 6.20262 12.4052C2.77877 12.4052 0 9.62646 0 6.20262C0 2.77877 2.77877 0 6.20262 0C9.62646 0 12.4052 2.77877 12.4052 6.20262C12.4072 7.60993 11.9285 8.9757 11.0482 10.0737ZM9.66575 9.56237C10.5404 8.66291 11.0289 7.45722 11.0269 6.20262C11.0269 3.53687 8.86768 1.37836 6.20262 1.37836C3.53687 1.37836 1.37836 3.53687 1.37836 6.20262C1.37836 8.86768 3.53687 11.0269 6.20262 11.0269C7.45722 11.0289 8.66291 10.5404 9.56237 9.66575L9.66575 9.56237Z' fill='%23EEC96B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_125_424'%3E%3Crect width='14' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }

      &:hover {
        background-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_125_424)'%3E%3Cpath d='M11.0482 10.0737L14 13.0248L13.0248 14L10.0737 11.0482C8.9757 11.9285 7.60993 12.4072 6.20262 12.4052C2.77877 12.4052 0 9.62646 0 6.20262C0 2.77877 2.77877 0 6.20262 0C9.62646 0 12.4052 2.77877 12.4052 6.20262C12.4072 7.60993 11.9285 8.9757 11.0482 10.0737ZM9.66575 9.56237C10.5404 8.66291 11.0289 7.45722 11.0269 6.20262C11.0269 3.53687 8.86768 1.37836 6.20262 1.37836C3.53687 1.37836 1.37836 3.53687 1.37836 6.20262C1.37836 8.86768 3.53687 11.0269 6.20262 11.0269C7.45722 11.0289 8.66291 10.5404 9.56237 9.66575L9.66575 9.56237Z' fill='%23EEC96B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_125_424'%3E%3Crect width='14' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
  }

  .quote {
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_611_979)'%3E%3Cpath d='M7 13.9999C3.1339 13.9999 0 10.866 0 6.99988C0 3.13378 3.1339 -0.00012207 7 -0.00012207C10.8661 -0.00012207 14 3.13378 14 6.99988C14 10.866 10.8661 13.9999 7 13.9999ZM6.3 9.09988V10.4999H7.7V9.09988H6.3ZM7.7 7.94838C8.26257 7.77882 8.74552 7.41284 9.06091 6.9171C9.3763 6.42135 9.50313 5.82882 9.41831 5.2474C9.3335 4.66599 9.04268 4.13439 8.59881 3.7494C8.15494 3.36441 7.58756 3.15165 7 3.14988C6.4336 3.14983 5.88466 3.34599 5.44655 3.70497C5.00844 4.06396 4.70821 4.56362 4.5969 5.11898L5.9703 5.39408C6.00928 5.19908 6.10282 5.01916 6.24006 4.87525C6.37729 4.73134 6.55257 4.62936 6.7455 4.58117C6.93843 4.53299 7.14107 4.54057 7.32985 4.60306C7.51864 4.66554 7.6858 4.78034 7.81188 4.93412C7.93797 5.08789 8.0178 5.2743 8.04208 5.47167C8.06636 5.66903 8.03409 5.86924 7.94904 6.04899C7.86399 6.22873 7.72964 6.38063 7.56163 6.48701C7.39362 6.59338 7.19885 6.64987 7 6.64988C6.81435 6.64988 6.6363 6.72363 6.50503 6.8549C6.37375 6.98618 6.3 7.16423 6.3 7.34988V8.39988H7.7V7.94838Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_611_979'%3E%3Crect width='14' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

    .quote__text {
      right: -33px;
      left: auto;
      color: $blue;
      background-color: #fff;

      &::after {
        right: 36px;
        left: auto;
        border-color: #fff transparent transparent transparent;
      }
      &::before {
        position: absolute;
        content: '';
        right: 33px;
        left: auto;
        width: 20px;
        height: 20px;
        top: 100%;
      }
    }
  }

  .select_citylist {
    padding-top: 4px;
    max-height: 134px;
    border-radius: 0;
    border: none;
    border-top: none;
    overflow: auto;
    background-color: $blue;
    .city__item {
      line-height: 34px;
      a, span {
        padding: 4px 11px;
        color: #fff;
        &:hover {
          background-color: transparent;
          color: #EEC96B;
        }
      }
    }
  }
}

.finalstep__title {
  font-size: 34px;
  line-height: 43px;
  font-weight: 700;
  color: #fff;
  letter-spacing: -1px;
  text-align: center;
  width: 100%;
}

.finalstep__text {
  margin-top: 20px;
  font-size: 15px;
  line-height: 19px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  width: 100%;
}

.help__progres {
  display: none;
}

.lastStepBtn {
  margin-top: 1.5em;
}


@media screen and (max-width: 1024px) {
  .help__popup {
    height: 540px;
    width: calc(100% - 80px);
    .popup__close {
      top: 30px;
      right: 30px;
    }
  }
  .help__left {
    width: 39%;
    padding: 30px;
    padding-bottom: 40px;
    .popup__title {
      text-align: left;
    }
  }
  .help__url {
    &.active {
      &::after {
        right: -31px;
      }
    }
  }
  .help__right {
    width: 61%;
    padding: 30px;
    padding-bottom: 40px;
  }
  .help__step {
    .field__label {
      margin-bottom: 20px;
      &.partWidth {
        width: 100%;
      }
      .help__label {
        top: 10px;
      }
    }
    .delievery__group {
      .field__label {
        margin-bottom: 20px;
      }
    }
    .check__text br {
      display: none;
    }
    .partWidth {
      width: 100%;
    }
    .phone__group {
      .field__label {
        margin-bottom: 30px;
      }
    }
  }
  .step__buttons {
    padding-top: 20px;
  }
}


@media screen and (orientation: landscape ) and (max-width: 900px) {
  .help__popup {
    transform: none !important;
    left: auto !important;
    top: auto !important;
    margin: 0 auto !important;
  }
}


@media screen and (min-width: 760px) {
  .help__progres {
    display: none !important;
  }
}

@media screen and (max-width: 760px) {
  .help__popup {
    height: auto;
    width: 480px;
    max-width: calc(100% - 30px);
    display: block;
    .popup__close {
      top: 20px;
      right: 20px;
      width: 20px;
      height: 20px;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_611_620)'%3E%3Cpath d='M10 7.77813L17.7781 0L20 2.22187L12.2219 10L20 17.7781L17.7781 20L10 12.2219L2.22187 20L0 17.7781L7.77813 10L0 2.22187L2.22187 0L10 7.77813Z' fill='%23333333'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_611_620'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  }
  .help__left {
    padding-bottom: 20px;
    width: 100%;
    height: auto;
    text-align: center;
    display: block;
    .popup__title {
      font-size: 24px;
      line-height: 30px;
      text-align: center;
    }
  }
  .help__nav {
    display: none;
  }
  .help__right {
    padding-top: 20px;
    padding-bottom: 40px;
    width: 100%;
  }
  .help__step {
    .field__label {
      margin: 0;
      margin-bottom: 20px;
    }
  }
  .step__buttons {
    padding-top: 24px;
    &.oneButton {
      a, button {
        width: 100%;
      }
    }
  }
  .phone__group {
    margin-bottom: 15px;
    .field__label {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .help__step .delievery__group .field__label {
    margin-bottom: 15px;
  }
  .finalstep__title {
    font-size: 24px;
    line-height: 30px;
    padding-top: 60px;
  }
  .finalstep__text {
    font-size: 15px;
    line-height: 19px;
    margin-top: 10px;
    padding-bottom: 15px;
  }
  .help__progres {
    margin-bottom: 15px;
    display: block;
    width: 100%;
  }
  .hprog__top {
    font-size: 15px;
    line-height: 19px;
    font-weight: 700;
    justify-content: space-between;
    color: #fff;
  }
  .progress__bar {
    margin-top: 10px;
    height: 5px;
    border-radius: 3px;
    position: relative;
    background-color: #fff;
    width: 100%;
  }
  .progress__line {
    border-radius: 3px;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #EEC96B;
    position: absolute;
    transition: .3s;
  }
}


@media screen and (max-width: 428px) {
  .help__popup {
    .popup__close {
      top: 4.67vw;
      right: 4.67vw;
      width: 4.67vw;
      height: 4.67vw;
    }
  }
  .help__left {
    padding: 7.01vw;
    padding-bottom: 4.67vw;
    .popup__title {
      font-size: 5.61vw;
      line-height: 7.01vw;
    }
  }
  .help__text {
    margin-top: 2.34vw;
    font-size: 3.5vw;
    line-height: 4.44vw;
  }
  .help__right {
    padding: 7.01vw;
    padding-top: 4.67vw;
    padding-bottom: 10vw;
  }
  .help__step {
    .field__label {
      margin-bottom: 4.67vw;
    }
    .selector__ctr {
      padding: 0 1.17vw;
      &::after {
        right: 1.17vw;
      }
    }
    .selector__list {
      max-height: 57.9vw;
      padding: 0.93vw 0;
      .selector__option {
        min-height: 9.35vw;
        height: auto;
        padding: 3.74vw 2.57vw;
      }
    }
    .chackbox {
      .check__text {
        a {
          line-height: 4.67vw;
        }
      }
    }
  }
  .step__buttons {
    padding-top: 5.61vw;
    &.twoButton {
      a, button {
        width: calc(50% - 2.34vw);
      }
    }
  }
  .next__step, .prev__step {
    height: 14.02vw;
  }
  .phone__group {
    margin-bottom: 4.67vw;
    .field__label {
      margin-bottom: 6.67vw;
    }
  }
  .labelCity {
    .select__city {
      width: calc(100% - 8.18vw);
      input {
        background-position: right 0.93vw center;
      }
    }
    .quote {
      width: 3.27vw;
      height: 3.27vw;
      .quote__text {
        right: -7.71vw;
        &::after {
          right: 8.41vw;
          left: auto;
        }
        &::before {
          right: 7.71vw;
          left: auto;
          width: 4.67vw;
          height: 4.67vw;
        }
      }
    }
    .select_citylist {
      padding-top: 0.93vw;
      max-height: 31.31vw;
      .city__item {
        line-height: 7.94vw;
        a, span {
          padding: 0.93vw 2.57vw;
        }
      }
    }
  }
  .finalstep__title {
    font-size: 5.61vw;
    line-height: 7.01vw;
    padding-top: 14.02vw;
  }

  .finalstep__text {
    font-size: 3.5vw;
    line-height: 4.44vw;
    margin-top: 2.34vw;
    padding-bottom: 2.02vw;
  }
  .help__progres {
    margin-bottom: 3.5vw;
  }
  .hprog__top {
    font-size: 3.5vw;
    line-height: 4.44vw;
  }
  .progress__bar {
    margin-top: 2.34vw;
    height: 1.17vw;
    border-radius: 0.7vw;
  }
  .progress__line {
    border-radius: 0.7vw;
  }
}