.page__account {
  padding-bottom: 108px;
}

.account__content {
  margin-top: 6px;
  justify-content: space-between;
}

.account__title {
  font-size: 18px;
  line-height: 24px;
  padding: 20px 0;
  letter-spacing: -1px;
  font-weight: $bold;
  color: $text1;
}

.account__edit {
  width: 18.28%;
  width: 37%;
}

.account__form {
  border-radius: 5px;
  padding-top: 30px;
  padding-left: 17px;
  padding-bottom: 40px;
  padding-right: 34px;
  margin-top: 24px;
  background: #F5F5F5;
}

.accedit__label {
  margin-bottom: 20px;
  display: block;

  .accedit__fname {
    font-size: 11px;
    line-height: 20px;
    padding-left: 9px;
    font-weight: $bold;
    color: $blue;
    display: flex;
    align-items: center;
    align-content: center;

    img {
      margin-left: 6px;
      width: 12px;
      height: auto;
    }
  }
}

.accedit__input {
  height: 30px;
  padding: 0 10px;
  font-size: 13px;
  box-shadow: 0 20px 54px -10px rgba(150, 184, 197, 0.34);
  border-radius: 4px;
  margin-top: 1px;
  color: $text1;
  font-weight: $bold;
  background: #FFFFFF;
  display: block;
  width: 100%;
}

.accedit__button {
  margin-top: 36px;
  height: 55px;
  width: 100%;
  cursor: pointer;
}

.account__choosecat {
  width: 18.54%;
}

.choosecat__content {
  margin-top: 24px;
}

.choosecat__title {
  font-size: 13px;
  line-height: 1;
  font-weight: $bold;
}

.choosecat__ctrlcont {
  margin-top: 20px;
  margin-bottom: -30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .label {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    min-width: 110px;
  }

  .check__false {
    width: 50px;
    height: 50px;
  }

  .check__text {
    width: calc(100% - 50px);
    padding-left: 28px;
  }
}

.choosecat__ctrl {
  height: 50px;
  box-shadow: 0 20px 54px -10px rgba(150, 184, 197, 0.34);
  border-radius: 4px;
  font-size: 13px;
  line-height: 34px;
  padding: 0 30px;
  font-weight: $bold;
  text-decoration: underline !important;
  color: $blue;
  border: 1px solid #111111;
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;

  &::after {
    width: 10px;
    height: 6px;
    right: 22px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: contain;
    background-size: contain;
    content: '';
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%0A%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 6L10 0L0 0L5 6Z' fill='%23111111'/%3E%3C/svg%3E%0A");
  }
}

.choosecat__btn {
  margin-top: 36px;
  height: 55px;
  width: 100%;
}

.account__request {
  width: 59.34%;
}

.request__list {
  margin-top: 24px;
  z-index: 100 !important;
}

.request__item {
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 5px;
  background: #F5F5F5;

  &:last-child {
    margin-bottom: 0;
  }

  .last__nav {
    margin: 0;

    .last__navitem {
      margin-right: 11px;
      font-size: 11px;
      line-height: 15px;
      .last__icon {
        height: 14px;
        margin-right: 8px;
      }
      .last__navname {
        font-size: 13px;
      }
      &.place, &.date {
        margin-bottom: 0 !important;
      }
    }
  }
}

.request__top {
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.request__buttons {
  a {
    font-size: 13px;
    line-height: 17px;
    margin-right: 14px;
    font-weight: $bold;
    color: $text1;
    text-decoration: underline !important;

    &:last-child {
      margin-right: 0;
    }
  }

  .request__addwish {
    color: $blue;
    text-decoration: none !important;
  }
}

.request__middle {
  margin-top: 30px;
  max-width: 720px;
  width: 100%;
  align-items: center;
  align-content: center;
}

.request__img {
  width: 130px;
  height: 130px;
  overflow: hidden;
  position: relative;
}

.request__info {
  width: calc(100% - 130px);
  padding-left: 22px;
}

.request__title {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -1px;
  font-weight: $bold;
  color: $text1;
}

.request__text {
  font-size: 13px;
  line-height: 30px;
  margin-top: 15px;
  color: $text3;
}

.requst__bottom {
  margin-top: 10px;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;

  .last__navitem {
    margin-right: 28px !important;

    &:last-child {
      margin-right: 0 !important;
    }
  }
}

.request__btn {
  width: 200px;
  height: 55px;
}

.request__bl {
  align-items: center;
  align-content: center;
}

.request__save {
  font-size: 13px;
  line-height: 17px;
  margin-left: 48px;
  margin-bottom: 10px;
  text-decoration: underline !important;
  font-weight: $bold;
  color: $text1;
}

.request__img img {
  object-fit: contain !important;
}

.logout__url {
  background-color: transparent;
  border: 1px solid $blue;
  color: $blue;
  width: 100%;
  height: 55px;
  margin-top: 1.5em;
  transition: .3s;
  &::after {
    display: none;
  }
  &:hover {
    background-color: $blue;
    color: #fff;
    span {
      &::before {
        background-image: url("data:image/svg+xml,%0A%3Csvg width='9' height='10' viewBox='0 0 9 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.94669 5.27492L0.942088 9.94466C0.892328 9.97777 0.834518 9.99677 0.774815 9.99962C0.715112 10.0025 0.655753 9.98909 0.603059 9.96088C0.550365 9.93266 0.50631 9.89069 0.475586 9.83942C0.444862 9.78815 0.42862 9.7295 0.428589 9.66973V0.330266C0.42862 0.270496 0.444862 0.211852 0.475586 0.160583C0.50631 0.109313 0.550365 0.0673364 0.603059 0.0391245C0.655753 0.0109126 0.715112 -0.00247852 0.774815 0.000377512C0.834518 0.00323354 0.892328 0.0222299 0.942088 0.055343L7.94669 4.72508C7.99194 4.75525 8.02905 4.79614 8.05471 4.84409C8.08038 4.89205 8.09381 4.94561 8.09381 5C8.09381 5.05439 8.08038 5.10795 8.05471 5.15591C8.02905 5.20387 7.99194 5.24475 7.94669 5.27492Z' fill='%23fff'/%3E%3C/svg%3E%0A");
      }
    }
  }
  span {
    display: flex;
    align-items: center;
    align-content: center;
  }
}


@media screen and (max-width: 1610px) {
  .choosecat__ctrlcont {
    margin-top: 20px;
    .label {
      margin: 0;
      padding: 0;
      margin-bottom: 30px;
      min-width: 110px;
    }
    .check__false {
      width: 50px;
      height: 50px;
    }
    .check__text {
      width: calc(100% - 50px);
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .page__account {
    padding-bottom: 80px;
  }
  .account__content {
    margin-top: 8px;
  }
  .account__title {
    font-size: 18px;
    line-height: 24px;
    padding: 20px 0;
  }
  .account__edit {
    width: 100% !important;
  }
  .account__form {
    border-radius: 5px;
    padding-top: 24px;
    padding-left: 12px;
    padding-bottom: 24px;
    padding-right: 12px;
    margin-top: 0;
  }
  .accedit__label {
    margin-bottom: 18px;
    .accedit__fname {
      font-size: 11px;
      line-height: 20px;
      padding-left: 4px;
      img {
        margin-left: 6px;
        width: 12px;
      }
    }
  }
  .accedit__input {
    height: 30px;
    padding: 0 10px;
    font-size: 13px;
    box-shadow: 0 20px 54px -10px rgba(150, 184, 197, 0.34);
    border-radius: 4px;
  }
  .accedit__button {
    margin-top: 28px;
    height: 55px;
  }
  .account__choosecat {
    width: 24%;
  }
  .choosecat__content {
    margin-top: 0;
  }
  .choosecat__title {
    font-size: 13px;
  }
  .choosecat__ctrl {
    height: 50px;
    box-shadow: 0 20px 54px -10px rgba(150, 184, 197, 0.34);
    border-radius: 4px;
    font-size: 13px;
    line-height: 34px;
    padding: 0 30px;
    &::after {
      width: 10px;
      height: 6px;
      right: 22px;;
    }
  }
  .choosecat__btn {
    margin-top: 28px;
    height: 55px;
  }
  .account__request {
    width: 49%;
  }
  .request__list {
    margin-top: 0;
  }
  .request__item {
    margin-bottom: 24px;
    padding: 24px;
    border-radius: 5px;
    .last__nav {
      margin: 0;
      .last__navitem {
        margin-right: 11px;
        font-size: 11px;
        line-height: 15px;
        .last__icon {
          height: 14px;
          margin-right: 8px;
        }
      }
    }
  }
  .request__buttons {
    a {
      font-size: 13px;
      line-height: 17px;
      margin-right: 14px;
    }
  }
  .request__middle {
    margin-top: 30px;
    max-width: 720px;
  }
  .request__img {
    width: 130px;
    height: 130px;
  }
  .request__info {
    width: calc(100% - 130px);
    padding-left: 22px;
  }
  .request__title {
    font-size: 18px;
    line-height: 24px;
  }
  .request__text {
    font-size: 13px;
    line-height: 30px;
    margin-top: 15px;
  }
  .requst__bottom {
    margin-top: 22px;
    .last__navitem {
      margin-right: 28px !important;
    }
  }
  .request__bl {
    width: 100%;
  }
  .request__btn {
    width: 200px;
    height: 55px;
    margin-top: 22px;
  }
  .request__save {
    font-size: 13px;
    line-height: 17px;
    margin-left: 48px;
    margin-bottom: 10px;
  }
}


@media screen and (max-width: 1440px) {
  .account__edit, .account__choosecat {
    width: 48%;
  }
  .account__edit {
    width: 36% !important;
  }
  .account__request {
    width: 62%;
    margin-top: 0;
    .last__navitem {
      position: static !important;
      transform: none !important;
    }
  }
  .requst__bottom {
    margin-top: 10px;
  }
  .request__bl {
    width: auto;
  }
  .request__btn {
    margin-top: 0;
  }
  .choosecat__ctrlcont {
    justify-content: flex-start;
    .label {
      width: calc(100% / 3);
    }
  }
  .request__save {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .request__bl  .request__save {
    margin-top: -6px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .request__save {
    margin-bottom: 16px;
  }
  .account__request {
    width: 100%;
    margin-top: 54px;
  }
  .request__bl  .request__save {
    margin-top: 0;
    margin-left: 30px;
  }
  .account__edit {
    width: 100% !important;
  }
}

@media screen and (max-width: 960px) {
  .choosecat__ctrlcont {
    .label {
      width: calc(100% / 2);
    }
  }
}

.support__empty {
  text-align: center;

  .sec__title {
    font-size: 20px;
    line-height: 26px;
  }

  .button {
    margin-top: 30px;
    display: inline-flex;
  }
}


@media screen and (max-width: 760px) {
  .requst__bottom {
    margin-top: 22px;
  }
  .request__bl {
    width: 100%;
  }
  .request__btn {
    margin-top: 22px;
  }
  .choosecat__ctrlcont {
    margin-top: 20px;
    justify-content: space-between;
    .label {
      margin: 0;
      padding: 0;
      margin-bottom: 30px;
      min-width: 90px;
      width: auto;
    }
    .check__false {
      width: 32px;
      height: 32px;
    }
    .check__text {
      width: calc(100% - 32px);
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}


@media screen and (max-width: 520px) {
  .page__account {
    padding-bottom: 0;
  }
  .account__content {
    margin-top: 0;
  }
  .account__title {
    font-size: 18px;
    line-height: 24px;
    padding: 18px 0;
    text-align: center;
  }
  .account__edit {
    width: 100%;
  }
  .account__form {
    border-radius: 5px;
    padding-top: 24px;
    padding-left: 42px;
    padding-bottom: 32px;
    padding-right: 42px;
    text-align: center;
  }
  .accedit__label {
    margin-bottom: 18px;
    .accedit__fname {
      font-size: 11px;
      line-height: 20px;
      padding-left: 0;
      justify-content: center;
      img {
        margin-left: 6px;
        width: 12px;
      }
    }
  }
  .accedit__input {
    height: 40px;
    padding: 0 10px;
    font-size: 13px;
    box-shadow: 0 20px 54px -10px rgba(150, 184, 197, 0.34);
    border-radius: 4px;
    margin-top: 9px;
    text-align: center;
  }
  .accedit__button {
    margin: 0 -42px;
    margin-top: 28px;
    height: 55px;
    width: calc(100% + 84px);
    display: flex;
  }
  .account__choosecat {
    margin-top: 10px;
    width: 100%;
  }
  .choosecat__content {
    margin-top: 12px;
  }
  .choosecat__title {
    font-size: 13px;
    text-align: center;
  }
  .choosecat__ctrl {
    height: 50px;
    box-shadow: 0 20px 54px -10px rgba(150, 184, 197, 0.34);
    border-radius: 4px;
    font-size: 13px;
    line-height: 34px;
    padding: 0 30px;
    justify-content: center;
    align-items: center;
    align-content: center;
    &::after {
      width: 10px;
      height: 6px;
      right: 22px;
      margin-left: 15px;
      position: static;
      transform: translateY(0.3vw);
    }
  }
  .choosecat__btn {
    margin-top: 28px;
    height: 55px;
  }
  .account__request {
    width: 100%;
    position: relative;
    background-color: #F5F5F5;
    &::after, &::before {
      width: 24px;
      content: '';
      position: absolute;
      bottom: 0;
      top: 0;
      background-color: #F5F5F5;
    }
    &::after {
      right: 0;
      transform: translateX(100%);
    }
    &::before {
      left: 0;
      transform: translateX(-100%);
    }
    .account__title {
      font-size: 24px;
      line-height: 32px;
      padding: 32px 0;
    }
  }
  .request__list {
    margin: 0 -24px;
    position: relative;
    z-index: 30;
  }
  .request__item {
    margin-bottom: 50px;
    padding: 24px;
    padding-top: 28px;
    padding-bottom: 195px;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    .last__nav {
      margin: 0;
      width: 100%;
      justify-content: space-between;
      .last__navitem {
        margin-right: 0;
        font-size: 15px;
        line-height: 20px;
        .last__icon {
          height: 20px;
          margin-right: 15px;
        }
      }
    }
  }
  .request__buttons {
    a {
      font-size: 16px;
      line-height: 20px;
    }
  }
  .request__addwish {
    left: 24px;
    bottom: 200px;
    position: absolute;
  }
  .request__edit {
    bottom: 50px;
    position: absolute;
    left: calc(50% - 15px);
    transform: translateX(-100%);
    margin: 0 !important;
  }
  .request__middle {
    margin-top: 32px;
    max-width: 100%;
    display: block;
    order: 2;
  }
  .request__img {
    height: 250px;
    left: 24px;
    right: 24px;
    top: 79px;
    border-radius: 5px;
    width: auto;
    position: absolute;
  }
  .request__info {
    width: 100%;
    padding-left: 0;
  }
  .request__title {
    font-size: 24px;
    line-height: 32px;
  }
  .request__text {
    font-size: 13px;
    line-height: 30px;
    margin-top: 16px;
  }
  .requst__bottom {
    margin-top: 317px;
    .last__navitem {
      margin-right: 0 !important;
    }
    .last__nav {
      justify-content: space-between;
      .last__navitem {
        .last__icon {
          margin-right: 8px !important;
        }
      }
    }
  }
  .request__bl {
    width: 100%;
  }
  .request__btn {
    left: 24px;
    right: 24px;
    bottom: 107px;
    height: 55px;
    width: auto;
    margin-top: 0;
    position: absolute;
  }
  .request__save {
    right: auto;
    left: calc(50% + 15px);
    bottom: 50px;
    font-size: 16px;
    line-height: 20px;
    margin-left: 0 !important;
    margin-bottom: 0;
    position: absolute;
    text-transform: capitalize;
  }
  .selected__requests {
    padding-top: 66px;
    .sec__title {
      font-size: 34px;
      line-height: 45px;
    }
  }
  .choosecat__ctrlcont {
    margin-top: 20px;
    justify-content: space-between;
    .label {
      margin: 0;
      padding: 0;
      margin-bottom: 30px;
      min-width: 110px;
      width: calc(100% / 2);
    }
    .check__false {
      width: 50px;
      height: 50px;
    }
    .check__text {
      width: calc(100% - 50px);
      padding-left: 12px;
      padding-right: 12px;
    }
  }
  .support__empty {
    padding-bottom: 4em;
  }
}


@media screen and (max-width: 428px) {
  .page__account {
    .page__title {
      width: 100%;
      text-align: center;
    }
  }
  .account__title {
    font-size: 4.21vw;
    line-height: 5.61vw;
    padding: 4.21vw 0;
  }
  .account__form {
    border-radius: 1.17vw;
    padding-top: 5.61vw;
    padding-left: 9.81vw;
    padding-bottom: 7.48vw;
    padding-right: 9.81vw;
  }
  .accedit__label {
    margin-bottom: 4.21vw;
    .accedit__fname {
      font-size: 2.57vw;
      line-height: 4.67vw;
      img {
        margin-left: 1.4vw;
        width: 2.8vw;
      }
    }
  }
  .accedit__input {
    height: 9.35vw;
    padding: 0 2.34vw;
    font-size: 3.04vw;
    box-shadow: 0 4.67vw 12.62vw -2.34vw rgba(150, 184, 197, 0.34);
    border-radius: 0.93vw;
    margin-top: 2.1vw;
  }
  .accedit__button {
    margin: 0 -9.81vw;
    margin-top: 6.54vw;
    height: 12.85vw;
    width: calc(100% + 19.62vw);
  }
  .account__choosecat {
    margin-top: 2.34vw;
  }
  .choosecat__content {
    margin-top: 2.8vw;
  }
  .choosecat__title {
    font-size: 3.04vw;
  }
  .choosecat__ctrlcont {
    margin-top: 4.67vw;
    margin-bottom: -7.01vw;
    .label {
      margin: 0;
      padding: 0;
      margin-bottom: 7.01vw;
      min-width: 25.7vw;
      width: calc(100% / 2 - 4.67vw);
    }
    .check__false {
      width: 11.68vw;
      height: 11.68vw;
    }
    .check__text {
      width: calc(100% - 11.68vw);
      padding-left: 2.8vw;
      padding-right: 2.8vw;
    }
  }
  .choosecat__ctrl {
    height: 11.68vw;
    box-shadow: 0 4.67vw 12.62vw -2.34vw rgba(150, 184, 197, 0.34);
    border-radius: 0.93vw;
    font-size: 3.04vw;
    line-height: 7.94vw;
    padding: 0 7.01vw;
    &::after {
      width: 2.34vw;
      height: 1.4vw;
      right: 5.14vw;
      margin-left: 3.5vw;
    }
  }
  .choosecat__btn {
    margin-top: 6.54vw;
    height: 12.85vw;
  }
  .account__request {
    &::after, &::before {
      width: 5.61vw;
    }
    .account__title {
      font-size: 5.61vw;
      line-height: 7.48vw;
      padding: 7.48vw 0;
    }
  }
  .request__list {
    margin: 0 -5.61vw;
    z-index: 30;
  }
  .request__item {
    margin-bottom: 11.68vw;
    padding: 5.61vw;
    padding-top: 6.54vw;
    padding-bottom: 46vw;
    border-radius: 1.17vw;
    position: relative;
    z-index: 30;
    .last__nav {
      .last__navitem {
        margin-right: 0;
        font-size: 3.5vw;
        line-height: 4.67vw;
        .last__icon {
          height: 4.67vw;
          margin-right: 3.5vw;
        }
        .last__navname {
          font-size: 3.04vw !important;
        }
      }
    }
  }
  .request__buttons {
    a {
      font-size: 3.74vw;
      line-height: 4.67vw;
      margin-right: 10px !important;
    }
  }
  .request__addwish {
    left: 5.61vw;
    bottom: 46.73vw;
  }
  .request__edit {
    bottom: 11.68vw;
    left: calc(50% - 3.5vw);
  }
  .request__middle {
    margin-top: 7.48vw;
  }
  .request__img {
    height: 58.41vw;
    left: 5.61vw;
    right: 5.61vw;
    top: 18.46vw;
    border-radius: 1.17vw;
  }
  .request__title {
    font-size: 5.61vw;
    line-height: 7.48vw;
  }
  .request__text {
    font-size: 3.04vw;
    line-height: 7.01vw;
    margin-top: 3.74vw;
  }
  .requst__bottom {
    margin-top: 74.07vw;
    .last__nav {
      .last__navitem {
        .last__icon {
          margin-right: 1.87vw !important;
        }
      }
    }
  }
  .request__btn {
    left: 5.61vw;
    right: 5.61vw;
    bottom: 25vw;
    height: 12.85vw;
  }
  .request__save {
    left: calc(50% + 3.5vw);
    bottom: 11.68vw;
    font-size: 3.74vw;
    line-height: 4.67vw;
  }
  .selected__requests {
    padding-top: 15.42vw;
    .sec__title {
      font-size: 7.94vw;
      line-height: 10.51vw;
    }
  }
  .support__empty {
    .sec__title {
      font-size: 4.67vw;
      line-height: 6.07vw;
    }
    .button {
      margin-top: 7.01vw;
    }
  }
  .logout__url {
    height: 12.85vw;
  }
  .breadcrumbs {
    display: none;
  }
}


