.page__about {
  padding-bottom: 100px;
}

.pabout__content {
  margin-top: 10px;
}

.pabout__img {
  height: 300px;
  overflow: hidden;
  position: relative;
}

.pabout__info {
  max-width: 1119px;
  margin-top: 65px;
  width: 100%;
}

.pabout__title {
  font-size: 54px;
  line-height: 72px;
  font-weight: $bold;
  color: $text1;
}

.pabout__text {
  font-size: 15px;
  line-height: 30px;
  margin-top: 50px;
  color: $text3;
}

.pabout__bottom {
  margin-top: 50px;
  align-items: center;
  align-content: center;
}

.pabout__button {
  width: 300px;
}

.pabout__contact {
  margin: 0;
  margin-left: 62px;
}


@media screen and (max-width: 1440px) {
  .page__about {
    padding-bottom: 80px;
  }
  .pabout__content {
    margin-top: 10px;
  }
  .pabout__img {
    height: auto;
    padding-top: 32.36%;
  }
  .pabout__info {
    margin-top: 48px;
  }
  .pabout__title {
    font-size: 38px;
    line-height: 62px;
  }
  .pabout__text {
    font-size: 15px;
    line-height: 30px;
    margin-top: 28px;
  }
  .pabout__bottom {
    margin-top: 44px;
  }
  .pabout__button {
    width: 300px;
  }
  .pabout__contact {
    margin: 0;
    margin-left: 62px;
  }
}


@media screen and (max-width: 760px) {
  .page__about {
    padding-bottom: 50px;
  }
  .pabout__content {
    margin-top: 50px;
  }
  .pabout__img {
    padding-top: 50.36%;
  }
  .pabout__info {
    margin-top: 62px;
  }
  .pabout__title {
    font-size: 30px;
    line-height: 30px;
  }
  .pabout__text {
    font-size: 14px;
    line-height: 30px;
    margin-top: 32px;
  }
  .pabout__bottom {
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .pabout__button {
    width: 300px;
  }
  .pabout__contact {
    margin: 0;
    margin-top: 32px;
  }
}


@media screen and (max-width: 428px) {
  .page__about {
    padding-bottom: 11.68vw;
  }
  .pabout__content {
    margin-top: 11.68vw;
  }
  .pabout__info {
    margin-top: 14.49vw;
    text-align: center;
  }
  .pabout__title {
    font-size: 7.01vw;
    line-height: 9.35vw;
  }
  .pabout__text {
    font-size: 3.27vw;
    line-height: 7.01vw;
    margin-top: 7.48vw;
  }
  .pabout__bottom {
    margin-top: 9.35vw;
  }
  .pabout__button {
    width: 100%;
  }
  .pabout__contact {
    margin: 0;
    margin-top: 7.48vw;
  }
}