.popup {
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  top: 0;
  z-index: 300;
  display: none;
}

.popup__underlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
  touch-action: none;
  -ms-touch-action: none;
}

.popup__container {
  padding: 24px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.popup__close {
  width: 24px;
  height: 24px;
  right: 60px;
  top: 60px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  transition: .3s;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_125_236)'%3E%3Cpath d='M12 9.33375L21.3338 0L24 2.66625L14.6662 12L24 21.3338L21.3338 24L12 14.6662L2.66625 24L0 21.3338L9.33375 12L0 2.66625L2.66625 0L12 9.33375Z' fill='%23333333'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_125_236'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

  &:hover {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_125_236)'%3E%3Cpath d='M12 9.33375L21.3338 0L24 2.66625L14.6662 12L24 21.3338L21.3338 24L12 14.6662L2.66625 24L0 21.3338L9.33375 12L0 2.66625L2.66625 0L12 9.33375Z' fill='%234F9AD7'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_125_236'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }
}

.popup__content {
  max-width: 920px;
  padding: 60px;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  z-index: 5;
  position: relative;

  &.popupCenter {
    left: 50%;
    top: 50%;
    right: auto;
    transform: translateY(-50%) translateX(-50%);
    margin: 0;
  }
}

.popup__title {
  font-size: 34px;
  line-height: 43px;
  padding: 0 1.5em;
  font-weight: 700;
  color: $text1;
  text-align: center;
  word-break: break-word;
}

.popup__form {
  margin: 0 -12px;
  margin-top: 50px;
}

.submit__cont {
  width: 100%;
  justify-content: center;
}


/////////
.label {
  margin: 0 12px;
  margin-bottom: 25px;

  &.l1 {
    width: calc(100% - 24px);
  }

  &.l2 {
    min-width: calc(100% / 3 * 2 - 24px);
  }

  &.l3 {
    width: calc(100% / 3 - 24px);
  }
}

.label__name {
  font-size: 13px;
  line-height: 16px;
  padding-bottom: 11px;
  display: block;
}

.input, .textarea, .selector__ctr {
  height: 50px;
  border-radius: 4px;
  padding: 0 24px;
  font-size: 13px;
  line-height: 18px;
  color: $text3;
  border: 1px solid #111111;
  display: block;
  width: 100%;
  max-width: 100%;
}

.textarea {
  height: 120px;
  padding: 14px 24px;
}

.selector {
  position: relative;

  &.openedSel {
    z-index: 5;
  }
}

.selector__ctr {
  padding-right: 36px;
  display: flex !important;
  align-items: center;
  align-content: center;
  position: relative;

  &::after {
    width: 10px;
    height: 6px;
    right: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: contain;
    background-size: contain;
    top: 50%;
    transform: translateY(-50%) rotate(0);
    content: '';
    position: absolute;
    transition: .3s;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 6L10 0L0 0L5 6Z' fill='%23111111'/%3E%3C/svg%3E%0A");
  }

  &.opened {
    &::after {
      transform: translateY(-50%) rotate(-90deg);
    }
  }
}

.chackbox {
  padding-top: 27px;

  &.isName {
    padding-top: 0;
  }
}

.checkbox__group {
  padding-top: 27px;
  width: 250px;
  margin-bottom: 25px;
  .chackbox {
    margin-bottom: 10px;
    padding: 0;
    height: auto;
    &:last-child {
      margin-bottom: 0;
    }
    .check__kabel {
      height: auto;
      .check__false {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.delievery__group {
  width: 100%;
  display: flex;
}

.inputHidden {
  display: none;

  &:checked + label .check__false::after {
    opacity: 1;
  }

  &:checked + label .check__false {
    border-color: #FFD82A !important;
  }
}

.check__kabel {
  height: 50px;
  align-items: center;
  align-content: center;
}

.check__false {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid #111111;
  position: relative;

  &::after {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: contain;
    background-size: contain;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.33336 12.6434L15.9934 4.98254L17.1725 6.16088L8.33336 15L3.03003 9.69671L4.20836 8.51838L8.33336 12.6434Z' fill='%234F9AD7'/%3E%3C/svg%3E%0A");
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    opacity: 0;
    transition: .3s;
  }
}

.check__text {
  width: calc(100% - 24px);
  padding-left: 10px;
  font-size: 13px;
  line-height: 16px;
  color: $text1;

  a {
    color: $blue;
  }
}

.selector {
  position: relative;
  z-index: 2;
}

.selector__list {
  top: calc(100% - 2px);
  background-color: #fff;
  border: 1px solid #111111;
  border-radius: 0 0 4px 4px;
  position: absolute;
  left: 0;
  right: 0;
  display: none;
}

.inputSel {
  display: none;
}

.selector__option {
  height: 50px;
  padding: 0 19px;
  font-size: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  line-height: 1.2;
  display: flex;
  align-items: center;
  align-content: center;
  cursor: pointer;
  transition: .3s;

  &:hover {
    color: $blue;
  }
}

.hiddenFirst {
  display: none;
}

.select__city {
  position: relative;

  input {
    -webkit-background-size: 14px 14px;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: right 24px center;
    transition: .3s border-color;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_125_424)'%3E%3Cpath d='M11.0482 10.0737L14 13.0248L13.0248 14L10.0737 11.0482C8.9757 11.9285 7.60993 12.4072 6.20262 12.4052C2.77877 12.4052 0 9.62646 0 6.20262C0 2.77877 2.77877 0 6.20262 0C9.62646 0 12.4052 2.77877 12.4052 6.20262C12.4072 7.60993 11.9285 8.9757 11.0482 10.0737ZM9.66575 9.56237C10.5404 8.66291 11.0289 7.45722 11.0269 6.20262C11.0269 3.53687 8.86768 1.37836 6.20262 1.37836C3.53687 1.37836 1.37836 3.53687 1.37836 6.20262C1.37836 8.86768 3.53687 11.0269 6.20262 11.0269C7.45722 11.0289 8.66291 10.5404 9.56237 9.66575L9.66575 9.56237Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_125_424'%3E%3Crect width='14' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

    &.focused {
      border-color: $blue;
    }
  }
}

.select_citylist {
  position: absolute;
  top: calc(100% - 2px);
  padding-top: 8px;
  max-height: 162px;
  border-radius: 0 0 5px 5px;

  border: 1px solid $text1;
  border-top: none;
  overflow: auto;
  background-color: #fff;
  left: 0;
  right: 0;
  z-index: 10;
  display: none;
  transition: .3s border;

  &.openedCity {
    border: 1px solid $blue;
    border-top: none;
  }

  &::before {
    left: 15px;
    right: 15px;
    height: 1px;
    background-color: $blue;
    opacity: .3;
    top: 0;
    content: '';
    position: absolute;
  }

  .city__item {
    margin-bottom: 0;
    font-size: 13px;
    line-height: 38px;
    cursor: pointer;
    a, span {
      padding: 0 25px;
      color: $text1;
      display: block;
      transition: .3s;
      cursor: pointer;
      &:hover {
        background-color: $blue;
        color: $yellow;
      }
    }
  }
}

#popup__auth {
  .submit__cont {
    margin-top: 1.5em;
  }
  .field__label {
    margin-bottom: 1.5em !important;
  }
}

#popup__after {
  .popup__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

.popup__aftertext {
  margin-top: 32px;
  font-size: 13px;
  line-height: 16px;
  text-align: center !important;
}

.reset__unput {
  margin-top: 0.5em;
}

//////
.popup__help {
  .popup__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    max-height: 90%;
    overflow: auto;
  }

  .popup__aftertext {
    margin-top: 40px;
    text-align: left;
    font-size: 13px;
    line-height: 30px;
  }

  .last__nav {
    margin-top: 20px;
    margin-bottom: -20px;
    .last__navitem {
      margin-bottom: 20px;
      &.place, &.date {
        position: static !important;
      }
    }
  }
}

.help__bottom {
  margin-top: 30px;
  margin-bottom: -18px;
  margin-right: -32px;
  align-items: center;
  align-content: center;
  display: none;

  &.showedContacrs {
    display: flex;
  }
}

.help__item {
  margin-right: 32px;
  margin-bottom: 18px;

  &.blue {
    a {
      color: $blue !important;
      text-decoration: underline !important;
    }
  }

  a, .help__itemspan {
    font-size: 15px;
    line-height: 19px;
    margin-left: 10px;
    color: $blue;

    &.black {
      color: $text1;
    }
  }
}

.help__conttitle {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -1px;
  font-weight: $bold;
}

.text-red-600 {
  line-height: 1.2;
  font-size: 0.8em;
  display: block;
  padding-top: 0.4em;
}

.forget__utl {
  color: $blue;
  display: inline-block;
  margin-top: 1.5em;
  transition: .3s;

  &:hover {
    color: $yellow;
  }
}

.error__textf {
  margin-top: 1.5em;
}

.reset__form {
  margin-top: 2em;
}

.help__buttonb {
  justify-content: center;
  a {
    margin-top: 30px;
  }
}

.help__shereblock {
  margin-top: 40px;
  border-radius: 10px;
  border: 1px solid #F5F5F5;
  background: #F5F5F5;
  align-items: center;
  align-content: center;
}

.helpshare__img {
  width: 218px;
  border-radius: 10px 0 0 10px;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.helpshare__right {
  padding-left: 20px;
}

.helpshare__title {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  color: $text1;
  letter-spacing: -1px;
}

.helpshare__text {
  font-size: 15px;
  line-height: 19px;
  margin-top: 10px;
  font-weight: 600;
  color: $text3;
}

.helpshare__url {
  margin-top: 10px;
  font-size: 15px;
  line-height: 19px;
  font-weight: 700;
  color: $blue;
  display: inline-flex;
  align-items: center;
  align-content: center;
  text-decoration: underline !important;
  text-decoration-style: dashed !important;
  text-underline-position: under !important;

  img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    filter: invert(74%) sepia(31%) saturate(5815%) hue-rotate(180deg) brightness(90%) contrast(86%);
  }
}

.help__remark {
  padding: 6px 10px;
  font-size: 0.8em;
  line-height: 1.2;
  border: 1px solid red;
  width: 100%;
  margin-bottom: 1em;
}

/////
.quote {
  width: 12px;
  height: 12px;
  top: 1px;
  left: 2px;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12C2.6862 12 0 9.3138 0 6C0 2.6862 2.6862 0 6 0C9.3138 0 12 2.6862 12 6C12 9.3138 9.3138 12 6 12ZM5.4 7.8V9H6.6V7.8H5.4ZM6.6 6.813C7.0822 6.66767 7.49616 6.35397 7.76649 5.92905C8.03683 5.50412 8.14554 4.99623 8.07284 4.49788C8.00014 3.99953 7.75086 3.54386 7.37041 3.21387C6.98995 2.88388 6.50363 2.70152 6 2.7C5.51451 2.69996 5.044 2.86809 4.66848 3.1758C4.29295 3.4835 4.03561 3.91178 3.9402 4.3878L5.1174 4.6236C5.15081 4.45646 5.23099 4.30224 5.34862 4.17889C5.46625 4.05554 5.61649 3.96813 5.78186 3.92682C5.94722 3.88552 6.12092 3.89203 6.28273 3.94558C6.44455 3.99914 6.58783 4.09754 6.6959 4.22935C6.80397 4.36115 6.8724 4.52093 6.89321 4.69011C6.91402 4.85928 6.88637 5.03088 6.81346 5.18495C6.74056 5.33902 6.6254 5.46922 6.4814 5.5604C6.33739 5.65158 6.17045 5.69999 6 5.7C5.84087 5.7 5.68826 5.76321 5.57574 5.87574C5.46321 5.98826 5.4 6.14087 5.4 6.3V7.2H6.6V6.813Z' fill='%234F9AD7'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;

  &:hover {
    .quote__text {
      opacity: 1;
      visibility: visible;
    }
  }
}

.quote__text {
  left: -33px;
  top: -32px;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  color: #fff;
  background-color: $blue;
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: .3s;

  &::after {
    bottom: -4px;
    left: 36px;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: $blue transparent transparent transparent;
  }

  &::before {
    position: absolute;
    content: '';
    left: 33px;
    width: 20px;
    height: 20px;
    top: 100%;
  }
}


@media screen and (max-width: 1024px) {
  .popup__container {
    padding: 16px;
  }
  .popup__close {
    width: 24px;
    height: 24px;
    right: 33px;
    top: 30px;
  }
  .popup__content {
    padding: 30px;
  }
  .popup__title {
    font-size: 24px;
    line-height: 30px;
  }
  .popup__form {
    margin: 0;
    margin-top: 30px;
    justify-content: space-between;
  }
  /////////
  .label {
    margin: 0;
    margin-bottom: 15px;
    &.l1 {
      width: 100%;
    }
    &.l2 {
      min-width: calc(50% - 8px);
    }
    &.l3 {
      width: calc(100% / 2 - 8px);
    }
    &.lm1 {
      width: 100%;
    }
    &.lm2 {
      width: calc(100% / 2 - 8px);
    }
    &.p1 {
      width: 100%;
    }
  }
  .delievery__group {
    margin: 0 -8px;
    width: calc(100% + 16px);
    .label {
      &.l2 {
        margin: 0 8px;
      }
      &.p1 {
        margin: 0 8px;
      }
    }
  }
  .submit__cont {
    margin-top: 25px;
  }
  .label__name {
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 11px;
  }
  .input, .textarea, .selector__ctr {
    height: 50px;
    border-radius: 4px;
    padding: 0 20px;
    font-size: 13px;
    line-height: 18px;
  }
  .textarea {
    height: 90px;
    padding: 12px 20px;
  }
  .selector__ctr {
    padding-right: 36px;
    &::after {
      width: 10px;
      height: 6px;
      right: 20px;
    }
  }
  .checkbox__group {
    width: calc(50% - 8px);
  }
  .chackbox {
    padding-top: 27px;
  }
  .check__kabel {
    height: 50px;
  }
  .check__false {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    &::after {
      width: 20px;
      height: 20px;
    }
  }
  .check__text {
    width: calc(100% - 24px);
    padding-left: 10px;
    font-size: 13px;
    line-height: 16px;
  }
  .selector__list {
    top: calc(100% - 2px);
    background-color: #fff;
    border: 1px solid #111111;
    border-radius: 0 0 4px 4px;
  }
  .selector__option {
    height: 50px;
    padding: 0 19px;
    font-size: 13px;
  }
  .select__city {
    input {
      -webkit-background-size: 14px 14px;
      background-size: 14px 14px;
      background-position: right 24px center;
    }
  }
  .select_citylist {
    top: calc(100% - 2px);
    padding-top: 8px;
    max-height: 162px;
    &::before {
      left: 15px;
      right: 15px;
    }
    .city__item {
      margin-bottom: 0;
      font-size: 13px;
      line-height: 38px;
      a {
        padding: 0 25px;
      }
    }
  }
  .form__button {
    width: 100%;
  }
  #popup__after {
    .popup__content {
      max-width: 90%;
    }
  }
  .popup__aftertext {
    margin-top: 22px;
    font-size: 13px;
    line-height: 16px;
  }
  ////////
  .help__buttonb {
    a {
      margin-top: 30px;
    }
  }

  .help__shereblock {
    margin-top: 30px;
    border-radius: 10px;
    align-content: stretch;
    align-items: stretch;
  }
  .helpshare__img {
    width: 126px;
    border-radius: 10px 0 0 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    align-content: center;
  }
  .helpshare__right {
    padding: 10px;
    width: calc(100% - 126px);
  }
  .helpshare__title {
    font-size: 15px;
    line-height: 19px;
  }
  .helpshare__text {
    font-size: 13px;
    line-height: 16px;
    margin-top: 10px;
  }
  .helpshare__url {
    margin-top: 10px;
    font-size: 13px;
    line-height: 16px;
    img {
      width: 18px;
      height: 18px;
      margin-right: 10px;
    }
  }
  //////
  .popup__help {
    .popup__content {
      max-width: 90%;
    }
    .popup__title {
      font-size: 24px;
      line-height: 30px;
      padding-left: 2em;
      padding-right: 2em;
      text-align: center;
    }
    .popup__aftertext {
      font-size: 13px;
      line-height: 30px;
    }
    .last__nav {
      margin-top: 20px;
      margin-bottom: -20px;
      justify-content: flex-start;
      .last__navitem {
        margin-bottom: 20px;
        margin-right: 20px;
        position: static !important;
        &.place, &.date {
          position: static !important;
        }
      }
      .last__icon {
        margin-right: 12px;
      }
    }
  }
  .help__bottom {
    margin-top: 30px;
    margin-right: 0;
    margin-bottom: -18px;
  }
  .help__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 18px;
    a {
      font-size: 15px;
      line-height: 18px;
      margin-left: 10px;
    }
  }
  .help__conttitle {
    font-size: 20px;
    line-height: 25px;
  }
}

@media screen and (max-width: 600px) {
  .delievery__group {
    margin: 0;
    width: 100%;
    display: block;
    .label {
      margin-bottom: 15px !important;
      &.l2 {
        margin: 0;
        width: 100%;
      }
      &.p1 {
        margin: 0;
        width: 100%;
      }
    }
  }
  .submit__cont {
    margin-top: 0;
  }
}


@media screen and (max-width: 565px) {
  .label {
    &.l3 {
      width: 100%;
    }
    &.lm1 {
      width: 100%;
    }
    &.lm2 {
      width: 100%;
    }
    &.chackbox {
      padding-top: 0;
    }
  }
  .checkbox__group {
    padding-top: 0;
    width: 100%;
  }
}


@media screen and (max-width: 428px) {
  .popup__container {
    padding: 3.74vw;
  }
  .popup__content {
    max-width: 91.12vw !important;
  }
  .popup__close {
    width: 5.61vw;
    height: 5.61vw;
    right: 7.71vw;
    top: 7.01vw;
  }
  .popup__content {
    padding: 7.01vw;
  }
  .popupMax {
    max-height: 100%;
    overflow: auto;
  }
  .popup__title {
    font-size: 5.61vw;
    line-height: 7.01vw;
  }
  .popup__form {
    margin-top: 7.01vw;
  }
  /////////
  .label {
    margin-bottom: 3.5vw;
  }
  .label__name {
    font-size: 3.04vw;
    line-height: 3.74vw;
    padding-bottom: 2.57vw;
  }
  .input, .textarea, .selector__ctr {
    height: 11.68vw;
    border-radius: 0.93vw;
    padding: 0 4.67vw;
    font-size: 3.04vw;
    line-height: 4.21vw;
  }
  .textarea {
    height: 21.03vw;
    padding: 2.8vw 4.67vw;
  }
  .selector__ctr {
    padding-right: 8.41vw;
    &::after {
      width: 2.34vw;
      height: 1.4vw;
      right: 4.67vw;
    }
  }
  .checkbox__group {
    margin-bottom: 3.5vw;
    padding-top: 0;
    .chackbox {
      margin-bottom: 2.34vw;
      .check__kabel {
        .check__false {
          width: 4.67vw;
          height: 4.67vw;
        }
      }
    }
  }
  .chackbox {
    padding-top: 0;
  }
  .check__kabel {
    height: 11.68vw;
  }
  .check__false {
    width: 5.61vw;
    height: 5.61vw;
    border-radius: 0.93vw;
    &::after {
      width: 4.67vw;
      height: 4.67vw;
    }
  }
  .check__text {
    width: calc(100% - 5.61vw);
    padding-left: 2.34vw;
    font-size: 3.04vw;
    line-height: 3.74vw;
  }
  .selector__list {
    top: calc(100% - 0.47vw);
    border-radius: 0 0 0.93vw 0.93vw;
  }
  .selector__option {
    height: 11.68vw;
    padding: 0 4.44vw;
    font-size: 3.04vw;
  }
  .select__city {
    input {
      -webkit-background-size: 3.27vw 3.27vw;
      background-size: 3.27vw 3.27vw;
      background-position: right 5.61vw center;
    }
  }
  .select_citylist {
    top: calc(100% - 0.47vw);
    padding-top: 1.87vw;
    max-height: 37.85vw;
    &::before {
      left: 3.5vw;
      right: 3.5vw;
    }
    .city__item {
      margin-bottom: 0vw;
      font-size: 3.04vw;
      line-height: 8.88vw;
      a {
        padding: 0 5.84vw;
      }
    }
  }
  #popup__after {
    .popup__content {
      max-width: 91.12vw !important;
    }
  }
  .popup__aftertext {
    margin-top: 5.02vw;
    font-size: 3.04vw;
    line-height: 3.74vw;
  }
  //////
  .popup__help {
    .popup__content {
      max-width: 91.12vw !important;
    }
    .popup__title {
      font-size: 5.61vw;
      line-height: 7.01vw;
    }
    .popup__aftertext {
      margin-top: 7.01vw;
      font-size: 3.04vw;
      line-height: 7.01vw;
    }
    .last__nav {
      margin-top: 4.67vw;
      margin-bottom: -4.67vw;
      .last__navitem {
        margin-bottom: 4.67vw;
        margin-right: 4.67vw;
      }
      .last__icon {
        margin-right: 2.8vw;
      }
    }
  }
  .help__bottom {
    margin-top: 4.67vw;
    margin-bottom: -4.67vw;
  }
  .help__item {
    margin-bottom: 4.67vw;
    a {
      font-size: 3.5vw;
      line-height: 4.21vw;
      margin-left: 2.34vw;
    }
  }
  .help__conttitle {
    font-size: 4.67vw;
    line-height: 5.84vw;
  }
  ////////
  .help__buttonb {
    a {
      margin-top: 7.01vw;
    }
  }
  .help__shereblock {
    margin-top: 7.01vw;
    border-radius: 2.34vw;
  }
  .helpshare__img {
    width: 29.44vw;
    border-radius: 2.34vw 0 0 2.34vw;
  }
  .helpshare__right {
    padding: 2.34vw;
    width: calc(100% - 29.44vw);
  }
  .helpshare__title {
    font-size: 3.5vw;
    line-height: 4.44vw;
  }
  .helpshare__text {
    font-size: 3.04vw;
    line-height: 3.74vw;
    margin-top: 2.34vw;
  }
  .helpshare__url {
    margin-top: 2.34vw;
    font-size: 3.04vw;
    line-height: 3.74vw;
    img {
      width: 4.21vw;
      height: 4.21vw;
      margin-right: 2.34vw;
    }
  }
  /////
  .quote {
    width: 2.8vw;
    height: 2.8vw;
    top: 0.47vw;
    left: 0.67vw;
  }
  .quote__text {
    left: -7.71vw;
    top: -7.71vw;
    border-radius: 0.93vw;
    padding: 0.93vw 1.87vw;
    font-size: 3.04vw;
    line-height: 3.74vw;
    &::after {
      bottom: -0.93vw;
      left: 8.41vw;
      border-width: 0.93vw 0.93vw 0 0.93vw;
    }

    &::before {
      left: 7.71vw;
      width: 4.67vw;
      height: 4.67vw;
    }
  }
}

