.section__donate {
  padding: 130px 0;
  background-color: #F5F5F5;
}

.donate__content {
  justify-content: space-between;
}

.donate__left {
  width: 520px;
}

.donate__title {
  font-size: 44px;
  line-height: 55px;
  min-height: 110px;
  font-weight: 700;
}

.donate__image {
  margin-top: 60px;

  img {
    width: 100%;
    height: auto;
    display: none;
  }

  .active {
    display: block;
  }
}

.donate__right {
  width: 860px;
}

.donate__texttop {
  font-size: 15px;
  line-height: 30px;
  padding-top: 18px;
  min-height: 110px;
  font-weight: 500;
  color: $text3;
}

.donate__contrals {
  margin-top: 60px;

  li {
    margin-right: 45px;

    &:last-child {
      margin: 0;
    }

    a {
      padding: 0 5px;
      padding-bottom: 7px;
      font-size: 15px;
      line-height: 19px;
      font-weight: 500;
      color: $text3;
      position: relative;
      transition: .3s;

      &.active {
        color: $blue;

        &::after {
          opacity: 1;
        }
      }

      &:hover {
        color: $blue;
      }

      &::after {
        height: 2px;
        background-color: $blue;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: .3s;
      }
    }
  }
}

.donate__tabs {
  margin-top: 30px;
}

.donate__tab {
  display: none;

  &.active {
    display: block;
  }
}

.donate__form {
  margin: 0 -12px;
  align-items: flex-end;

  .label {
    margin-bottom: 30px;
    span {
      color: $blue;
    }
  }

  .lw2 {
    width: calc(100% / 3 * 2 - 24px);
  }
}

.donate__list {
  margin: 0 -10px;
}

.donate__sumitem {
  width: calc(20% - 20px);
  margin: 0 10px;
}

.donate__input {
  display: none;

  &:checked {
    & + label {
      background-color: $blue;
      span {
        color: #fff;
      }
    }
  }
}

.danate__sumcont {
  margin-bottom: 30px;
  width: 100%;
  align-content: flex-end;
  align-items: flex-end;
  position: relative;

  .label {
    margin-bottom: 0 !important;
  }

  &.error {
    .input__error {
      left: 10px;
      display: block;
    }
  }
}

.donate__label {
  height: 50px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
  border: 1px solid $blue;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: $blue;
  cursor: pointer;
  transition: .3s;
}

.donate__buttons {
  margin-top: 15px;
}

.donate__button {
  margin: 0 12px;
}

.exchange__change {
  align-items: center;
  align-content: center;
}

.exchange__text {
  font-size: 15px;
  line-height: 22px;
  padding-right: 20px;
  font-weight: 500;
}

.exchange__list {
  li {
    margin-right: 20px;

    &:last-child {
      margin: 0;
    }

    a {
      height: 50px;
      width: 90px;
      border-radius: 4px;
      font-size: 13px;
      line-height: 34px;
      font-weight: 600;
      color: $blue;
      border: 1px solid $blue;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;

      &.active {
        background-color: $blue;
        color: #fff;
      }
    }
  }
}

.ex__tab {
  margin-top: 30px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  display: none;

  &.active {
    display: block;
  }
}

.crpt__list {
  margin-bottom: -10px;
  justify-content: space-between;

  li {
    margin-bottom: 20px;
    width: calc(50% - 22px);

    &.fullWidth {
      width: 100%;
    }
  }
}

.crpt__name {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  align-items: center;
  align-content: center;

  img {
    height: 20px;
    margin-right: 5px;
    width: auto;
  }
}

.crpt__text {
  margin-top: 10px;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

.crpt__copytext {
  word-break: break-all;
}

.crpt__copy {
  margin-left: 5px;
  min-width: 20px;
  top: 3px;
  position: relative;
  cursor: pointer;

  img {
    width: 20px;
    height: 20px;
  }
}

.copyed {
  top: -13px;
  height: 26px;
  width: 189px;
  font-size: 15px;
  line-height: 26px;
  border-radius: 4px;
  right: -20px;
  background-color: $blue;
  text-align: center;
  color: #fff;
  transform: translateY(-100%);
  position: absolute;
  display: none;

  &::after {
    right: 20px;
    content: '';
    position: absolute;
    transform: translateY(100%);
    bottom: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 9px 0 9px;
    border-color: $blue transparent transparent transparent;
  }
}

.donate__mob {
  display: none;
}

#ctypto {
  .popup__content {
    max-width: 1070px;
  }
  .crpt__list {
    margin-top: 40px;
    margin-bottom: -20px;
  }
}

.crpt__buttons {
  margin-top: 30px;
}


@media screen and (max-width: 1500px) {
  .donate__left {
    width: 520px;
  }
  .donate__right {
    width: calc(100% - 560px);
  }
  .donate__texttop {
    min-height: 170px;
  }
  .donate__contrals {
    margin-top: 0;
  }
  .exchange__list {
    width: 100%;
    margin-top: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .donate__left {
    width: 400px;
  }
  .donate__right {
    width: calc(100% - 450px);
  }
  .donate__texttop {
    min-height: 225px;
  }
  .donate__contrals {
    margin-top: 0;
  }
  .exchange__list {
    flex-wrap: nowrap;
    li {
      width: 90px;
      a {
        width: 100%;
      }
    }
  }
  .crpt__list {
    li {
      width: 100%;
    }
  }
  #ctypto {
    .crpt__list {
      li {
        width: calc(50% - 22px);
        &.fullWidth {
          width: 100%;
        }
      }
    }
  }
}


@media screen and (max-width: 1024px) {
  .section__donate {
    padding: 65px 0;
  }
  .donate__left {
    width: 100%;
  }
  .donate__title {
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    height: auto;
    min-height: auto;
  }
  .donate__image {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    img {
      max-width: 380px;
      width: 100%;
    }
  }
  .donate__mob {
    font-size: 15px;
    line-height: 30px;
    margin-top: 25px;
    text-align: center;
    font-weight: 500;
    color: $text3;
    display: block;
  }
  .donate__right {
    margin-top: 40px;
    width: 100%;
  }
  .donate__texttop {
    display: none;
  }
  .donate__contrals {
    justify-content: center;
    margin-top: 0;
    li {
      margin-right: 15px;
      a {
        font-size: 13px;
        line-height: 16px;
      }
    }
  }
  .donate__tabs {
    margin-top: 27px;
  }
  .donate__form {
    .l3 {
      width: calc(100% / 3 - 20px) !important;
      margin: 0 10px;
    }
    .lw2 {
      width: calc(100% / 3 * 2 - 24px) !important;
      margin: 0 10px;
    }
    .label {
      margin-bottom: 30px;
    }
  }
  .donate__list {
    margin: 0 -10px;
  }
  .donate__sumitem {
    width: calc(20% - 20px);
    margin: 0 10px;
  }
  .donate__buttons {
    margin-top: 10px;
  }
  .exchange__text {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .exchange__list {
    justify-content: center;
  }
  .crpt__list {
    li {
      width: calc(50% - 20px);
    }
  }
  #ctypto {
    .popup__content {
      max-width: 90%;
    }
  }
}


@media screen and (max-width: 760px) {
  .donate__form {
    margin-left: 0;
    margin-right: 0;
    .l3 {
      width: 100% !important;
      margin: 0;
    }
    .lw2 {
      width: 100% !important;
      margin: 0;
    }
    .label {
      margin-bottom: 24px;
    }
  }
  .danate__sumcont {
    margin-bottom: 24px;
    padding-top: 12px;
    .label {
      margin-bottom: 24px !important;
      &:last-child {
        margin-bottom: 0 !important;
      }
    }
    .input__error {
      left: 0 !important;
    }
  }
  .donate__list {
    margin: 0 -6px;
    .donate__sumitem {
      width: calc(20% - 12px);
      margin: 0 6px;
    }
  }
  .donate__buttons {
    justify-content: space-between;
    width: 100%;
  }
  .donate__button {
    margin: 0;
    width: calc(50% - 10px);
  }
  .exchange__list {
    li {
      width: 68px;
      height: 42px;
      margin-right: 10px;
    }
  }
  .crpt__list {
    li {
      width: 100%;
    }
  }
  #ctypto {
    .crpt__list {
      li {
        width: 100%;
      }
    }
  }
}


@media screen and (max-width: 428px) {
  .section__donate {
    padding: 15.19vw 0;
  }
  .donate__title {
    font-size: 7.01vw;
    line-height: 8.88vw;
  }
  .donate__mob {
    margin-top: 5.84vw;
    font-size: 3.5vw;
    line-height: 7.01vw;
  }
  .donate__image {
    margin-top: 5.84vw;
  }
  .donate__right {
    margin-top: 9.35vw;
  }
  .donate__contrals {
    li {
      margin-right: 3.5vw;
      a {
        padding: 0 1.17vw;
        padding-bottom: 1.64vw;
        font-size: 3.04vw;
        line-height: 3.74vw;
        &::after {
          height: 0.47vw;
        }
      }
    }
  }
  .donate__tabs {
    margin-top: 6.31vw;
  }
  .donate__form {
    margin: 0;
    justify-content: center;
    .label {
      margin-bottom: 5.61vw;
    }
  }
  .danate__sumcont {
    margin-bottom: 5.61vw;
    padding-top: 2.8vw;
    .label {
      margin-bottom: 5.61vw !important;
      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
  .donate__list {
    margin: 0 -1.4vw;
  }
  .donate__sumitem {
    width: calc(20% - 2.8vw);
    margin: 0 1.4vw;
  }
  .donate__label {
    height: 9.81vw;
    border-radius: 0.93vw;
    font-size: 3.04vw;
  }
  .donate__buttons {
    margin-top: 2.34vw;
  }
  .donate__button {
    margin: 0;
    width: calc(50% - 2.34vw);
  }
  .exchange__text {
    font-size: 3.5vw;
    line-height: 5.14vw;
  }
  .exchange__list {
    li {
      margin-right: 4.67vw;
      width: 16.12vw;
      a {
        height: 9.81vw;
        width: 100%;
        border-radius: 0.93vw;
        font-size: 3.04vw;
        line-height: 3.04vw;
      }
    }
  }
  .ex__tab {
    margin-top: 5.84vw;
    font-size: 3.5vw;
    line-height: 5.14vw;
  }
  .crpt__list {
    margin-bottom: 0;
    li {
      margin-bottom: 3.5vw;
      width: 100%;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .crpt__name {
    font-size: 3.5vw;
    line-height: 5.14vw;
    img {
      height: 4.67vw;
      margin-right: 1.17vw;
    }
  }
  .crpt__text {
    margin-top: 2.34vw;
  }
  .crpt__copy {
    margin-left: 1.17vw;
    min-width: 4.67vw;
    top: 0.7vw;
    img {
      width: 4.67vw;
      height: 4.67vw;
    }
  }
  .copyed {
    top: -3.04vw;
    height: 6.07vw;
    width: 44.16vw;
    font-size: 3.5vw;
    line-height: 6.07vw;
    border-radius: 0.93vw;
    right: -4.67vw;
    &::after {
      right: 4.67vw;
      border-width: 1.64vw 2.1vw 0 2.1vw;
    }
  }
  #ctypto {
    .crpt__list {
      margin-top: 9.35vw;
      margin-bottom: 0;
    }
  }
  .crpt__buttons {
    margin-top: 7.01vw;
  }
}