.section__contact {
  padding-top: 95px;
  padding-bottom: 74px;
}

.contact__container {
  justify-content: space-between;
}

.contact__left {
  width: calc(100% - 400px);
  padding-right: 30px;
}

.contact__part {
  margin-bottom: 80px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contact__cats {
  margin-top: 30px;

  li {
    position: relative;

    &::after {
      height: 34px;
      width: 1px;
      background-color: $text1;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      position: absolute;
      right: 0;
    }
    &:first-child {
      a {
        padding-left: 0;
      }
    }

    &:last-child {
      &::after {
        display: none;
      }

      a {
        padding-right: 0;
      }
    }

    a {
      padding: 0 32px;
      font-size: 15px;
      line-height: 19px;
      color: $text1;
      transition: .3s color;
      text-decoration: underline !important;
      text-decoration-color: transparent !important;


      &:hover {
        color: $blue;
        text-decoration-color: $blue !important;
      }
    }
  }
}

.scontact__list {
  margin-top: 30px;
}

.scontact__item {
  margin-bottom: 44px;

  &:last-child {
    margin-bottom: 0;
  }
}

.scontact__title {
  font-size: 24px;
  line-height: 20px;
  font-weight: $bold;
  color: $blue;
}

.scontact__underlist {
  margin-top: 20px;

  li {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      font-size: 21px;
      line-height: 1;
      color: $text3;
      transition: .3s color;

      &:hover {
        color: $yellow;
      }
    }
  }
}

.socials__list {
  margin: 0;
  margin-top: 20px;
}

.contact__right {
  width: 400px;
}

.contact__underform {
  margin-top: 28px;
  max-width: 600px;
  font-size: 15px;
  line-height: 24px;
  color: #282828;
  width: 100%;
}

.contact__form {
  margin-top: 36px;
}

.form__submit {
  width: 200px;
  margin-top: 30px;
  cursor: pointer;
  &.moreTop {
    margin-top: 3.5em;
  }
}


@media screen and (max-width: 1440px) {
  .section__contact {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .contact__left {
    width: calc(100% - 380px);
    padding-right: 24px;
  }
  .contact__part {
    margin-bottom: 80px;
  }
  .contact__cats {
    margin-top: 30px;
    li {
      &::after {
        height: 24px;
      }
      a {
        padding: 0 24px;
        font-size: 15px;
        line-height: 19px;
      }
    }
  }
  .scontact__title {
    font-size: 24px;
    line-height: 24px;
  }
  .scontact__underlist {
    li {
      margin-bottom: 12px;
      a {
        font-size: 18px;
      }
    }
  }
  .socials__list {
    margin: 0;
    margin-top: 20px;
  }
  .contact__right {
    width: 380px;
  }
  .contact__underform {
    margin-top: 24px;
    font-size: 15px;
    line-height: 24px;
  }
  .contact__form {
    margin-top: 32px;
  }
  .form__submit {
    width: 180px;
    margin-top: 24px;
  }
}


@media screen and (max-width: 1024px) {
  .section__contact {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .contact__left {
    width: 48%;
    padding-right: 0;
    text-align: center;
  }
  .contact__part {
    margin-bottom: 40px;
  }
  .contact__cats {
    margin: 0 -17px;
    margin-top: 30px;
    justify-content: center;
    li {
      &::after {
        display: none;
      }
      a {
        padding: 0 17px !important;
        font-size: 15px;
        line-height: 20px;
      }
    }
  }
  .scontact__list {
    margin-top: 30px;
  }
  .scontact__item {
    margin-bottom: 32px;
  }
  .scontact__title {
    font-size: 24px;
    line-height: 1;
  }
  .scontact__underlist {
    margin-top: 20px;
    li {
      margin-bottom: 10px;
      a {
        font-size: 21px;
      }
    }
  }
  .socials__list {
    margin: 0;
    margin-top: 30px;
    justify-content: center;
  }
  .contact__right {
    margin: 0 auto;
    max-width: 380px;
    width: 48%;
    text-align: center;
  }
  .contact__underform {
    margin-top: 16px;
    font-size: 15px;
    line-height: 24px;
    max-width: 100%;
  }
  .contact__form {
    margin-top: 52px;
  }
  .form__submit {
    width: 100%;
    margin-top: 30px;
  }
}


@media screen and (max-width: 768px) {
  .contact__left, .contact__right {
    width: 100%;
  }
  .contact__right {
    margin-top: 60px;
  }
}


@media screen and (max-width: 428px) {
  .section__contact {
    padding-top: 12.85vw;
    padding-bottom: 12.85vw;
  }
  .contact__part {
    margin-bottom: 9.35vw;
  }
  .contact__cats {
    margin: 0 -2vw;
    margin-top: 7.01vw;
    li {
      a {
        padding: 0 2vw !important;
        font-size: 3.5vw;
        line-height: 4.67vw;
      }
    }
  }
  .scontact__list {
    margin-top: 7.01vw;
  }
  .scontact__item {
    margin-bottom: 7.48vw;
  }
  .scontact__title {
    font-size: 4.91vw;
  }
  .scontact__underlist {
    margin-top: 4.67vw;
    li {
      margin-bottom: 2.33vw;
      a {
        font-size: 4.91vw;
      }
    }
  }
  .socials__list {
    margin: 0;
    margin-top: 7.01vw;
  }
  .contact__right {
    margin: 0 auto;
    margin-top: 14.02vw;
    max-width: 88.79vw;
  }
  .contact__underform {
    margin-top: 3.74vw;
    font-size: 3.5vw;
    line-height: 5.61vw;
  }
  .contact__form {
    margin-top: 12.15vw;
  }
  .form__submit {
    margin-top: 7.01vw;
  }
}
