.section__cat {
  position: relative;
  z-index: 10;
}

.cat__container {
  margin-top: 30px;
}

.cat__flex {
  padding-top: 70px;
  align-items: center;
  align-content: center;
}

.cat__left {
  width: 100%;
}

.issup + .cat__left {
  width: calc(100% - 550px);
  padding-right: 80px;

  .page__top {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;

    .page__title {
      margin-top: 30px;
      order: 2;
    }
  }

  .cat__container {
    margin-top: 64px;
  }
}

.cat__info {
  max-width: 974px;
  width: 100%;
}

.cat__title {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -1px;
  font-family: $bold;
  color: $text1;
}

.cat__text {
  margin-top: 28px;
  font-size: 14px;
  line-height: 30px;
  color: $text3;
}

.cat__map {
  width: 537px;

  img {
    width: 100%;
    height: auto;
  }
}

.catfilter__container {
  margin-top: 70px;
  padding: 70px 0;
  background-color: #FBFBFB;
}

.cat__filter {
  margin-top: 0;
  align-items: center;
  align-content: center;
}

.filter__title {
  font-size: 44px;
  font-weight: 700;
  letter-spacing: -1px;
  color: $text1;
  font-family: $bold;
  line-height: 1;
}

.filter__list {
  margin: 0 -16px;
  margin-bottom: -32px;
}

.item__title {
  margin: 0 16px;
  margin-bottom: 32px;
}

.filter__reset {
  width: 300px;
  height: 51px;
  border: 1px solid $blue;
  color: $blue;
  background-color: transparent;

  &::after {
    display: none;
  }
}

.filter__item {
  margin: 0 16px;
  margin-bottom: 32px;
  .selector__list {
    z-index: 10;
  }
}

.filter__ctrlcont {
  position: relative;

  .selector__list {
    span {
      transition: .3s;
      color: $text1 !important;
    }
  }

  .inputSel:checked + span {
    color: $blue !important;
  }
}

.filter__ctrl {
  min-height: 50px;
  padding-left: 30px;
  padding-right: 62px;
  border-radius: 4px;
  font-size: 13px;
  line-height: 18px;
  font-family: $bold;
  color: $text1;
  border: 1px solid #111111;
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;

  &::after {
    width: 10px;
    height: 6px;
    right: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: contain;
    background-size: contain;
    content: '';
    position: absolute;
    top: 53%;
    transform: translateY(-50%) rotate(0);
    background-image: url("data:image/svg+xml,%0A%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 6L10 0L0 0L5 6Z' fill='%23111111'/%3E%3C/svg%3E%0A");
    transition: .3s;
  }

  &.opened {
    position: relative;
    z-index: 10;
  }
}

.hiddenCheck {
  display: none;

  &:checked + label {
    .filter__false::after {
      opacity: 1;
    }
  }
}

.filter__label {
  font-size: 13px;
  line-height: 34px;
  font-weight: 800;
  color: $text1;
  align-items: center;
  align-content: center;
  cursor: pointer;
}

.filter__false {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-right: 32px;
  box-shadow: 0 20px 54px -10px rgba(150, 184, 197, 0.34);
  border: 1px solid #111111;
  position: relative;
  z-index: 5;

  &::after {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: contain;
    background-size: contain;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.33336 12.6434L15.9934 4.98254L17.1725 6.16088L8.33336 15L3.03003 9.69671L4.20836 8.51838L8.33336 12.6434Z' fill='%234F9AD7'/%3E%3C/svg%3E%0A");
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    opacity: 0;
    transition: .3s;
  }
}

.cat__empty {
  padding-bottom: 118px;
  text-align: center;

  .sec__title {
    font-size: 24px;
    line-height: 30px;
  }

  .button {
    margin-top: 50px;
    height: 64px;
    display: inline-flex;
  }
}

.filter__open {
  display: none;
  box-shadow: none !important;
  &::after {
    display: none;
  }
}




@media screen and (max-width: 1440px) {
  .cat__container {
    margin-top: 30px;
  }
  .cat__flex {
    padding-top: 70px;
  }
  .issup + .cat__left {
    width: calc(100% - 480px);
    padding-right: 40px;

    .page__top {
      .page__title {
        margin-top: 30px;
      }
    }
    .cat__container {
      margin-top: 60px;
    }
  }
  .cat__title {
    font-size: 24px;
    line-height: 32px;
  }
  .cat__text {
    margin-top: 28px;
    font-size: 14px;
    line-height: 30px;
  }
  .cat__map {
    width: 480px;
  }
  .catfilter__container {
    margin-top: 70px;
    padding: 70px 0;
  }
  .filter__title {
    font-size: 31px;
    line-height: 41px;
  }
  .filter__list {
    margin: 0 -12px;
    margin-bottom: -24px;
    margin-top: 30px;
  }
  .filter__item {
    margin: 0 12px;
    margin-bottom: 30px;
  }
  .cat__empty {
    padding-bottom: 80px;
    .sec__title {
      font-size: 22px;
      line-height: 28px;
    }
    .button {
      margin-top: 50px;
      height: 64px;
    }
  }
}


@media screen and (min-width: 1024px) {
  .filter__list {
    display: flex !important;
  }
}

@media screen and (max-width: 1024px) {
  .section__support {
    padding-top: 70px;
    .sec__title {
      margin-bottom: 50px;
    }
    .last__nav {
      padding: 0 24px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  .cat__flex {
    justify-content: center;
  }
  .issup + .cat__left {
    width: 100%;
    padding-right: 0;
    .page__top {
      .page__title {
        margin-top: 30px;
      }
    }
    .cat__container {
      margin-top: 40px;
    }
  }
  .cat__map {
    display: none;
  }
  .catfilter__container {
    margin-top: 40px;
    padding: 0;
    padding-bottom: 40px;
    background-color: transparent;
  }
  .filter__open {
    max-width: 380px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    .filterOpened {
      display: none;
    }
    &.opened {
      .filterOpened {
        display: block;
      }
      .filterClosed {
        display: none;
      }
    }
  }
  .filter__icon {
    width: 8px;
    height: 8px;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: contain;
    background-size: contain;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='8' height='9' viewBox='0 0 8 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.75 0.666748V1.50008H7.33333L4.83333 5.25008V8.16675H3.16667V5.25008L0.666667 1.50008H0.25V0.666748H7.75Z' fill='white'/%3E%3C/svg%3E%0A");
  }
  .item__title {
    display: none;
  }
  .filter__list {
    padding-top: 30px;
    margin-bottom: -30px;
    margin-top: 0;
    justify-content: center;
    display: none;
  }
  .filter__item {
    width: calc(100% / 3 - 24px);
    margin-bottom: 30px;
  }
  .filter__reset {
    width: 100%;
  }
}


@media screen and (max-width: 760px) {
  .cat__container {
    margin-top: 40px;
  }
  .cat__empty {
    margin-top: 40px;
    padding-bottom: 64px;
    .sec__title {
      font-size: 30px;
      line-height: 37px;
    }
    .button {
      margin-top: 16px;
      height: 64px;
      width: 300px;
    }
  }
  .section__support {
    padding-top: 50px;
    .sec__title {
      margin-bottom: 30px;
    }
    .last__nav {
      padding: 0;
    }
  }
  .cat__flex {
    padding-top: 0;
  }
  .issup + .cat__left {
    .page__top {
      height: 82px;
      flex-direction: row;
      align-items: center;
      align-content: center;
      .page__title {
        margin-top: 0;
      }
    }
    .cat__container {
      margin-top: 42px;
      text-align: center;
      .cat__text {
        margin-top: 18px;
      }
    }
  }
  .cat__map {
    max-width: 480px;
    width: 100%;
    margin-top: 30px;
  }
  .catfilter__container {
    margin-top: 30px;
    padding-bottom: 40px;
  }
  /////////
  .filter__open {
    max-width: 380px;
  }
  .filter__icon {
    width: 8px;
    height: 8px;
    margin-right: 12px;
  }
  .filter__list {
    padding-top: 30px;
    margin: 0;
    margin-bottom: -30px;
  }
  .filter__item {
    max-width: 380px;
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
  }
}


@media screen and (max-width: 428px) {
  .cat__container {
    margin-top: 9.35vw;
  }
  .issup + .cat__left {
    .page__top {
      height: 19.16vw;
    }
    .cat__container {
      margin-top: 9.81vw;
      .cat__text {
        margin-top: 4.21vw;
      }
    }
  }
  .cat__map {
    max-width: 112.15vw;
    margin-top: 7.01vw;
  }
  .catfilter__container {
    margin-top: 7.01vw;
    padding: 0;
    padding-bottom: 9.35vw;
  }
  .cat__info {
    text-align: center;
  }
  .cat__title {
    font-size: 5.61vw;
    line-height: 7.48vw;
  }
  .cat__text {
    margin-top: 6.54vw;
    font-size: 3.27vw;
    line-height: 7.01vw;
  }
  .filter__ctrl {
    min-height: 11.68vw;
    padding-left: 7.01vw;
    padding-right: 7.01vw;
    box-shadow: none;
    border-radius: 0.93vw;
    font-size: 3.04vw;
    line-height: 4.94vw;
    justify-content: center;
    &::after {
      width: 2.34vw;
      height: 1.4vw;
      right: 7.48vw;
      margin-left: 4.67vw;
      transform: translateY(.3vw);
      position: static;
    }
  }
  .filter__label {
    font-size: 3.04vw;
    line-height: 7.94vw;
  }
  .filter__false {
    width: 11.68vw;
    height: 11.68vw;
    border-radius: 0.93vw;
    margin-right: 7.48vw;
    box-shadow: 0 4.67vw 12.62vw -2.34vw rgba(150, 184, 197, 0.34);
  }
  .cat__empty {
    margin-top: 9.35vw;
    padding-bottom: 15.89vw;
    .sec__title {
      font-size: 7.01vw;
      line-height: 8.64vw;
    }
    .button {
      margin-top: 3.74vw;
      height: 14.95vw;
      width: 70.09vw;
    }
  }
  /////////
  .filter__open {
    max-width: 88.79vw;
  }
  .filter__icon {
    width: 1.87vw;
    height: 1.87vw;
    margin-right: 2.8vw;
  }
  .filter__list {
    padding-top: 7.01vw;
    margin: 0;
    margin-bottom: -7.01vw;
  }
  .filter__item {
    max-width: 88.79vw;
    width: 100%;
    margin: 0;
    margin-bottom: 7.01vw;
  }
}