.section__last {
  padding-top: 52px;
  padding-bottom: 120px;
  background-color: #F5F5F5;
}

.last__list {
  margin-top: 82px;
  padding-bottom: 50px;
}

.last__item {
  margin-bottom: 50px;
  background-color: #fff;
}

.last__content {
  justify-content: space-between;
}

.last__left {
  width: calc(100% - 300px);
}

.last__img {
  min-height: 271px;
  width: 230px;
  margin: 40px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #000;
}

.last__info {
  width: calc(100% - 230px);
  padding: 40px 34px;
  padding-right: 60px;
  padding-bottom: 45px;
  min-height: 270px;
  flex-direction: column;
  justify-content: center;
}

.last__name {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -1px;
  font-weight: $bold;
  color: $text1;
  transition: .3s color;
  display: inline-block;
  cursor: pointer;

  &.mob {
    display: none;
  }

  &:hover {
    color: $blue;
  }
}

.last__text {
  margin-top: 40px;
  font-size: 15px;
  line-height: 20px;
}

.last__nav {
  margin-top: 40px;
  margin-bottom: -1em;
}

.last__navitem {
  margin-right: 25px;
  font-size: 13px;
  line-height: 1;
  margin-bottom: 1em;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;

  a {
    text-decoration: underline !important;
    color: #333;
    transition: .3s color;

    &:hover {
      color: $blue;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.last__icon {
  height: 20px;
  margin-right: 15px;

  img {
    height: 100%;
    width: auto;
  }
}

.last__right {
  width: 300px;
  padding-top: 41px;
  padding-bottom: 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
}

.last__dis, .last__wish {
  font-size: 13px;
  line-height: 17px;
  font-weight: $bold;
  color: $text1;
  transition: .3s;
}

.last__wish {
  margin-right: 30px;
  font-weight: $bold;
  color: $blue;
  transition: .3s;
  text-decoration: underline !important;
  &:hover {
    color: $yellow;
  }
}

.last__button {
  width: 100%;
}

.last__bottom {
  justify-content: center;
}

.minPad {
  padding-bottom: 100px;
}

.latest__bottom {
  justify-content: center;
}


@media screen and (max-width: 1440px) {
  .section__last {
    padding-top: 40px;
    padding-bottom: 120px;
  }
  .last__list {
    margin-top: 60px;
    padding-bottom: 40px;
  }
  .last__item {
    margin-bottom: 40px;
  }
  .last__content {
    padding-left: 26%;
    display: block;
    position: relative;
  }
  .last__left {
    width: 100%;
    position: static;
  }
  .last__img {
    width: 26%;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    min-height: inherit;
    .categories__mobicon {
      width: 100px;
      height: 100px;
    }
  }
  .last__info {
    width: 100%;
    padding: 32px;
    padding-top: 40px;
  }
  .last__name {
    font-size: 24px;
    line-height: 30px;
  }
  .last__text {
    margin-top: 24px;
    font-size: 15px;
    line-height: 20px;
  }
  .last__nav {
    margin-top: 32px;
  }
  .last__navitem {
    margin-right: 32px;
    font-size: 13px;
  }
  .last__icon {
    height: 20px;
    margin-right: 12px;
  }
  .last__right {
    padding: 32px;
    padding-bottom: 40px;
    padding-top: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row-reverse;
  }
  .last__dis, .last__wish {
    font-size: 13px;
    line-height: 17px;
  }
  .last__button {
    width: 200px;
  }
  .minPad {
    padding-bottom: 100px;
  }
}


@media screen and (max-width: 1290px) {
  .section__last {
    padding-top: 18px;
    padding-bottom: 30px;
  }
  .last__list {
    margin-top: 48px;
    padding: 0 24px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .last__item {
    width: calc(50% - 15px);
    margin-bottom: 30px;
    padding-top: 0;
    position: relative;
  }
  .last__content {
    padding-top: 24px;
  }
  .last__content {
    padding-left: 0;
  }
  .last__img {
    height: 194px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 0;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    position: relative;
  }
  .last__info {
    padding: 0;
    padding-top: 16px;
    width: 100%;
    min-height: auto;
  }
  .lastinfo__top {
    margin-top: 30px;
  }
  .last__name {
    font-size: 24px;
    line-height: 30px;
    display: none;
    text-align: center;
    width: 100%;
    &.mob {
      display: block;
    }
  }
  .last__text {
    margin-top: 0;
    font-size: 13px;
    line-height: 30px;
  }
  .lastinfo__top {
    order: 2;
  }
  .last__nav {
    margin-top: 0;
    margin-bottom: -16px;
    margin-right: -22px;
    justify-content: space-between;
  }
  .last__navitem {
    margin-right: 22px !important;
    font-size: 13px;
    margin-bottom: 16px;
  }
  .last__icon {
    height: 20px;
    margin-right: 10px;
  }
  .last__right {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
  }
  .last__rt {
    margin-top: 20px;
    order: 2;
  }
  .last__dis, .last__wish {
    font-size: 13px;
    line-height: 17px;
  }
  .last__button {
    width: 100%;
  }
}


@media screen and (min-width: 760px) {
  .last__dis {
    &:hover {
      color: red;
    }
  }
}


@media screen and (max-width: 760px) {
  .section__last {
    padding-top: 18px;
    padding-bottom: 30px;
    .sec__title {
      text-align: center;
    }
  }
  .last__content  {
    padding-top: 80px;
  }
  .last__list {
    margin-top: 48px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    display: block;
  }
  .last__item {
    width: 100%;
    margin-bottom: 30px;
    padding-top: 0;
    position: relative;
  }
  .last__content {
    padding-top: 24px;
  }
  .last__img {
    height: 200px;
    border-radius: 5px;
  }
  .last__info {
    padding-top: 16px;
  }
  .lastinfo__top {
    order: 2;
  }
  .last__name {
    font-size: 24px;
    line-height: 32px;
  }
  .last__text {
    margin-top: 0;
    font-size: 13px;
    line-height: 30px;
  }
  .last__nav {
    margin-top: 0;
    margin-right: -16px;
    justify-content: space-between;
  }
  .last__navitem {
    font-size: 13px;
    margin-right: 16px !important;
  }
  .lastinfo__top {
    margin-top: 34px;
  }
  .last__icon {
    height: 20px;
    margin-right: 10px;
  }
  .last__right {
    padding: 30px 0;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .last__rt {
    margin-top: 20px;
    order: 2;
  }
  .last__dis, .last__wish {
    font-size: 13px;
    line-height: 17px;
  }
  .last__button {
    max-width: 380px;
    width: 100%;
  }
  .last__butlast {
    max-width: 300px;
    width: 100%;
  }
  .latest__bottom {
    margin-top: 0;
  }
}


@media screen and (max-width: 428px) {
  .section__last {
    padding-top: 11.21vw;
    padding-bottom: 7.01vw;
  }
  .last__content  {
    padding-top: 5.61vw;
  }
  .last__list {
    margin-top: 11.21vw;
    padding-bottom: 0;
  }
  .last__item {
    margin-bottom: 7.01vw;
  }
  .last__img {
    margin: 0;
    margin-top: 4.67vw;
    height: 46.73vw;
    border-radius: 1.17vw;
    .categories__mobicon {
      width: 23.36vw;
      height: 23.36vw;
    }
  }
  .last__info {
    padding-top: 3.74vw;
  }
  .last__name {
    font-size: 5.61vw;
    line-height: 7.48vw;
  }
  .last__text {
    margin-top: 0;
    font-size: 3.04vw;
    line-height: 7.01vw;
  }
  .last__nav {
    margin-right: -3.74vw;
  }
  .last__navitem {
    font-size: 3.04vw;
    margin-bottom: 3.74vw;
    margin-right: 3.74vw !important;
  }
  .lastinfo__top {
    margin-top: 7.94vw;
  }
  .last__icon {
    height: 4.67vw;
    margin-right: 4.67vw;
  }
  .last__right {
    padding: 7.48vw 0;
  }
  .last__rt {
    margin-top: 4.67vw;
  }
  .last__dis, .last__wish {
    font-size: 3.04vw;
    line-height: 3.97vw;
  }
  .last__wish {
    margin-right: 7.01vw;
  }
  .last__button {
    max-width: 88.79vw;
  }
  .last__butlast {
    max-width: 70.09vw;
  }
}
