.section__categories {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #F5F5F5;
  position: relative;
}

.categories__list {
  margin: 0 -15px;
  margin-top: 70px;
  margin-bottom: -30px;
  position: relative;
  z-index: 2;
}

.categories__item {
  width: calc(100% / 6 - 30px);
  margin: 0 15px;
  margin-bottom: 30px;
}

.categories__link {
  min-height: 200px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #fff;

  &:hover {
    .categories__name {
      color: $yellow;
    }
    .categories__mobicon {
      img  {
        filter: invert(94%) sepia(92%) saturate(1159%) hue-rotate(319deg) brightness(99%) contrast(91%);
        width: 105%;
        height: 105%;
      }
    }
  }
}

.categories__mobicon {
  width: 100px;
  height: 100px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    filter: invert(74%) sepia(31%) saturate(5815%) hue-rotate(180deg) brightness(90%) contrast(86%);
    transition: .3s width, .3s height;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

.categories__name {
  padding-top: 20px;
  font-size: 15px;
  line-height: 18px;
  color: $text1;
  display: block;
  text-align: center;
}


@media screen and (max-width: 1440px) {
  .section__categories {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .categories__list {
    margin: 0 -10px;
    margin-top: 40px;
    margin-bottom: -20px;
  }
  .categories__item {
    width: calc(100% / 6 - 20px);
    margin: 0 10px;
    margin-bottom: 20px;
  }
  .categoriws__img {
    padding-top: 152.17%;
  }
  .categories__mobicon {
    width: 80px;
    height: 80px;
  }
  .categories__name {
    padding-top: 24px;
    font-size: 15px;
    line-height: 18px;
  }
}


@media screen and (max-width: 1024px) {
  .section__categories {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .categories__list {
    margin: 0 -10px;
    margin-top: 50px;
    margin-bottom: -20px;
  }
  .categories__item {
    width: calc(100% / 3 - 20px);
    margin: 0 10px;
    margin-bottom: 20px;
  }
  .categoriws__img {
    padding-top: 100%;
  }
  .categories__name {
    padding-top: 20px;
    font-size: 15px;
    line-height: 18px;
  }
}


@media screen and (max-width: 760px) {
  .categories__item {
    width: calc(100% / 2 - 24px);
  }
}


@media screen and (max-width: 430px) {
  .section__categories {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .categories__list {
    margin: 0 -10px;
    margin-top: 50px;
    margin-bottom: -20px;
  }
  .categories__item {
    width: 100%;
    margin: 0 10px;
    margin-bottom: 20px;
  }
  .categoriws__img {
    padding-top: 100%;
  }
  .categories__name {
    padding-top: 20px;
    font-size: 15px;
    line-height: 18px;
  }
}


@media screen and (max-width: 428px) {
  .section__categories {
    padding-top: 14.02vw;
    padding-bottom: 7.01vw;
    background-color: #f5f5f5;
    position: relative;
    &::after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.95) -3.2%, rgba(255, 255, 255, 0) 85.6%);
    }
  }
  .categories__list {
    margin: 0;
    margin-top: 11.68vw;
    margin-bottom: -4.67vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .categories__item {
    margin: 0;
    margin-bottom: 4.67vw;
    width: calc(50% - 2.34vw);

  }
  .categories__link {
    height: 32.06vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #fff;
  }
  .categoriws__img {
    display: none;
  }
  .categories__mobicon {
    width: 11.68vw;
    height: 11.68vw;
    display: block;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .categories__name {
    padding-top: 4.67vw;
    font-size: 3.5vw;
    line-height: 4.21vw;
    font-weight: $bold;
  }
}
