.section__main {
  position: relative;
}



.founders__carousel {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.main__container {
  min-height: 500px;
  padding: 120px 0;
  z-index: 15;
  align-items: center;
  align-content: center;
}

.main__content {
  padding-right: 20px;
  color: $text1;
  position: relative;
  width: 100%;
}

.main__flag {
  width: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  transition: .7s ease-out;
  z-index: 10;

  &:hover {
    width: 100%;
  }

  &::before {
    width: 100%;
    height: 50%;
    top: 0;
    right: 0;
    background-color: #4F9AD7;
    content: '';
    position: absolute;
  }

  &::after {
    width: 100%;
    height: 50%;
    bottom: 0;
    right: 0;
    background-color: $yellow;
    content: '';
    position: absolute;
  }
}

.main__uppertext {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: $blue;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(-30px);
  transition: 1s;
}

.main__title {
  font-size: 92px;
  line-height: 115px;
  margin-top: 20px;
  font-weight: 800;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(-30px);
  transition: 1s;
}

.main__flex {
  margin-top: 50px;
}

.main__part {
  width: 380px;
  margin-right: 50px;
  font-size: 24px;
  line-height: 30px;
  opacity: 0;
  transform: translateY(-30px);
  transition: 1s;

  &:last-child {
    margin-right: 0;
  }
}

.main__button {
  opacity: 0;
  transform: translateY(-30px);
  transition: 1s;

  span {
    display: flex;
    align-items: center;
    align-content: center;
  }
}

.main__bittons {
  margin-top: 50px;

  a {
    margin-right: 30px;

    &:last-child {
      margin: 0;
    }
  }
}

.main__mob {
  display: none;
}

.main__play {
  bottom: 0;
  right: 110px;
  position: absolute;
  transition: 1s;
  opacity: 0;
  transform: scale(0.5);

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translateY(-50%) translateX(-50%);
    background-color: #fff;
    width: 40%;
    height: 40%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 50%;
    background-size: 50%;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='21' height='28' viewBox='0 0 21 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.5969 14.7698L1.40681 27.845C1.27048 27.9378 1.1121 27.9909 0.948538 27.9989C0.784974 28.0069 0.622349 27.9694 0.477986 27.8905C0.333624 27.8115 0.212929 27.6939 0.128756 27.5504C0.0445825 27.4068 8.45902e-05 27.2426 0 27.0753V0.924746C8.45902e-05 0.757387 0.0445825 0.593186 0.128756 0.449631C0.212929 0.306076 0.333624 0.188542 0.477986 0.109549C0.622349 0.0305553 0.784974 -0.00693985 0.948538 0.00105703C1.1121 0.00905392 1.27048 0.0622437 1.40681 0.15496L20.5969 13.2302C20.7209 13.3147 20.8226 13.4292 20.8929 13.5635C20.9632 13.6978 21 13.8477 21 14C21 14.1523 20.9632 14.3023 20.8929 14.4365C20.8226 14.5708 20.7209 14.6853 20.5969 14.7698Z' fill='%234F9AD7'/%3E%3C/svg%3E%0A");
  }

  &.startDone {
    opacity: 1;
    transform: scale(0.5);
  }

  img {
    width: 125px;
    height: 125px;
    display: block;
    animation: circle 10s linear infinite;
  }
}

@keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}




@media screen and (max-width: 1440px) {
  .main__container {
    min-height: 400px;
    padding: 90px 0;
  }
  .main__uppertext {
    font-size: 21px;
    line-height: 30px;
  }
  .main__title {
    font-size: 50px;
    line-height: 66px;
  }
  .main__flex {
    margin-top: 30px;
  }
  .main__part {
    font-size: 21px;
    line-height: 30px;
    width: 340px;
  }
  .main__play {
    right: 70px;
    img {
      width: 100px;
      height: 100px;
    }
  }
}


@media screen and (max-width: 1024px) {
  .main__container {
    min-height: auto;
    padding: 90px 0;
  }
  .main__content {
    padding-right: 10px;
    padding-bottom: 200px;
  }
  .main__flag {
    width: 5px;
  }
  .main__uppertext {
    font-size: 16px;
    line-height: 20px;
  }
  .main__title {
    font-size: 42px;
    line-height: 53px;
    margin-top: 9px;
  }
  .main__flex {
    margin-top: 30px;
  }
  .main__part {
    font-size: 16px;
    line-height: 20px;
    width: 260px;
    margin-right: 30px;
  }
  .main__button {
    width: 300px;
  }
  .main__play {
    right: 68px;
    bottom: 0;
    img {
      width: 125px;
      height: 125px;
    }
  }
}


@media screen and (max-width: 760px) {
  .section__main {
    padding: 0;
    background-color: #fff;
  }
  .main__container {
    margin-top: 0;
    min-height: auto;
    padding: 90px 0;
    padding-top: 60px;
  }
  .main__mob {
    display: none;
  }
  .main__content {
    padding-right: 32px;
  }
  .main__title {
    font-size: 31px;
    line-height: 41px;
  }
  .main__flex {
    justify-content: space-between;
  }
  .main__part {
    width: 300px;
    margin: 0;
    margin-bottom: 10px;
    &:last-child {
      margin: 0;
    }
  }
  .main__button {
    width: calc(48% - 10px);
    display: flex;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .header__accountdesc {
    display: none;
  }
}


@media screen and (max-width: 428px) {
  .main__container {
    padding: 21.03vw 0;
    padding-top: 14.02vw;
  }
  .main__content {
    padding-right: 9.48vw;
    padding-bottom: 0;
  }
  .main__flag {
    width: 1.17vw;
  }
  .main__uppertext {
    font-size: 3.74vw;
    line-height: 4.67vw;
  }
  .main__title {
    font-size: 9.81vw;
    line-height: 12.15vw;
    margin-top: 2.1vw;
  }
  .main__flex {
    margin-top: 7.01vw;
  }
  .main__part {
    width: 70.09vw;
    font-size: 3.54vw;
    line-height: 4.67vw;
    margin-bottom: 2.34vw;
  }
  .main__button {
    margin-top: 7.01vw;
    width: 60.75vw;
    span {
      &::before {
        width: 1.87vw;
        margin-right: 1.87vw;
        height: 2.34vw;
      }
    }
  }
  .main__bittons {
    margin-top: 9.35vw;
  }
  .main__button {
    margin-bottom: 2.34vw;
  }
  .main__play {
    right: 4.67vw;
    img {
      width: 18.69vw;
      height: 18.69vw;
    }
  }
}
.text-red-600 {
    color: red;
}

.modal__button {
    position: relative;
    bottom: 0px;
    margin: 0 auto;
    margin-top: 45px;
}
