.section__partnears {
  padding-top: 156px;
  padding-bottom: 126px;
  background: linear-gradient(90deg, rgba(245, 245, 245, 0.55) 1.3%, rgba(245, 245, 245, 0.55) 69.67%);
}

.partnears__top {
  max-width: 810px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.partnears__text {
  font-size: 13px;
  margin-top: 56px;
  color: $text3;
}

.partnears__content {
  margin-top: 115px;
}

.partnears__carousel {
  margin: 0 -15px;
  margin-bottom: -30px;
  display: flex;
}

.partner__item {
  width: calc(20% - 30px);
  margin: 0 15px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.partner__url {
  padding-top: 100%;
  background-color: #fff;
  display: block;
  position: relative;

  img {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    max-width: 80%;
    max-height: 80%;
    display: block;
  }
}


@media screen and (max-width: 1440px) {
  .section__partnears {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .partnears__text {
    font-size: 13px;
    margin-top: 48px;
  }
  .partnears__content {
    margin-top: 48px;
  }
  .partnears__carousel {
    margin: 0 -12px;
    margin-bottom: -24px;
  }
  .partner__item {
    width: calc(25% - 24px);
    margin: 0 12px;
    margin-bottom: 24px;
    border-radius: 5px;
  }
}


@media screen and (max-width: 1024px) {
  .section__partnears {
    padding-top: 48px;
    padding-bottom: 0;
  }
  .partnears__text {
    font-size: 13px;
    margin-top: 48px;
  }
  .partnears__content {
    margin-top: 0;
  }
  .partnears__carousel {
    margin: 0;
    padding: 50px 24px;
    overflow: hidden;
    position: relative;
    .owl-next {
      right: 0 !important;
    }
    .owl-prev {
      left: 0 !important;
    }
  }
  .partner__item {
    width: 100%;
    margin: 0;
    border-radius: 5px;
  }
}


@media screen and (max-width: 428px) {
  .section__partnears {
    padding-top: 11.21vw;
  }
  .partnears__text {
    font-size: 3.04vw;
    margin-top: 11.21vw;
  }
  .partnears__carousel {
    padding: 11.68vw 5.61vw;
  }
  .partner__item {
    border-radius: 1.17vw ;
  }
}
