.section__service {
  padding-top: 112px;
  padding-bottom: 112px;
  background: linear-gradient(90deg, rgba(251, 251, 251, 0.55) 1.3%, rgba(251, 251, 251, 0.55) 69.67%);
}

.service__text {
  margin-top: 37px;
  font-size: 15px;
  max-width: 1272px;
  width: 100%;
  color: $text3;
}

.service__bottom {
  justify-content: center;
  margin-top: 3em;
}

@media screen and (max-width: 1440px) {
  .section__service {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .service__text {
    margin-top: 24px;
    font-size: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .section__service {
    padding-top: 65px;
    padding-bottom: 65px;
    text-align: center;
  }
  .service__text {
    margin-top: 33px;
    font-size: 13px;
    line-height: 1.6em;
  }
}


@media screen and (max-width: 768px) {
  .section__service {
    padding-top: 65px;
    padding-bottom: 65px;
    text-align: center;
  }
  .service__text {
    margin-top: 24px;
    font-size: 13px;
    line-height: 1.5em;
  }
}


@media screen and (max-width: 428px) {
  .section__service {
    padding-top: 15.19vw;
    padding-bottom: 15.19vw;
  }
  .service__text {
    margin-top: 7.48vw;
    font-size: 3.5vw;
  }
  .service__button {
    width: 100%;
  }
}
