.section__works {
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: #F5F5F5;
}

.works__content {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.works__carousel {
  width: calc(50% - 16px) !important;
  margin-bottom: -22px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .owl-stage {
    display: flex;
  }
}

.works__item {
  width: calc(50% - 16px);
  margin-bottom: 22px;
  border-radius: 5px;
  padding: 80px 48px;
  min-height: auto;
  flex-wrap: nowrap;
  justify-content: flex-end;
  background: #FFFFFF;
  box-shadow: none;
  transition: .3s box-shadow;

  &:hover {
    box-shadow: 0 34px 65px -5px rgba(228, 228, 228, 0.55);

    .works__num {
      color: $yellow;
    }
  }
}

.works__num {
  font-size: 34px;
  line-height: 44px;
  margin-right: 32px;
  margin-top: -6px;
  font-family: $bold;
  color: $blue;
  transition: .3s color;
}

.works__info {
  max-width: 180px;
  width: 100%;
}

.works__name {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.works__text {
  font-size: 15px;
  line-height: 24px;
  margin-top: 38px;
  color: $text3;
  opacity: 0.8;
}

.works__video {
  width: calc(50% - 16px) !important;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #fff;
}

.video__button {
  margin-top: 12em;
  position: relative;
  z-index: 5;

  span {
    display: flex;
    align-items: center;
    align-content: center;
    &::after {
      content: '';
      width: 11px;
      height: 14px;
      margin-left: 8px;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: contain;
      background-size: contain;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='11' height='14' viewBox='0 0 11 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5253 7.38491L0.718898 13.9225C0.649234 13.9689 0.568299 13.9955 0.484716 13.9995C0.401132 14.0035 0.318028 13.9847 0.244257 13.9452C0.170486 13.9057 0.108809 13.847 0.065795 13.7752C0.0227813 13.7034 4.22731e-05 13.6213 -9.53674e-07 13.5376V0.462388C4.22731e-05 0.378709 0.0227813 0.296609 0.065795 0.224831C0.108809 0.153053 0.170486 0.0942863 0.244257 0.0547896C0.318028 0.0152929 0.401132 -0.00345466 0.484716 0.000543776C0.568299 0.00454222 0.649234 0.0311371 0.718898 0.0774954L10.5253 6.61512C10.5887 6.65737 10.6406 6.7146 10.6766 6.78175C10.7125 6.84889 10.7313 6.92386 10.7313 7.00002C10.7313 7.07617 10.7125 7.15114 10.6766 7.21828C10.6406 7.28543 10.5887 7.34266 10.5253 7.38491Z' fill='white'/%3E%3C/svg%3E%0A");
    }
  }
}


.videoPopInner {
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.videoPopEmbed {
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
  height: 0;
  background-color: #000;

  iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.video__close {
  top: 50%;
  right: 0;
  transform: translateX(270px) translateY(-50%);
  width: 80px;
  height: 80px;
  -webkit-background-size: 50%;
  background-size: 50%;
  transition: .3s;
  border: 1px solid $blue;
  border-radius: 50%;
  position: absolute;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  z-index: 5;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.0002 17.6433L28.2502 9.39331L30.6069 11.75L22.3569 20L30.6069 28.25L28.2502 30.6066L20.0002 22.3566L11.7502 30.6066L9.39355 28.25L17.6436 20L9.39355 11.75L11.7502 9.39331L20.0002 17.6433Z' fill='%234F9AD7'/%3E%3C/svg%3E%0A") !important;

  &:hover {
    border: 1px solid #FFD82A;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.0002 17.6433L28.2502 9.39331L30.6069 11.75L22.3569 20L30.6069 28.25L28.2502 30.6066L20.0002 22.3566L11.7502 30.6066L9.39355 28.25L17.6436 20L9.39355 11.75L11.7502 9.39331L20.0002 17.6433Z' fill='%23FFD82A'/%3E%3C/svg%3E%0A") !important;
  }
}


@media screen and (max-width: 1440px) {
  .section__works {
    padding-top: 160px;
    padding-bottom: 80px;
  }
  .works__content {
    margin-top: 44px;
  }
  .works__item {
    width: calc(50% - 22px);
    border-radius: 5px;
    padding: 24px;
    padding-top: 48px;
    padding-bottom: 48px;
    min-height: inherit;
    box-shadow: 0 34px 65px -5px rgba(228, 228, 228, 0.55);
    justify-content: flex-start;
  }
  .works__num {
    font-size: 30px;
    line-height: 38px;
    margin-right: 24px;
    margin-top: -5px;
  }
  .works__info {
    max-width: inherit;
  }
  .works__name {
    font-size: 24px;
    line-height: 30px;
  }
  .works__text {
    font-size: 15px;
    line-height: 24px;
    margin-top: 12px;
  }
  .works__video img {
    object-fit: cover;
  }
  .video__button {
    margin-top: 10em;
  }
  /////
  .video__close {
    transform: translateX(100px) translateY(-50%);
    width: 60px;
    height: 60px;
  }
}


@media screen and (max-width: 1230px) {
  .works__video img {
    object-fit: contain;
  }
  .video__button {
    margin-top: 8em;
  }
}


@media screen and (max-width: 1024px) {
  .section__works {
    padding-top: 60px;
    padding-bottom: 84px;
    position: relative;
    .sec__title {
      padding: 0 54px;
    }
  }
  .works__content {
    display: block;
  }
  .section__works .owl-carousel {
    width: 100% !important;
    .owl-stage-outer {
      overflow: visible !important;
    }
    &::after, &::before {
      width: 45px;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      background: #F5F5F5;
      z-index: 2;
    }
    &::after {
      right: -2px;
    }
    &::before {
      left: -2px;
    }
  }
  .works__content {
    margin-top: 0;
    padding: 0;
  }
  .works__carousel {
    margin: 0;
    padding: 36px 24px;
    overflow: hidden;
    .owl-stage-outer {
      overflow: visible;
    }
    .active {
      .works__item {
        box-shadow: 0 18px 32px -5px rgba(228, 228, 228, 0.55);
      }
    }
  }
  .works__item {
    width: 100%;
    margin: 0;
    border-radius: 5px;
    padding-left: 32px;
    padding-right: 16px;
    padding-top: 50px;
    padding-bottom: 36px;
    box-shadow: none;
    min-height: inherit;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
  }
  .works__num {
    font-size: 34px;
    line-height: 44px;
    margin-right: 0;
    width: 100%;
  }
  .works__info {
    margin-top: 18px;
    width: 100%;
  }
  .works__name {
    font-size: 24px;
    line-height: 30px;
  }
  .works__text {
    font-size: 15px;
    line-height: 24px;
    margin-top: 24px;
  }
  .works__video {
    width: 100% !important;
    height: 100vw;
  }
  .works__video img {
    object-fit: contain;
  }
  .video__button {
    margin-top: 24vw;
  }
}


@media screen and (max-width: 760px) {
  .section__works .owl-carousel::after, .section__works .owl-carousel::before {
    width: 30px;
  }
  .section__works .owl-carousel {
    .owl-nav {
      div, button {
        left: 0;
        &.owl-next {
          right: 0;
          left: auto;
        }
      }
    }
  }
  .videoPopInner {
    width: calc(100% - 48px);
  }
  /////
  .video__close {
    transform: translateX(-50%) translateY(-102px);
    width: 70px;
    height: 70px;
    right: auto;
    left: 50%;
    top: 0;
    opacity: 1;
  }
}


@media screen and (max-width: 560px) {
  .works__video img {
    object-fit: cover;
  }
  .video__button {
    height: 12vw;
    margin-top: 24vw;
  }
}


@media screen and (max-width: 428px) {
  .section__works {
    padding-top: 14.02vw;
    padding-bottom: 19.63vw;
    &::after, &::before {
      width: 13.32vw;
    }
    .sec__title {
      padding: 0 6.62vw;
    }
  }
  .section__works .owl-carousel::after, .section__works .owl-carousel::before {
    width: 8.32vw;
  }
  .works__content {
    padding: 0;
    position: relative;
  }
  .works__carousel {
    padding: 8.41vw 5.61vw;
    .active {
      .works__item {
        box-shadow: 0 4.21vw 7.48vw -1.17vw rgba(228, 228, 228, 0.55);
      }
    }
  }
  .works__item {
    border-radius: 1.17vw ;
    padding-left: 7.48vw;
    padding-right: 3.74vw;
    padding-top: 11.68vw;
    padding-bottom: 8.41vw;
  }
  .works__num {
    font-size: 7.94vw;
    line-height: 10.28vw;
  }
  .works__info {
    margin-top: 4.21vw;
  }
  .works__name {
    font-size: 5.61vw;
    line-height: 7.01vw;
  }
  .works__text {
    font-size: 3.5vw;
    line-height: 7.01vw;
    margin-top: 5.61vw;
  }
  .works__video {
    height: calc((100vw - 48px));
  }
  .video__button {
    span {
      &::after {
        width: 2.57vw;
        height: 3.27vw;
        margin-left: 1.87vw;
      }
    }
  }
  .videoPopInner {
    width: 88.78vw;
  }
  .works__video img {
    object-fit: cover;
  }
  .video__button {
    height: 10vw;
    margin-top: 22vw;
  }
  /////
  .video__close {
    transform: translateX(-50%) translateY(-23.83vw);
    width: 16.36vw;
    height: 16.36vw;
  }
}


@media screen and (orientation: landscape ) and (max-width: 900px) {
  .videoPopInner {
    width: 70vw !important;
  }
  /////
  .video__close {
    top: 50%;
    right: 0;
    left: auto;
    transform: translateX(70px) translateY(-50%);
    width: 50px;
    height: 50px;
  }
}
