.section__news {
  padding: 120px 0;
  background-color: #FBFBFB;
  overflow: hidden;
}

.news__content {
  margin-top: 60px;
  position: relative;
  z-index: 16;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50vw;
    left: -50vw;
    background-color: #FBFBFB;
    z-index: 5;
  }
}

.news__carousel {
  position: static;
  padding: 0 !important;
  width: 100% !important;
  .owl-stage-outer {
    overflow: visible !important;
  }

  .owl-nav {
    top: -60px;
    right: 0;
    transform: translateY(-100%) !important;
    position: absolute;
    z-index: 16;
    display: flex;

    button {
      width: 64px;
      height: 64px;
      margin-right: 30px;
      position: static !important;
      transform: none !important;
      display: block;
      background-color: $blue !important;
      opacity: .2;
      transition: .3s;
      cursor: pointer;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      -webkit-background-size: 20px !important;
      background-size: 20px !important;
      font-size: 0 !important;

      span {
        display: none;
      }
      
      &.owl-prev {
        background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.785 11.5275L11.49 18.2325L9.7225 20L8.49968e-07 10.2775L9.7225 0.554999L11.49 2.3225L4.785 9.0275L20 9.0275L20 11.5275L4.785 11.5275Z' fill='white'/%3E%3C/svg%3E%0A") !important;
      }

      &.owl-next {
        background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.215 8.4725L8.51 1.7675L10.2775 1.79698e-06L20 9.7225L10.2775 19.445L8.51 17.6775L15.215 10.9725L-1.91849e-06 10.9725L-1.48138e-06 8.4725L15.215 8.4725Z' fill='white'/%3E%3C/svg%3E%0A") !important;
      }

      &:last-child {
        margin: 0;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

.news__item {
  padding: 30px 20px;
  border-radius: 5px;
  background-color: #fff;
}

.news__top {
  position: relative;
}

.news__img {
  border-radius: 4px;
  padding-top: 40.63%;
  position: relative;
  overflow: hidden;
}

.news__siteurl {
  left: 5px;
  height: 28px;
  padding: 0 20px;
  border-radius: 4px;
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: $blue;
  color: #fff;
  bottom: 0;
  transform: translateY(50%);
  position: absolute;
  z-index: 4;
}

.news__bottom {
  margin-top: 34px;
}

.news__date {
  font-size: 15px;
  line-height: 1;
  color: rgba(51, 51, 51, 0.5);
  font-weight: 500;
  display: flex;
  align-items: center;
  align-content: center;

  &::before {
    width: 14px;
    height: 14px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: contain;
    background-size: contain;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_886_370)'%3E%3Cpath d='M6.10352e-05 7H14.0001V13.3C14.0001 13.4857 13.9263 13.6637 13.795 13.795C13.6638 13.9263 13.4857 14 13.3001 14H0.700061C0.514409 14 0.336362 13.9263 0.205086 13.795C0.0738108 13.6637 6.10352e-05 13.4857 6.10352e-05 13.3V7ZM10.5001 1.4H13.3001C13.4857 1.4 13.6638 1.47375 13.795 1.60503C13.9263 1.7363 14.0001 1.91435 14.0001 2.1V5.6H6.10352e-05V2.1C6.10352e-05 1.91435 0.0738108 1.7363 0.205086 1.60503C0.336362 1.47375 0.514409 1.4 0.700061 1.4H3.50006V0H4.90006V1.4H9.10006V0H10.5001V1.4Z' fill='%23333333' fill-opacity='0.5'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_886_370'%3E%3Crect width='14' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    content: '';
  }
}

.news__text {
  margin-top: 10px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 500;
  color: $text3;
}

.news__url {
  margin-top: 10px;
  font-size: 15px;
  line-height: 19px;
  color: $blue;
  font-weight: 700;
  display: inline-block;
  text-decoration: underline $blue dashed !important;
  text-underline-position: under;
}


@media screen and (max-width: 1620px) {
  .news__content {
    &::before {
      display: none;
    }
  }
}


@media screen and (max-width: 1440px) {
  .section__news {
    padding: 65px 0;
  }
}


@media screen and (max-width: 760px) {
  .section__news {
    .sec__title {
      text-align: center;
    }
  }
  .news__content {
    width: calc(100% - 88px) !important;
    margin: 0 auto;
    margin-top: 60px;
  }
  .news__carousel {
    .owl-stage-outer {
      overflow: hidden !important;
    }
    .owl-nav {
      transform: none !important;
      position: static;
      button {
        width: 24px;
        height: 24px;
        margin-right: 0;
        position: absolute !important;
        transform: translateY(-50%) !important;
        top: 50%;
        background-color: transparent !important;
        opacity: 1;
        -webkit-background-size: contain !important;
        background-size: contain !important;
        font-size: 0 !important;
        &.owl-prev {
          left: -43px !important;
          background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.785 13.5274L13.49 20.2324L11.7225 21.9999L2 12.2774L11.7225 2.55492L13.49 4.32242L6.785 11.0274L22 11.0274L22 13.5274L6.785 13.5274Z' fill='black'/%3E%3C/svg%3E%0A") !important;
        }
        &.owl-next {
          right: -43px !important;
          background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.215 10.4726L10.51 3.76758L12.2775 2.00008L22 11.7226L12.2775 21.4451L10.51 19.6776L17.215 12.9726H2V10.4726H17.215Z' fill='black'/%3E%3C/svg%3E%0A") !important;
        }
      }
    }
  }
}


@media screen and (max-width: 428px) {
  .section__news {
    padding: 15.19vw 0;
  }
  .news__content {
    width: calc(100% - 20.56vw) !important;
    margin: 0 auto;
    margin-top: 14.02vw;
  }
  .news__carousel {
    .owl-nav {
      button {
        width: 5.61vw;
        height: 5.61vw;
        &.owl-prev {
          left: -10.05vw !important;
        }
        &.owl-next {
          right: -10.05vw !important;
        }
      }
    }
  }
  .news__item {
    padding: 7.01vw 4.67vw;
    border-radius: 1.17vw;
  }
  .news__img {
    border-radius: 0.93vw;
  }
  .news__siteurl {
    left: 1.17vw;
    height: 6.54vw;
    padding: 0 4.67vw;
    border-radius: 0.93vw;
    font-size: 3.04vw;
  }
  .news__bottom {
    margin-top: 7.94vw;
  }
  .news__date {
    font-size: 3.5vw;
    &::before {
      width: 3.27vw;
      height: 3.27vw;
      margin-right: 1.17vw;
    }
  }
  .news__text {
    margin-top: 2.34vw;
    font-size: 3.5vw;
    line-height: 7.01vw;
  }
  .news__url {
    margin-top: 2.34vw;
    font-size: 3.5vw;
    line-height: 4.44vw;
  }
}