.section__about {
  position: relative;
  z-index: 5;
  background-color: #FAFAFA;
}

.about__content {
  padding: 140px 0;
}

.about__left {
  width: 460px;
  padding-right: 12px;
}

.about__title {
  font-size: 44px;
  line-height: 58px;
  font-weight: $bold;
  color: $text1;
}

.about__right {
  width: calc(100% - 460px);
}

.about__text {
  font-size: 24px;
  line-height: 30px;
  color: $text3;
}

.about__contact {
  margin-top: 50px;
  align-items: center;
  align-content: center;

  .at-share-btn-elements {
    a {
      margin: 0;
      margin-right: 20px !important;
      width: 34px;
      height: 34px;
      background-color: $blue !important;
      padding: 0;
      display: inline-flex;
      align-items: center;
      align-content: center;
      justify-content: center;

      span, svg {
        width: 25px !important;
        height: 25px !important;
        line-height: 34px !important;
      }

      &:last-child {
        margin-right: 0 !important;
      }
    }
  }

  .about__list {
    margin-top: 0 !important;
  }
}

.about__conttitle {
  font-size: 15px;
  line-height: 17px;
  margin-right: 36px;
  color: $blue;
}

.about__list {
  margin-left: 42px;

  li {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    a {
      width: 34px;
      height: 34px;
      align-items: center;
      align-content: center;
      justify-content: center;
      display: flex;

      &:hover {
        img {
          transform: translateY(-14%);
          filter: invert(94%) sepia(92%) saturate(1159%) hue-rotate(319deg) brightness(99%) contrast(91%);
        }
      }

      img {
        width: 34px;
        height: 34px;
        filter: invert(50%) sepia(74%) saturate(357%) hue-rotate(165deg) brightness(97%) contrast(96%);
        transition: .3s transform;
      }
    }
  }
}

.about__image {
  width: 750px;
  top: -269px;
  bottom: -130px;
  border-radius: 10px;
  right: 0;
  position: absolute;
  overflow: hidden;
}


@media screen and (max-width: 1440px) {
  .about__content {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .about__info {
    width: 60%;
    padding-right: 32px;
  }
  .about__title {
    font-size: 40px;
    line-height: 52px;
  }
  .about__text {
    margin-top: 32px;
    font-size: 15px;
    line-height: 30px;
  }
  .about__contact {
    margin-top: 44px;
  }
  .about__conttitle {
    font-size: 15px;
    line-height: 18px;
  }
  .about__list {
    margin-left: 32px;
  }
  .about__image {
    width: 40%;
    top: -160px;
    bottom: -90px;
    border-radius: 10px;
  }
}


@media screen and (max-width: 1024px) {
  .about__content {
    padding-top: 56px;
    padding-bottom: 160px;
    position: relative;
  }
  .about__left {
    width: 100%;
    padding-right: 0;
  }
  .about__title {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
  .about__right {
    margin-top: 45px;
    width: 100%;
  }
  .about__text {
    margin-top: 0;
    font-size: 16px;
    line-height: 30px;
  }
  .about__contact {
    bottom: 75px;
    position: absolute;
    left: 0;
    margin: 0 auto;
  }
  .about__conttitle {
    font-size: 15px;
    line-height: 18px;
  }
  .about__list {
    margin-left: 32px;
  }
}


@media screen and (max-width: 760px) {
  .about__list {
    margin-left: 0;
  }
}

@media screen and (max-width: 550px) {
  .about__content {
    padding-bottom: 204px;
  }
  .about__contact {
    right: 0;
    justify-content: center;
  }
  .about__conttitle {
    margin-right: 0;
    margin-bottom: 37px;
    width: 100%;
    text-align: center;
  }
}


@media screen and (max-width: 428px) {
  .about__content {
    padding-top: 13.08vw;
    padding-bottom: 47.66vw;
  }
  .about__title {
    font-size: 7.01vw;
    line-height: 9.35vw;
  }
  .about__right {
    margin-top: 10.51vw;
  }
  .about__text {
    font-size: 3.74vw;
    line-height: 7.01vw;
  }
  .about__contact {
    bottom: 17.52vw;
    .at-share-btn-elements {
      a {
        margin-right: 4.67vw !important;
        width: 7.94vw;
        height: 7.94vw;
        span, svg {
          width: 25px !important;
          height: 25px !important;
          line-height: 7.94vw !important;
        }
      }
    }
  }
  .about__conttitle {
    margin-bottom: 8.64vw;
    font-size: 4.91vw;
    line-height: 6.07vw;
  }
  .about__list {
    li {
      margin-right: 4.68vw;
      a {
        width: 7.94vw;
        height: 7.94vw;
        img {
          width: 7.94vw;
          height: 7.94vw;
        }
      }
    }
  }
}
