.section__foundators {
  padding-top: 130px;
  padding-bottom: 148px;
  background: linear-gradient(90deg, rgba(250, 250, 250, 0.55) 1.3%, rgba(250, 250, 250, 0.55) 69.67%);
}

.founders__content {
  margin-top: 80px;
}

.founders__carousel {
  margin: 0 -15px;
  margin-bottom: -30px;
  display: flex;
  .owl-stage {
    display: flex;
  }
}

.founders__item {
  width: calc(20% - 30px);
  margin: 0 15px;
  margin-bottom: 30px;
  padding: 90px 32px;
  padding-bottom: 140px;
  background-color: #fff;
  box-shadow: 0 0 0 0 transparent;
  transition: .3s box-shadow;
  position: relative;

  &:hover {
    box-shadow: 0 34px 65px -5px rgba(228, 228, 228, 0.55);

    .founders__sircle {
      background-color: v;
    }
  }

  .about__list {
    left: 32px;
    bottom: 90px;
    margin: 0;
    margin-top: 2em;
    position: absolute;
  }
}

.founders__sircle {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: $blue;
  transition: .3s background-color;
}

.founders__name {
  font-size: 24px;
  line-height: 30px;
  margin-top: 22px;
  font-weight: $bold;
  color: $text1;
}

.founders__text {
  font-size: 15px;
  line-height: 30px;
  margin-top: 28px;
  color: $text1;
  p {
    opacity: .8;
  }
}


@media screen and (max-width: 1440px) {
  .section__foundators {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .founders__content {
    margin-top: 48px;
  }
  .founders__carousel {
    margin: 0 -12px;
    margin-bottom: -24px;
  }
  .founders__item {
    width: calc(20% - 24px);
    margin: 0 12px;
    margin-bottom: 24px;
    min-height: inherit;
    padding: 32px 24px;
    padding-bottom: 80px;
    &:hover {
      box-shadow: 0 34px 65px -5px rgba(228, 228, 228, 0.55);
    }
    .about__list {
      left: 24px;
      bottom: 32px;
    }
  }
  .founders__sircle {
    width: 16px;
    height: 16px;
  }
  .founders__name {
    font-size: 24px;
    line-height: 30px;
    margin-top: 12px;
  }
  .founders__text {
    font-size: 15px;
    line-height: 30px;
    margin-top: 12px;
  }
}


@media screen and (max-width: 1024px) {
  .section__foundators {
    padding-top: 50px;
    padding-bottom: 40px;
    position: relative;
    .sec__title {
      text-align: center;
      padding: 0 54px;
    }
  }
  .section__foundators .owl-carousel {
    .owl-stage-outer {
      overflow: visible !important;
    }
    &::after, &::before {
      width: 45px;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      background: linear-gradient(90deg, #FCFCFC 1.3%, #FCFCFC 69.67%);
      z-index: 2;
    }
    &::after {
      right: 0;
    }
    &::before {
      left: 0;
    }
  }
  .founders__content {
    margin-top: 0;
    position: relative;
  }
  .founders__carousel {
    margin: 0;
    padding: 50px 24px;
    overflow: hidden;
    display: block !important;
    .owl-stage-outer {
      overflow: visible;
    }
    .active {
      .founders__item {
        box-shadow: 0 18px 32px -5px rgba(228, 228, 228, 0.55);
      }
    }
  }
  .founders__item {
    width: 100%;
    margin: 0;
    padding: 40px 15px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    text-align: center;
    box-shadow: none;
    height: 100%;
    &:hover {
      box-shadow: 0 11px 22px -3px rgba(228, 228, 228, 0.55);
    }
    .about__list {
      left: 0;
      bottom: 40px;
      li {
        a {
          width: 28px;
          height: 28px;
          img {
            width: 28px;
            height: 28px;
          }
        }
      }
    }
  }
  .founders__sircle {
    width: 15px;
    height: 15px;
  }
  .founders__name {
    font-size: 24px;
    line-height: 30px;
    margin-top: 30px;
  }
  .founders__text {
    font-size: 15px;
    line-height: 30px;
    margin-top: 16px;
    .about__list {
      width: 100%;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 760px) {
  .section__foundators .owl-carousel::after, .section__foundators .owl-carousel::before {
    width: 30px;
  }
  .section__foundators .owl-carousel {
    .owl-nav {
      div, button {
        left: 0;
        &.owl-next {
          right: 0;
          left: auto;
        }
      }
    }
  }
}


@media screen and (max-width: 428px) {
  .section__foundators {
    .sec__title {
      padding: 0 12.62vw;
    }
    padding-top: 11.68vw;
    padding-bottom: 9.35vw;
  }
  .section__foundators .owl-carousel {
    &::after, &::before {
      width: 8.32vw;
    }
  }
  .founders__carousel {
    padding: 11.68vw 5.61vw;
    .active {
      .founders__item {
        box-shadow: 0 2.57vw 5.14vw -0.7vw rgba(228, 228, 228, 0.55);
      }
    }
  }
  .founders__item {
    padding: 9.35vw 3.5vw;
    padding-bottom: 20vw;
    &:hover {
      box-shadow: 0 2.57vw 5.14vw -0.7vw rgba(228, 228, 228, 0.55);
    }
    .about__list {
      bottom: 9.35vw;
      li {
        a {
          width: 6.94vw;
          height: 6.94vw;
          img {
            width: 6.94vw;
            height: 6.94vw;
          }
        }
      }
    }
  }
  .founders__sircle {
    width: 3.5vw;
    height: 3.5vw;
  }
  .founders__name {
    font-size: 5.61vw;
    line-height: 7.01vw;
    margin-top: 7.01vw;
  }
  .founders__text {
    font-size: 3.5vw;
    line-height: 7.01vw;
    margin-top: 3.74vw;
  }
}
