<script setup>
    import {useForm} from "@inertiajs/inertia-vue3";
    import JetInputError from '@/Jetstream/InputError.vue';

    const formCode = useForm({
        code: '',
        phone: '',
    });

    const submitCode = () => {
        formCode.post('/checkCode');
    };


</script>

<template>
    <div class="popup" id="popup__auth">
        <div onclick="closePopup()" ref="form" class="popup__underlay"></div>
        <div class="popup__container">
            <div class="popup__content">
                <a href="javascript:void(0);" onclick="closePopup()" class="popup__close"></a>
                <div class="popup__title">
                    Авторизація
                </div>
                <div class="popup__aftertext">
                    Доступи до особистого кабінету надходять на вашу пошту після оформлення запиту
                </div>
                <form @submit.prevent="submitCode" class="popup__form formRequest flex">
                    <div class="field__label label l1">
                        <input type="tel" @focus="formCode.clearErrors()" id="phone" ref="phone" v-maska="'+38(###)###-##-##'" v-model="formCode.phone" name="title" placeholder="Введіть ваш номер телефону" class="field__input">
                        <label for="phone" class="field__name">Номер телефону</label>
                        <div class="focusLine"></div>
                        <JetInputError ref="error" v-if="formCode.hasErrors" :message="formCode.errors.phone" @focus="resetValidation()" class="input__error errorInner" />
                    </div>
                    <div class="field__label label l1">
                        <input type="password" @focus="formCode.clearErrors()" id="code" ref="code" v-model="formCode.code" name="title" placeholder="Введіть ваш пароль" class="field__input" autocomplete="on">
                        <label for="code" class="field__name">Пароль</label>
                        <div class="focusLine"></div>
                        <JetInputError v-if="formCode.hasErrors" :message="formCode.errors.code" class="input__error errorInner" />
                    </div>
                    <div class="submit__cont flex">
                        <button type="submit" class="form__button button">
                            <span>Увійти</span>
                        </button>
                    </div>
                    <div class="submit__cont flex">
                        <a class="forget__utl" href="/forgot-password">Забули пароль?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="popup" id="popup__logined">
        <div onclick="closePopup()" class="popup__underlay"></div>
        <div class="popup__container">
            <div class="popup__content">
                <a href="javascript:void(0);" onclick="closePopup()" class="popup__close"></a>
                <div class="popup__title">
                    Вітаємо
                </div>
                <div class="popup__aftertext">
                    <p>Зачейкайте, зараз ви будете перенаправлені до особистого кабінету</p>
                    <a href="/profile" class="header__button button modal__button"><span>Перейти</span></a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {maska} from "maska";
    import {ref} from "vue";

    const field = ref(null);

    export default {
        name: "Auth",
        directives: {
            maska
        }
    }
</script>

<style scoped>

</style>
