<template>
    <div class="popup popup__help" id="popup__after_complaint">
        <div onclick="closePopup()" class="popup__underlay"></div>
        <div class="popup__container">
            <div class="popup__content">
                <a href="javascript:void(0);" onclick="closePopup()" class="popup__close"></a>
                <div class="popup__title">
                    Успішно
                </div>
                <div class="popup__aftertext">
                    Дякуємо, що ти поряд та допомогаєш нам. Ми перевіримо цей запит і вирішимо питання якомога швидше.
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Form Success"
}
</script>

<style scoped>

</style>
