<template>
    <div class="popup" id="popup__after_disable">
        <div onclick="closePopup()" class="popup__underlay"></div>
        <div class="popup__container">
            <div class="popup__content popupCenter">
                <a href="javascript:void(0);" onclick="closePopup()" class="popup__close"></a>
                <div class="popup__title">
                    Вітаємо
                </div>
                <div class="popup__aftertext">
                    Ми щиро раді, що тобі вдалось знайти поряд того, хто тобі допоміг. Пам’ятай, поруч є ті, хто потребує твоєї допомоги.
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Form Success"
}
</script>

<style scoped>

</style>
