<template>
    <div class="popup" id="popup__footer">
        <div onclick="closePopup()" class="popup__underlay"></div>
        <div class="popup__container">
            <div class="popup__content popupCenter">
                <a href="javascript:void(0);" onclick="closePopup()" class="popup__close"></a>
                <div class="popup__title">
                    Відправлено
                </div>
                <div class="popup__aftertext">
                    Форма успішно відправлена. Скоро ми дамо відповідь на вказаний e-mail
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Form Success"
}
</script>

<style scoped>

</style>
