<script setup>
import {useForm, usePage} from "@inertiajs/inertia-vue3";
import JetInputError from '@/Jetstream/InputError.vue';
import {isEqualPhones} from '@/helper.js';
import {onBeforeMount, ref, computed} from "vue";
// import { createApp } from 'vue'
// import { VueReCaptcha, useReCaptcha } from 'vue-recaptcha-v3'
//
// const component = {
//     setup() {
//         const { executeRecaptcha, recaptchaLoaded } = useReCaptcha()
//
//         const recaptcha = async () => {
//             // (optional) Wait until recaptcha has been loaded.
//             await recaptchaLoaded()
//
//             // Execute reCAPTCHA with action "login".
//             const token = await executeRecaptcha('login')
//
//             // Do stuff with the received token.
//         }
//
//         return {
//             recaptcha
//         }
//     },
//     template: '<button @click="recaptcha">Execute recaptcha</button>'
// }
//
// createApp(component)
//     .use(VueReCaptcha, { siteKey: '6Lcx8iMgAAAAAIYmB5a6viVIdlHR778eD0iKzidX' })

const form = ref(null);

const props = defineProps({
    auth: Object
});

const support = useForm({
    city_id: props.auth && props.auth.user ? props.auth.user.city_id : '',
    category_id: '',
    title: '',
    description: '',
    degree: '',
    is_other_needy: false,
    name: props.auth && props.auth.user ? props.auth.user.name : '',
    phone: props.auth && props.auth.user ? props.auth.user.phone : '',
    email: props.auth && props.auth.user ? props.auth.user.email : '',
    is_phone_viber: '',
    is_phone_tg: '',
    telegram: props.auth && props.auth.user ? props.auth.user.telegram : '',
    viber: props.auth && props.auth.user ? props.auth.user.viber : '',
    // is_phone_viber: props.auth.user ? isEqualPhones(props.auth.user.phone, props.auth.user.viber) : false,
    terms: false,
    delivery: false,
    delivery_type: '',
    delivery_address: '',
    // captcha_token :null,
});

const cityName = ref('');
const isSearch = ref(false);
const citySelected = ref(false);

const {city, cities, categories} = usePage().props.value

const filteredCity = computed(() => {
    if(isSearch.value){
        return cities.data.filter((city) => city.name.toLowerCase().indexOf(cityName.value.toLowerCase()) !== -1)
    } else {
        return cities.data
    }
})

const setCityIfExist = () => {
    if(city){
        support.city_id = city.id
        cityName.value = city.name
        citySelected.value = true
    } else if (props.auth.user && props.auth.user.relation_city) {
        support.city_id = props.auth.user.relation_city.id
        cityName.value = props.auth.user.relation_city.name
        citySelected.value = true
    }
}
const search = (e) => {
    if(!isSearch.value){
        isSearch.value = true
    }
    cityName.value = e.target.value
}
const setCity = (e, city, support) => {
    support.city_id = city.id
    cityName.value = city.name
}

// const { executeRecaptcha, recaptchaLoaded } = useReCaptcha()
// const recaptcha = async () => {
//     await recaptchaLoaded()
//     form.captcha_token = await executeRecaptcha('login')
//     submit();
// }

const submit = () => {
    support.post('/makeRequest', {
        onSuccess: () => {
            support.reset()

            $('.selectRadio').prop('checked', false);
            // form.value.click()

            $('.help__url').addClass('done');
            $('.help__url').addClass('unclicked');
            $('.help__url').removeClass('active');
            $('.doneHelp').addClass('active');
            $('.help__progres').hide();
            $('.help__step').removeClass('active');
            $('.lastStep').addClass('active');

            var
                stepText = $('.lastStep').data().text;

            $('.help__text').text(stepText);

            // if (props.auth.user) {
            //     openPopup($('<a href="#popup__after_auth"></a>'))
            // } else {
            //     openPopup($('<a href="#popup__after"></a>'))
            // }

            cityName.value = ''
            setCityIfExist()
            $('.selector__ctr.category').text('Категорія')
            $('.selector__ctr.degree').text('Ступінь')
            $('.selector__ctr.del').text('Оберіть спосіб отримання допомоги')
            $('.select__city input').empty()
        },
    });
};

const stepFirst  = () => {
    support.post('/step-first', {
        onProgress: () => {
            console.log('Progress');
        },
        onSuccess: () => {
            $( "#secondStep" ).click();
            console.log('Success');
        },
        onError: () => {
            console.log('Error');
        },
        onFinish: () => {
            console.log('Finish');
        },
    })
};

const stepSecond  = () => {
    support.post('/step-second', {
        onProgress: () => {
            console.log('Progress');
        },
        onSuccess: () => {
            $( "#thirdStep" ).click();
            console.log('Success');
        },
        onError: () => {
            console.log('Error');
        },
        onFinish: () => {
            console.log('Finish');
        },
    })
};

const stepThird  = () => {
    support.post('/step-third', {
        onProgress: () => {
            console.log('Progress');
        },
        onSuccess: () => {
            $( "#fourStep" ).click();
            console.log('Success');
        },
        onError: () => {
            console.log('Error');
        },
        onFinish: () => {
            console.log('Finish');
        },
    })
};

const stepFourth  = () => {
    support.post('/step-fourth', {
        onProgress: () => {
            console.log('Progress');
        },
        onSuccess: () => {
            $( "#finalStep" ).click();
            console.log('Success');
        },
        onError: () => {
            console.log('Error');
        },
        onFinish: () => {
            console.log('Finish');
        },
    })
};
onBeforeMount(setCityIfExist)
</script>

<template>
    <div class="popup" id="popup__request">
        <div onclick="closePopupReq($(this))" data-id="popup__request" class="popup__underlay"></div>
        <div class="popup__container">
            <div class="popup__content popupCenter help__popup">
                <a href="javascript:void(0);" ref="form" onclick="closePopupReq($(this))" data-id="popup__request" class="popup__close"></a>
                <div class="help__left">
                    <div class="help__ltop">
                        <div class="popup__title">
                            Подати запит
                        </div>
                        <div class="help__text">
                            Введи дані, які будуть використовуватись для входу до особистого кабінету. На вказану пошту надійте пароль
                        </div>
                    </div>
                    <ul class="help__nav">
                        <li class="help__navitem">
                            <a href="#step_1" onclick="moveStepNav($(this))" class="help__url active">
                                Про вас
                            </a>
                        </li>
                        <li class="help__navitem">
                            <a href="#step_2" onclick="moveStepNav($(this))" class="help__url">
                                Месенджери
                            </a>
                        </li>
                        <li class="help__navitem">
                            <a href="#step_3" onclick="moveStepNav($(this))" class="help__url">
                                Ваш запит
                            </a>
                        </li>
                        <li class="help__navitem">
                            <a href="#step_4" onclick="moveStepNav($(this))" class="help__url">
                                Отримання
                            </a>
                        </li>
                        <li class="help__navitem">
                            <a href="#step_5" onclick="moveStepNav($(this))" class="help__url doneHelp">
                                Запит розміщено
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="help__right">
                    <form @submit.prevent="submit" class="popup__form formRequest flex">
                        <div class="help__progres">
                            <div class="hprog__top flex">
                                <span>Ваш запит</span>
                                <span><span class="progRtap">1</span>/4</span>
                            </div>
                            <div class="progress__bar"><div style="width: 25%;" class="progress__line"></div></div>
                        </div>
                        <div class="help__step firstStep active" id="step_1" data-text="Введи дані, які будуть використовуватись для входу до особистого кабінету. На вказану пошту надійте пароль">
                            <div class="field__label fullWudth">
                                <input type="text" @focus="support.clearErrors()" id="f1" v-model="support.name" name="name" required placeholder="Наприклад: Тарас Шевченко" class="field__input">
                                <label for="f1" class="field__name">Ім’я та прізвище</label>
                                <div class="focusLine"></div>
                                <JetInputError v-if="support.hasErrors" :message="support.errors.name" class="input__error errorInner" />

                            </div>
                            <div class="field__label partWidth">
                                <input id="f3" @focus="support.clearErrors()" v-maska="'+38(###)###-##-##'" v-model="support.phone" required type="tel" name="phone" :disabled="$page.props.auth.user" placeholder="Наприклад: 0440000000" class="field__input">
                                <label for="f3" class="field__name">Телефон</label>
                                <div class="focusLine"></div>
                                <!--                                <div class="input__error">Поле обов’язкове для заповнення</div>-->
                                <JetInputError v-if="support.hasErrors" :message="support.errors.phone" class="input__error errorInner" />
                            </div>
                            <div class="field__label partWidth">
                                <input id="f6" @focus="support.clearErrors()" v-model="support.email" v-maska="{ mask: 'Z*', tokens: { 'Z': { pattern: /[0-9a-zA-Z \@ \.'_]/ }}}" type="text" name="email" required placeholder="Наприклад: taras@poryad.in.ua" :disabled="$page.props.auth.user" class="field__input emailReq">
                                <label for="f6" class="field__name">Пошта</label>
                                <div class="focusLine"></div>
                                <!--                                <div class="input__error">Поле обов’язкове для заповнення</div>-->
                                <JetInputError v-if="support.hasErrors" :message="support.errors.email" class="input__error errorInner" />
                            </div>
                            <div class="step__buttons oneButton">
                                <a href="javascript:void(0);" @click="stepFirst" class="next__step button whiteButton">
                                    <span>Наступний крок</span>
                                </a>
                                <span><a id="secondStep" href="#step_2" onclick="nextStep($(this))"></a></span>
                            </div>
                        </div>

                        <div class="help__step" id="step_2" data-text="Якщо хочеш, щоб з тобою могли зв'язатись через меседжери, то вкажи їх (вайбер, телеграм)">
                            <div class="phone__group">
                                <div v-if="!support.is_phone_tg" class="field__label fullWudth">
                                    <input v-maska="{ mask: '@Z*', tokens: { 'Z': { pattern: /[0-9a-zA-Z \-'_]/ }}}"  @focus="support.clearErrors()" ref="telegram" type="text" id="f9" v-model="support.telegram" name="telegram" placeholder="Наприклад: @poryad_in_ua" class="field__input">
                                    <label for="f9" class="field__name">Логін Telegram</label>
                                    <div class="focusLine"></div>
                                </div>
                                <div class="field__label chackbox">
                                    <input type="checkbox" id="f17" v-model="support.is_phone_tg" name="istg" class="inputHidden">
                                    <label for="f17" class="check__kabel flex">
                                        <span class="check__false"></span>
                                        <span class="check__text">Telegram відповідає номеру</span>
                                    </label>
                                </div>
                            </div>
                            <div class="phone__group">
                                <div v-if="!support.is_phone_viber" class="field__label fullWudth">
                                    <input id="f10" ref="viber" v-maska="'+38(###)###-##-##'" v-model="support.viber" type="tel"  name="viber" placeholder="Наприклад: 0440000000" class="field__input">
                                    <label for="f10" class="field__name">Viber</label>
                                    <div class="focusLine"></div>
                                    <JetInputError v-if="support.hasErrors" :message="support.errors.viber" class="input__error errorInner" />
                                </div>
                                <div class="field__label chackbox">
                                    <input type="checkbox" id="f11" v-model="support.is_phone_viber" name="isviber" class="inputHidden">
                                    <label for="f11" class="check__kabel flex">
                                        <span class="check__false"></span>
                                        <span class="check__text">Viber відповідає номеру</span>
                                    </label>
                                </div>
                            </div>
                            <div class="step__buttons twoButton">
                                <a href="#step_1" onclick="stepMove($(this))" class="prev__step button transButton">
                                    <span>Назад</span>
                                </a>
                                <a href="javascript:void(0);" @click="stepSecond" class="next__step button whiteButton">
                                    <span>Наступний крок</span>
                                </a>
                                <span><a id="thirdStep" href="#step_3" onclick="nextStep($(this))"></a></span>
                            </div>
                        </div>

                        <div class="help__step fullheight" id="step_3" data-text="Опиши детально свій запит. Це допоможе швидше отримати допомогу">
                            <div class="field__label select partWidth zPrior">
                                <div class="selector">
                                    <div onclick="openSelect($(this))" @click="support.clearErrors()" class="selector__ctr category">Категорія</div>
                                    <div class="selector__list required newScroll">
                                        <label v-for="category in categories.data" class="selector__option">
                                            <input onchange="changeSel($(this))" @click="support.category_id = category.id" @focus="support.clearErrors()" type="radio" name="category_id" :value="category.title" class="inputSel selectRadio">
                                            <span>{{ category.title }}</span>
                                        </label>
                                    </div>
                                </div>
                                <!--                                <div class="input__error">Поле обов’язкове для заповнення</div>-->
                                <JetInputError v-if="support.hasErrors" :message="support.errors.category_id" class="input__error errorInner" />
                            </div>
                            <div class="field__label select partWidth">
                                <div class="selector">
                                    <div onclick="openSelect($(this))" @click="support.clearErrors()" class="selector__ctr degree">Ступінь</div>
                                    <div class="selector__list required newScroll">
                                        <label class="selector__option">
                                            <input onchange="changeSel($(this))" @click="support.degree = 'urgently'" @focus="support.clearErrors()" type="radio" name="urgency" value="Терміново потрібно" class="inputSel selectRadio">
                                            <span>Терміново потрібно</span>
                                        </label>
                                        <label class="selector__option">
                                            <input onchange="changeSel($(this))"  @click="support.degree = 'wait'" @focus="support.clearErrors()" type="radio" name="urgency" value="Терміново, але можу зачекати" class="inputSel selectRadio">
                                            <span>Терміново, але готовий зачекати</span>
                                        </label>
                                        <label class="selector__option">
                                            <input onchange="changeSel($(this))" @click="support.degree = 'grateful'" @focus="support.clearErrors()" type="radio" name="urgency" value="Буду вдячний" class="inputSel selectRadio">
                                            <span>Буду вдячний</span>
                                        </label>
                                    </div>
                                </div>
                                <!--                                <div class="input__error">Поле обов’язкове для заповнення</div>-->
                                <JetInputError v-if="support.hasErrors" :message="support.errors.degree" class="input__error errorInner" />
                            </div>
                            <div class="field__label fullWidth labelCity">
                                <div class="select__city">
                                    <input type="text" @focus="support.clearErrors()" v-maska="{ mask: 'Z*', tokens: { 'Z': { pattern: /[а-яА-Я'і/ї/є/ ]/ }}}" :value="cityName" @input="search" required id="fs" placeholder="Наприклад: Львів" class="field__input inputCity">
                                    <label for="fs" class="field__name">Місто</label>
                                    <div class="select_citylist newScroll">
                                        <div
                                            v-for="city in filteredCity"
                                            @click="e => setCity(e, city, support)"
                                            class="city__item"><span>{{ city.name }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="quote"><div class="quote__text">Окрім тимчасово окупованих територій</div></div>
                                <!--                                <div class="input__error">Поле обов’язкове для заповнення</div>-->
                                <JetInputError v-if="support.hasErrors" :message="support.errors.city_id" class="input__error errorInner" />
                            </div>
                            <div class="field__label fullWidth">
                                <textarea name="title" @focus="support.clearErrors()" v-model="support.title" required id="f4" placeholder="Наприклад:  Потрібні фарби" class="field__input field__textarea"></textarea>
                                <label for="f4" class="field__name">Заголовок</label>
                                <div class="focusLine"></div>
                                <!--                                <div class="input__error">Поле обов’язкове для заповнення</div>-->
                                <JetInputError v-if="support.hasErrors" :message="support.errors.title" class="input__error errorInner" />
                            </div>
                            <div class="field__label fullWidth">
                                <textarea name="description" @focus="support.clearErrors()" v-model="support.description" required id="ft" placeholder="Наприклад: Коли евакуювався від клятих москалів,то не встиг взяти фарби. Буду дуже вдячний" class="field__input field__textarea"></textarea>
                                <label for="ft" class="field__name">Опис</label>
                                <div class="focusLine"></div>
                                <!--                                <div class="input__error">Поле обов’язкове для заповнення</div>-->
                                <JetInputError v-if="support.hasErrors" :message="support.errors.description" class="input__error errorInner" />
                            </div>
                            <div class="step__buttons twoButton">
                                <a href="#step_2" onclick="stepMove($(this))" class="prev__step button transButton">
                                    <span>Назад</span>
                                </a>
                                <a href="javascript:void(0);" @click="stepThird" class="next__step button whiteButton">
                                    <span>Наступний крок</span>
                                </a>
                                <span><a id="fourStep" href="#step_4" onclick="nextStep($(this))"></a></span>
                            </div>
                        </div>

                        <div class="help__step" id="step_4" data-text="Обери, як саме ти хочеш отримати допомогу">
                            <div class="delievery__group">
                                <div class="field__label select l1 p1">

                                    <div class="selector">
                                        <div onclick="openSelect($(this))" @click="support.clearErrors()" class="selector__ctr del">Оберіть спосіб отримання допомоги</div>
                                        <div class="selector__list required newScroll">
                                            <label class="selector__option">
                                                <input onchange="changeSel($(this))" @click="support.delivery_type = 'pick'; support.delivery = false" @focus="support.clearErrors()" type="radio" name="sheepCh" value="Є можливість забрати" class="inputSel selectRadio">
                                                <span>Є можливість забрати</span>
                                            </label>

                                            <label class="selector__option">
                                                <input onchange="changeSel($(this))" @click="support.delivery_type = 'np'; support.delivery = true" @focus="support.clearErrors()" type="radio" name="sheepCh" value="Нова пошта" class="inputSel selectRadio">
                                                <span>Нова пошта</span>
                                            </label>
                                            <label class="selector__option">
                                                <input onchange="changeSel($(this))" @click="support.delivery_type = 'up'; support.delivery = true" @focus="support.clearErrors()" type="radio" name="sheepCh" value="Укр. пошта" class="inputSel selectRadio">
                                                <span>Укр. пошта</span>
                                            </label>
                                            <label class="selector__option">
                                                <input onchange="changeSel($(this))" @click="support.delivery_type = 'other'; support.delivery = true" @focus="support.clearErrors()" type="radio" name="sheepCh" value="Інше" class="inputSel selectRadio">
                                                <span>Інше</span>
                                            </label>
                                        </div>
                                        <!--                                        <div class="input__error">Поле обов’язкове для заповнення</div>-->
                                        <JetInputError v-if="support.hasErrors" :message="support.errors.delivery_type" class="input__error errorInner" />
                                    </div>
                                </div>

                                <template v-if="support.delivery === true">
                                    <div v-if="support.delivery_type !== 'other'" class="field__label l2">
                                        <input type="text" id="f14" v-model="support.delivery_address" required name="sheep" placeholder="Наприклад: Місто Львів, індекс 79008/відділення №5" @focus="support.clearErrors()" class="field__input">
                                        <label for="f14" class="field__name">Місто та відділення вашої пошти</label>
                                        <div class="focusLine"></div>
                                        <!--                                        <div class="input__error">Поле обов’язкове для заповнення</div>-->
                                        <JetInputError v-if="support.hasErrors" :message="support.errors.delivery_address" class="input__error errorInner" />
                                    </div>
                                    <div v-else class="field__label l2">
                                        <input type="text" id="f15" v-model="support.delivery_address" required name="sheep" placeholder="Наприклад: Листування в Telegram" @focus="support.clearErrors()" class="field__input">
                                        <label for="f15" class="field__name">Вкажіть куди потрібно доставити</label>
                                        <div class="focusLine"></div>
                                        <!--                                        <div class="input__error">Поле обов’язкове для заповнення</div>-->
                                        <JetInputError v-if="support.hasErrors" :message="support.errors.delivery_address" class="input__error errorInner" />
                                    </div>
                                </template>
                            </div>
                            <div class="field__label chackbox agreeChack l9">
                                <input type="checkbox" id="f16" v-model="support.terms" required name="terms" class="inputHidden">
                                <label for="f16" @click="support.clearErrors()" class="check__kabel flex">

                                    <span class="check__false"></span>
                                    <span class="check__text">Ви погоджуєтесь на обробку персональних даних та з <br><a href="/polityka_konfidentsiynosti" target="_blank">політикою конфіденційності</a></span>
                                </label>
                                <JetInputError v-if="support.hasErrors" :message="support.errors.terms" class="input__error errorInner" />
                            </div>
                            <div class="step__buttons twoButton">
                                <a href="#step_3" onclick="stepMove($(this))" class="prev__step button transButton">
                                    <span>Назад</span>
                                </a>
                                <jet-input-error :message="support.errors.captcha_token" class="mt-2" />
                                <a href="javascript:void(0);" @click="stepFourth" class="next__step button whiteButton">
                                    <span>Розмістити запит</span>
                                </a>
                                <button id="finalStep" type="submit" class="hidden"></button>
                            </div>
                        </div>

                        <div class="help__step lastStep" id="step_5" data-text="Вітаємо">
                            <div class="finalstep__title">
                                Запит розміщено
                            </div>
                            <div class="finalstep__text">
                                Ми вже відправили доступи до особистого кабінету тобі на пошту. Твій запит успішно розміщено на порталі. Поки ти очікуєш на допомогу - не забувай про інших, та допоможи тому, хто знаходиться поряд.
                            </div>
                            <div class="step__buttons oneButton lastStepBtn">
                                <a href="#step_3" onclick="closePopupReq($(this))" data-id="popup__request" class="prev__step button whiteButton">
                                    <span>Прочитано та зрозуміло</span>
                                </a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="popup popup__help" id="popup__after_auth">
        <div onclick="closePopup()" class="popup__underlay"></div>
        <div class="popup__container">
            <div class="popup__content">
                <a href="javascript:void(0);" onclick="closePopup()" class="popup__close"></a>
                <div class="popup__title">
                    Успішно
                </div>
                <div class="popup__aftertext">
                    <p>Твій запит успішно розміщено на сайті. Коли ти отримаєш допомогу, то незабудь натиснути на кнопку "Знайшов допомогу"</p>
                    <a href="javascript:void(0);" onclick="closePopup()" class="header__button button modal__button"><span>Прочитано та зрозуміло</span></a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { maska } from 'maska';
export default {
    directives: {
        maska
    },
    mounted() {

    }
}
</script>
