<script setup>
import
{useForm} from "@inertiajs/inertia-vue3";
import JetInputError from '@/Jetstream/InputError.vue';
import {ref} from "vue";

const step = ref('first');
const form = ref(null);

const formPhone = useForm({
    phone: '',
});
const submitPhone = () => {
    formPhone.post('/sendCode', {
        onSuccess: () => {
            step.value = 'second'
        },
    });
};

const formCode = useForm({
    code: '',
});
const submitCode = () => {
    formCode.post('/checkCode', {
        onSuccess: () => {
            formPhone.reset()
            formCode.reset()
            step.value = 'first'
            form.value.click()
        },
    });
};
</script>

<template>
    <div class="popup" id="popup__register">
        <div onclick="closePopup()" ref="form" class="popup__underlay"></div>
        <div class="popup__container">
            <div class="popup__content">
                <a href="javascript:void(0);" onclick="closePopup()" class="popup__close"></a>
                <div class="popup__title">
                    Рєєстрація
                </div>
                <form v-if="step === 'first'" @submit.prevent="submitPhone" class="popup__form formRequest flex">
                    <div class="label l1">
                        <label for="phoneFirst" class="label__name">Номер телефону</label>
                        <input v-maska="'+38(###)###-##-##'" type="text" id="phoneFirst" v-model="formPhone.phone" name="title" placeholder="+38(222)___-__-__" class="input">
                        <JetInputError v-if="formPhone.hasErrors" :message="formPhone.errors.phone" class="mt-2" />
                    </div>
                    <div class="submit__cont flex">
                        <button class="form__button button">
                            <span>Отримати код входу</span>
                        </button>
                    </div>
                </form>
                <form v-else @submit.prevent="submitCode" class="popup__form formRequest flex">
                    <div class="label l1">
                        <label for="phone" class="label__name">Номер телефону</label>
                        <input v-maska="'+38(###)###-##-##'" type="text" disabled="disabled" id="phone" v-model="formPhone.phone" name="title" placeholder="+38(223)___-__-__" class="input">
                        <JetInputError v-if="formPhone.hasErrors" :message="formPhone.errors.phone" class="mt-2" />
                    </div>
                    <div class="label l1">
                        <label for="code" class="label__name">Код авторизації</label>
                        <input type="text" id="code" v-model="formCode.code" name="title" placeholder="__-__-__" class="input">
                        <JetInputError v-if="formPhone.hasErrors" :message="formPhone.errors.code" class="mt-2" />
                    </div>
                    <div class="submit__cont flex">
                        <button class="form__button button">
                            <span>Вхід</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import {maska} from "maska";

export default {
    name: "Auth",
    directives: {
        maska
    },
}
</script>

<style scoped>

</style>
