<template>
    <div class="popup" id="popup__after">
        <div onclick="closePopup()" class="popup__underlay"></div>
        <div class="popup__container">
            <div class="popup__content">
                <a href="javascript:void(0);" onclick="closePopup()" class="popup__close"></a>
                <div class="popup__title">
                    Доступ до кабінету відправлено на пошту, а запит вже опубліковано
                </div>
                <div class="popup__aftertext">
                    <p>Твій запит успішно розміщено на сайті. Лист з доступами до особистого кабінету вже відправили на вказану пошту</p>
                    <a href="javascript:void(0);" onclick="closePopup()" class="header__button button modal__button"><span>Прочитано та зрозуміло</span></a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Success"
}
</script>

<style scoped>

</style>
