<template>
    <div class="popup" id="popup__after_update">
        <div onclick="closePopup()" class="popup__underlay"></div>
        <div class="popup__container">
            <div class="popup__content popupCenter">
                <a href="javascript:void(0);" onclick="closePopup()" class="popup__close"></a>
                <div class="popup__title">
                    Відредаговано
                </div>
                <div class="popup__aftertext">
                    Твій запит успішно відредагований, та вже розміщений на порталі.
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Form Success"
}
</script>

<style scoped>

</style>
