<script setup>

defineProps({})
</script>

<template>
    <section class="section__about">
        <div class="container">
            <div class="about__content flex">
                <div class="about__left">
                    <h2 class="about__title fadeAnim">
                        Про наш сервіс
                    </h2>
                    <div class="about__contact flex">
                        <div class="about__conttitle fadeAnim">
                            поділитися:
                        </div>
                            <ul class="about__list socials__list flex fadeAnim">
                                <li>
                                    <a href="https://telegram.me/share/url?url=https://poryad.in.ua/&text=Я допомагаю на порталі «Поряд»" rel="nofollow" target="_blank">
                                        <img width="34" height="34" src="/img/icons/tg.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/sharer.php?u=https://poryad.in.ua/&t=Я допомагаю на порталі «Поряд»" rel="nofollow" target="_blank">
                                        <img width="34" height="34" src="/img/icons/fb.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href='https://twitter.com/share?url=https://poryad.in.ua/&text=Я допомагаю на порталі «Поряд»' rel="nofollow" target="_blank">
                                        <img width="34" height="34" src="/img/icons/tw.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="viber://forward?text=https://poryad.in.ua/">
                                        <img width="34" height="34" src="/img/icons/vb.svg" alt="" rel="nofollow" target="_blank">
                                    </a>
                                </li>
                            </ul>
                    </div>
                </div>
                <div class="about__right">
                    <div class="about__text fadeAnim">
                        <p>
                            Щоб зробити процеси комунікації швидкими та зручним, ми створили цей портал: місце, де прості українці надають допомогу один одному та об'єднуються у складний час. Місце, де навіть маленька допомога робить великий внесок у нашу єдність.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
