<script setup>
import {Link} from "@inertiajs/inertia-vue3";

defineProps({
    title: String,
    city: Array,
    breadcrumbs: Array
})
</script>

<template>
    <div class="page__top flex">
        <h1 class="page__title">Категорії</h1>
        <ul class="breadcrumbs flex">
            <li>
                <a href="../../">Головна /</a>
            </li>
            <li v-if="city">
                <Link :href="`/${city.slug}`">{{ city.name }} /</Link>
            </li>
            <li>
                {{ title }}
            </li>
        </ul>
    </div>
</template>
