<script setup>

defineProps({
    title: String,
    description: String
})
</script>

<template>
    <div class="cat__info">
        <h2 class="cat__title">
            {{ title }}
        </h2>
        <div class="cat__text">
            {{ description }}
        </div>
    </div>
</template>
