<script setup>
import {usePage} from "@inertiajs/inertia-vue3";
import {Inertia} from "@inertiajs/inertia";

const {current, request, degrees, reset_url} = usePage().props.value;

const goTo = (e) => {
    let $target = $(e.target)
    let name = $target.attr('name')
    let value = $target.val()

    let data = {...request, [name]: value}
    Inertia.get(current, data, { onSuccess: () => {
            $('#filter_btn').removeClass('opened')
        } })
}

const clear = () => {
    window.location.href = reset_url;
}
</script>

<template>
    <div class="cat__filter">
        <a href="javascript:void(0);" id="filter_btn" onclick="openFilterBtn($(this))" class="filter__open button">
            <span class="filter__icon"></span>
            <span class="filterClosed">Фільтр</span>
            <span class="filterOpened">Згорнути фільтр</span>
        </a>
        <ul class="filter__list flex">
            <li class="item__title">
                <h2 class="filter__title">
                    Фільтр
                </h2>
            </li>
            <li class="filter__item filterItemSelect">
                <div class="filter__ctrlcont">
                    <a href="javascript:void(0);" data-st="по даті" onclick="openFilter($(this))" class="filter__ctrl">
                        <template v-if="request && request.date === 'new'">
                            Спочатку нові
                        </template>
                        <template v-else-if="request && request.date === 'old'">
                            Спочатку старі
                        </template>
                        <template v-else>
                            по даті
                        </template>
                    </a>
                    <div class="selector__list">
                        <label class="selector__option">
                            <input onchange="changeFilter($(this))" @click="goTo" type="checkbox" name="date" value="new" class="inputSel">
                            <span>Спочатку нові</span>
                        </label>
                        <label class="selector__option">
                            <input onchange="changeFilter($(this))" @click="goTo" type="checkbox" name="date" value="old" class="inputSel">
                            <span>Спочатку старі</span>
                        </label>
                    </div>
                </div>
            </li>
            <li class="filter__item filterItemSelect" v-if="degrees && degrees.length">
                <div class="filter__ctrlcont">
                    <a href="javascript:void(0);" data-st="терміновість" onclick="openFilter($(this))" class="filter__ctrl">
                        <template v-if="request && request.degree === 'urgently'">
                            Терміново потрібно
                        </template>
                        <template v-else-if="request && request.degree === 'wait'">
                            Терміново, але готовий зачекати
                        </template>
                        <template v-else-if="request && request.degree === 'grateful'">
                            Буду вдячний
                        </template>
                        <template v-else>
                            терміновість
                        </template>
                    </a>
                    <div class="selector__list">
                        <label class="selector__option">
                            <input onchange="changeFilter($(this))" @click="goTo" type="checkbox" name="degree" value="all" class="inputSel">
                            <span>Усі запити</span>
                        </label>
                        <label class="selector__option" v-if="degrees.indexOf('urgently') > -1">
                            <input onchange="changeFilter($(this))" @click="goTo" type="checkbox" name="degree" value="urgently" class="inputSel">
                            <span>Терміново потрібно</span>
                        </label>
                        <label class="selector__option" v-if="degrees.indexOf('wait') > -1">
                            <input onchange="changeFilter($(this))" @click="goTo" type="checkbox" name="degree" value="wait" class="inputSel">
                            <span>Терміново, але готовий зачекати</span>
                        </label>
                        <label class="selector__option" v-if="degrees.indexOf('grateful') > -1">
                            <input onchange="changeFilter($(this))" @click="goTo" type="checkbox" name="degree" value="grateful" class="inputSel">
                            <span>Буду вдячний</span>
                        </label>
                    </div>
                </div>
            </li>
            <li class="filter__item filterItemSelect">
                <div class="filter__ctrlcont">
                    <a href="javascript:void(0);" data-st="на сторінці по" onclick="openFilter($(this))" class="filter__ctrl">
                        <template v-if="request && request.per_page === '10'">
                            10 запитів
                        </template>
                        <template v-else-if="request && request.per_page === '25'">
                            25 запитів
                        </template>
                        <template v-else-if="request && request.per_page === '50'">
                            50 запитів
                        </template>
                        <template v-else>
                            на сторінці по
                        </template>
                    </a>
                    <div class="selector__list">
                        <label class="selector__option">
                            <input onchange="changeFilter($(this))" @click="goTo" type="checkbox" name="per_page" value="10" class="inputSel">
                            <span>10 запитів</span>
                        </label>
                        <label class="selector__option">
                            <input onchange="changeFilter($(this))" @click="goTo" type="checkbox" name="per_page" value="25" class="inputSel">
                            <span>25 запитів</span>
                        </label>
                        <label class="selector__option">
                            <input onchange="changeFilter($(this))" @click="goTo" type="checkbox" name="per_page" value="50" class="inputSel">
                            <span>50 запитів</span>
                        </label>
                    </div>
                </div>
            </li>
            <li v-if="request.length !== 0" class="filter__item filterItemReset">
                <a @click.prevent="clear" data-name="clear" data-value="all" href="javascript:void(0);" class="filter__reset button">
                    <span>Очистити фільтри {{ request.length }}</span>
                </a>
            </li>
        </ul>
    </div>
</template>
