<script setup>
import Thumb from '../Entry/Support/CatView'

defineProps({
    categories: Object,
    city: Object,
    prefix: String,
})
</script>

<template>
    <section class="section__categories">
        <div class="container">

            <h2 v-if="city" class="sec__title fadeAnim">
                Інші категорії, в яких потрібна допомога в місті {{ city.name }}
            </h2>
            <h2 v-else class="sec__title fadeAnim">
                Категорії, в яких потрібна допомога
            </h2>
            <ul class="categories__list flex">
                <Thumb v-for="category in categories.data" :category="category" :prefix="(prefix) ? `${prefix}` : 'd'"/>
            </ul>
        </div>
    </section>
</template>
