<script setup>

import CategoryList from '../Entry/CategoryList'
import ContactForm from '../Entry/ContactForm'
import Contacts from '../Entry/Contacts'
import {usePage} from "@inertiajs/inertia-vue3";

const categories = usePage().props.value.categories
</script>

<template>
    <section class="section__contact">
        <div class="container">
            <div class="contact__container flex">
                <div class="contact__left">
                    <div class="contact__part">
                        <CategoryList v-if="categories && categories.data.length" :categories="categories"/>
                    </div>
                    <div class="contact__part">
                        <Contacts/>
                    </div>
                </div>
                <div class="contact__right">
                    <ContactForm/>
                </div>
            </div>
        </div>
    </section>
</template>
