<script setup>

defineProps({})
</script>

<template>
    <section id="donate_crypto" class="section__donate">
        <div id="donate" class="container">
            <div class="donate__content flex">
                <div class="donate__left">
                    <h3 class="donate__title">
                        Підтримай команду, що єднає українців!
                    </h3>
                    <div class="donate__mob">
                        Цією підтримкою ти забезпечуєш стабільність роботи та популяризацію порталу, а також створення нових функцій, які дадуть змогу отримувати допомогу ще зручніше. Підтримуючи нас, ти підтримуєш єднання українців. Наша єдність – ключ до перемоги!
                    </div>
                    <div class="donate__image">
<!--                        <img id="imgdon_1" width="380" height="200" src="img/content/card.png" alt="">-->
                        <!--<img id="imgdon_2" width="380" height="200" src="img/content/card2.png" alt="">-->
                        <img id="imgdon_3" class="active" width="380" height="200" src="img/content/card3.png" alt="">
                    </div>
                </div>
                <div class="donate__right">
                    <div class="donate__texttop">
                        Цією підтримкою ти забезпечуєш стабільність роботи та популяризацію порталу, а також створення нових функцій, які дадуть змогу отримувати допомогу ще зручніше. Підтримуючи нас, ти підтримуєш єднання українців. Наша єдність – ключ до перемоги!
                    </div>
                    <ul class="donate__contrals flex">
                        <li class="donate__ctrl">
                            <a href="#don_1"  onclick="changeTab($(this))" class="donatCtrl active" data-img="imgdon_1">Банківська картка</a>
                        </li>
                        <!--<li class="donate__ctrl">-->
                            <!--<a href="#don_2" onclick="changeTab($(this))" class="donatCtrl" data-img="imgdon_2">Розрахунковий рахунок</a>-->
                        <!--</li>-->
                        <li class="donate__ctrl">
                            <a href="#don_3" onclick="changeTab($(this))" class="donatCtrl" data-img="imgdon_3">Сrypto </a>
                        </li>
                    </ul>
                    <div class="donate__tabs">
                        <div class="donate__tab active" id="don_1">
                            <form @submit.prevent="submit" class="donate__form flex">
                                <div class="field__label label l3 lm1">
                                    <input type="text" id="description" v-model="form.sender_first_name" name="description" required placeholder="Наприклад: Тарас" class="form__input field__input">
                                    <label for="description" class="field__name">Ім’я<span>*</span></label>
                                    <div class="focusLine"></div>
                                    <div class="input__error">Поле обов’язкове для заповнення</div>
                                </div>
                                <div class="field__label label l3 lm1">
                                    <input v-maska="'+38(###)###-##-##'" v-model="form.description" type="tel" id="donate__phone" name="Phone" required placeholder="Наприклад: 0440000000" class="field__input">
                                    <label for="donate__phone" class="field__name">Номер телефону<span>* </span></label>
                                    <div class="focusLine"></div>
                                    <div class="input__error">Поле обов’язкове для заповнення</div>
                                </div>
                                <div class="field__label label l3 lm1">
                                    <input v-maska="{ mask: 'Z*', tokens: { 'Z': { pattern: /[0-9a-zA-Z \@ \.'_]/ }}}" v-model="form.email" type="text" id="donate__mail" name="Email" required placeholder="Наприклад: taras@poryad.in.ua" class="field__input emailReq">
                                    <label for="donate__mail" class="field__name">Пошта<span>* </span></label>
                                    <div class="focusLine"></div>
                                    <div class="input__error">Поле обов’язкове для заповнення</div>
                                </div>
                                <div class="danate__sumcont flex">
                                    <div class="input__error">Потрібно обрати або ввести суму</div>
                                    <div class="label lw2 lm1">
                                        <div class="label__name">Скільки хочеш задонатити?<span>*</span></div>
                                        <div class="donate__list flex">
                                            <div class="donate__sumitem">
                                                <input onchange="changeSum()" v-model="form.amount" type="radio" value="100" name="donate__sumchange" id="donate_100" class="donate__input">
                                                <label for="donate_100" class="donate__label flex">
                                                    <span>100</span>
                                                </label>
                                            </div>
                                            <div class="donate__sumitem">
                                                <input onchange="changeSum()" v-model="form.amount" type="radio" value="200" name="donate__sumchange" id="donate_200" class="donate__input">
                                                <label for="donate_200" class="donate__label flex">
                                                    <span>200</span>
                                                </label>
                                            </div>
                                            <div class="donate__sumitem">
                                                <input onchange="changeSum()" v-model="form.amount" type="radio" value="300" name="donate__sumchange" id="donate_300" class="donate__input">
                                                <label for="donate_300" class="donate__label flex">
                                                    <span>300</span>
                                                </label>
                                            </div>
                                            <div class="donate__sumitem">
                                                <input onchange="changeSum()" v-model="form.amount" type="radio" value="500" name="donate__sumchange" id="donate_500" class="donate__input">
                                                <label for="donate_500" class="donate__label flex">
                                                    <span>500</span>
                                                </label>
                                            </div>
                                            <div class="donate__sumitem">
                                                <input onchange="changeSum()" v-model="form.amount" type="radio" value="1000" name="donate__sumchange" id="donate_1000" class="donate__input">
                                                <label for="donate_1000" class="donate__label flex">
                                                    <span>1000</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field__label label l3 lm1">
                                        <input type="number" onfocus="changeSumInput()" v-model="form.amount" id="donate__sum" name="sum" placeholder="Наприклад: 242" class="field__input">
                                        <label for="donate__sum" class="field__name">Інша сума?</label>
                                        <div class="focusLine"></div>
                                    </div>
                                </div>
                                <div class="inputs__period hidden">
                                    <input type="radio" value="subscribe" v-model="form.action" name="period" id="regular">
                                    <input type="radio" value="paydonate" v-model="form.action" name="period" id="once">
                                </div>
                                <div class="donate__buttons flex">
                                    <a href="#regular" onclick="submitForm($(this))" class="button donate__button">
                                        <span>Підтримати</span>
                                    </a>
                                    <button type="submit" class="hidden"></button>
<!--                                    <a href="#once" onclick="submitForm($(this))" class="button donate__button borderButton">-->
<!--                                        <span>Разова підтримка</span>-->
<!--                                    </a>-->
                                    <button type="submit" class="hidden"></button>
                                </div>
                            </form>
                        </div>
                        <!--<div class="donate__tab" id="don_2">-->
                            <!--<div class="exchange__change flex">-->
                                <!--<div class="exchange__text">-->
                                    <!--DETAILS FOR WIRE TRANSFERS-->
                                <!--</div>-->
                                <!--<ul class="exchange__list flex">-->
                                    <!--<li>-->
                                        <!--<a href="#ex_1"  onclick="changeTab($(this))" class="active">-->
                                            <!--UAH-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#ex_2"  onclick="changeTab($(this))">-->
                                            <!--USD-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#ex_3"  onclick="changeTab($(this))">-->
                                            <!--EUR-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#ex_4"  onclick="changeTab($(this))">-->
                                            <!--CAD-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<a href="#ex_5"  onclick="changeTab($(this))">-->
                                            <!--AUD-->
                                        <!--</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="ex__tabs">-->
                                <!--<div class="ex__tab active" id="ex_1">-->
                                    <!--у гривнях (UAH)-->
                                    <!--<br>Одержувач: ГРОМАДСЬКА ОРГАНІЗАЦІЯ “БУДУЄМО УКРАЇНУ РАЗОМ”-->
                                    <!--<br>Ідентифікаційний код: 44591761-->
                                    <!--<br>Код Банку-одержувача: 325365-->
                                    <!--<br>Рахунок одержувача: UA103253650000000260080034583-->
                                <!--</div>-->
                                <!--<div class="ex__tab" id="ex_2">-->
                                    <!--у гривнях (USD)-->
                                    <!--<br>Одержувач: ГРОМАДСЬКА ОРГАНІЗАЦІЯ “БУДУЄМО УКРАЇНУ РАЗОМ”-->
                                    <!--<br>Ідентифікаційний код: 44591761-->
                                    <!--<br>Код Банку-одержувача: 325365-->
                                    <!--<br>Рахунок одержувача: UA103253650000000260080034583-->
                                <!--</div>-->
                                <!--<div class="ex__tab" id="ex_3">-->
                                    <!--у гривнях (EUR)-->
                                    <!--<br>Одержувач: ГРОМАДСЬКА ОРГАНІЗАЦІЯ “БУДУЄМО УКРАЇНУ РАЗОМ”-->
                                    <!--<br>Ідентифікаційний код: 44591761-->
                                    <!--<br>Код Банку-одержувача: 325365-->
                                    <!--<br>Рахунок одержувача: UA103253650000000260080034583-->
                                <!--</div>-->
                                <!--<div class="ex__tab" id="ex_4">-->
                                    <!--у гривнях (CAD)-->
                                    <!--<br>Одержувач: ГРОМАДСЬКА ОРГАНІЗАЦІЯ “БУДУЄМО УКРАЇНУ РАЗОМ”-->
                                    <!--<br>Ідентифікаційний код: 44591761-->
                                    <!--<br>Код Банку-одержувача: 325365-->
                                    <!--<br>Рахунок одержувача: UA103253650000000260080034583-->
                                <!--</div>-->
                                <!--<div class="ex__tab" id="ex_5">-->
                                    <!--у гривнях (AUD)-->
                                    <!--<br>Одержувач: ГРОМАДСЬКА ОРГАНІЗАЦІЯ “БУДУЄМО УКРАЇНУ РАЗОМ”-->
                                    <!--<br>Ідентифікаційний код: 44591761-->
                                    <!--<br>Код Банку-одержувача: 325365-->
                                    <!--<br>Рахунок одержувача: UA103253650000000260080034583-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="donate__tab" id="don_3">
                            <ul class="crpt__list flex">
                                <li>
                                    <div class="crpt__name flex">
                                        <img width="20" height="20" src="img/icons/crp_4.svg" alt="">
                                        <span>USDT (TRC-20):</span>
                                    </div>
                                    <div class="crpt__text flex">
                                        <div class="crpt__copytext">
                                            T9zFUKnzSakDnkNDkpkKVhbBbtCvLujTNR
                                        </div>
                                        <div onclick="copyText($(this))" class="crpt__copy">
                                            <span class="copyed">Гаманець скопійовано!</span>
                                            <img width="20" height="20" src="img/icons/copy.svg" alt="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="crpt__name flex">
                                        <img width="20" height="20" src="img/icons/crp_4.svg" alt="">
                                        <span>USDT (ERC-20):</span>
                                    </div>
                                    <div class="crpt__text flex">
                                        <div class="crpt__copytext">
                                            0x4dd4fb3Daa50e261750e8cb74f56f594C68D5344
                                        </div>
                                        <div onclick="copyText($(this))" class="crpt__copy">
                                            <span class="copyed">Гаманець скопійовано!</span>
                                            <img width="20" height="20" src="img/icons/copy.svg" alt="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="crpt__name flex">
                                        <img width="20" height="20" src="img/icons/crp_4.svg" alt="">
                                        <span>USDT (BEP-20):</span>
                                    </div>
                                    <div class="crpt__text flex">
                                        <div class="crpt__copytext">
                                            0x4dd4fb3Daa50e261750e8cb74f56f594C68D5344
                                        </div>
                                        <div onclick="copyText($(this))" class="crpt__copy">
                                            <span class="copyed">Гаманець скопійовано!</span>
                                            <img width="20" height="20" src="img/icons/copy.svg" alt="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="crpt__name flex">
                                        <img width="20" height="20" src="img/icons/crp_1.svg" alt="">
                                        <span>BTC (Bitcoin):</span>
                                    </div>
                                    <div class="crpt__text flex">
                                        <div class="crpt__copytext">
                                            bc1q98rsy8wna3jw72clkdaj5n07yn3lkxqvvsq3x8
                                        </div>
                                        <div onclick="copyText($(this))" class="crpt__copy">
                                            <span class="copyed">Гаманець скопійовано!</span>
                                            <img width="20" height="20" src="img/icons/copy.svg" alt="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="crpt__name flex">
                                        <img width="20" height="20" src="img/icons/crp_2.svg" alt="">
                                        <span>ETH (Ethereum):</span>
                                    </div>
                                    <div class="crpt__text flex">
                                        <div class="crpt__copytext">
                                            0x4dd4fb3Daa50e261750e8cb74f56f594C68D5344
                                        </div>
                                        <div onclick="copyText($(this))" class="crpt__copy">
                                            <span class="copyed">Гаманець скопійовано!</span>
                                            <img width="20" height="20" src="img/icons/copy.svg" alt="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="crpt__name flex">
                                        <img width="20" height="20" src="img/icons/crp_13.svg" alt="">
                                        <span>FTM (BEP2)</span>
                                    </div>
                                    <div class="crpt__text flex">
                                        <div class="crpt__copytext">
                                            bnb12jrjxljp0c48lwprphczcj997d8zphjsa6jmlw
                                        </div>
                                        <div onclick="copyText($(this))" class="crpt__copy">
                                            <span class="copyed">Гаманець скопійовано!</span>
                                            <img width="20" height="20" src="img/icons/copy.svg" alt="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="crpt__name flex">
                                        <img width="20" height="20" src="img/icons/crp_8.svg" alt="">
                                        <span>Tron(TRX):</span>
                                    </div>
                                    <div class="crpt__text flex">
                                        <div class="crpt__copytext">
                                            T9zFUKnzSakDnkNDkpkKVhbBbtCvLujTNR
                                        </div>
                                        <div onclick="copyText($(this))" class="crpt__copy">
                                            <span class="copyed">Гаманець скопійовано!</span>
                                            <img width="20" height="20" src="img/icons/copy.svg" alt="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="crpt__name flex">
                                        <img width="20" height="20" src="img/icons/crp_11.svg" alt="">
                                        <span>Doge:</span>
                                    </div>
                                    <div class="crpt__text flex">
                                        <div class="crpt__copytext">
                                            D87ftteWDwwneNFvrDMDYWcTA1JNnsdfPw
                                        </div>
                                        <div onclick="copyText($(this))" class="crpt__copy">
                                            <span class="copyed">Гаманець скопійовано!</span>
                                            <img width="20" height="20" src="img/icons/copy.svg" alt="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="crpt__name flex">
                                        <img width="20" height="20" src="img/icons/crp_12.svg" alt="">
                                        <span>LTC:</span>
                                    </div>
                                    <div class="crpt__text flex">
                                        <div class="crpt__copytext">
                                            ltc1q0earpzfdvvdyw7vw9rdfmzp5wrx6n4pvjt6urj
                                        </div>
                                        <div onclick="copyText($(this))" class="crpt__copy">
                                            <span class="copyed">Гаманець скопійовано!</span>
                                            <img width="20" height="20" src="img/icons/copy.svg" alt="">
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="crpt__name flex">
                                        <img width="20" height="20" src="img/icons/crp_5.svg" alt="">
                                        <span>BNB:</span>
                                    </div>
                                    <div class="crpt__text flex">
                                        <div class="crpt__copytext">
                                            bnb12jrjxljp0c48lwprphczcj997d8zphjsa6jmlw
                                        </div>
                                        <div onclick="copyText($(this))" class="crpt__copy">
                                            <span class="copyed">Гаманець скопійовано!</span>
                                            <img width="20" height="20" src="img/icons/copy.svg" alt="">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="donate__buttons crpt__buttons flex">
                                <a href="#ctypto" onclick="openPopup($(this))" class="button">
                                    <span>Всі монети</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="popup popup__help" id="ctypto">
        <div onclick="closePopup()" class="popup__underlay"></div>
        <div class="popup__container">
            <div class="popup__content">
                <a href="#" onclick="closePopup()" class="popup__close"></a>
                <div class="popup__title">
                    Всі монети
                </div>
                <ul class="crpt__list flex">
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_4.svg" alt="">
                            <span>USDT (TRC-20):</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                T9zFUKnzSakDnkNDkpkKVhbBbtCvLujTNR
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_4.svg" alt="">
                            <span>USDT (ERC-20):</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                0x4dd4fb3Daa50e261750e8cb74f56f594C68D5344
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_4.svg" alt="">
                            <span>USDT (BEP-20):</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                0x4dd4fb3Daa50e261750e8cb74f56f594C68D5344
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_1.svg" alt="">
                            <span>BTC (Bitcoin):</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                bc1q98rsy8wna3jw72clkdaj5n07yn3lkxqvvsq3x8
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_2.svg" alt="">
                            <span>ETH (Ethereum):</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                0x4dd4fb3Daa50e261750e8cb74f56f594C68D5344
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_7.svg" alt="">
                            <span>ATOM:</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                cosmos1mrymma3m8537d6lud20a62ehmmzuc0qhl7xwhp
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_8.svg" alt="">
                            <span>Tron(TRX):</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                T9zFUKnzSakDnkNDkpkKVhbBbtCvLujTNR
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_11.svg" alt="">
                            <span>Doge:</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                D87ftteWDwwneNFvrDMDYWcTA1JNnsdfPw
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_12.svg" alt="">
                            <span>LTC:</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                ltc1q0earpzfdvvdyw7vw9rdfmzp5wrx6n4pvjt6urj
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_5.svg" alt="">
                            <span>BNB:</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                bnb12jrjxljp0c48lwprphczcj997d8zphjsa6jmlw
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_13.svg" alt="">
                            <span>FTM (BEP2)</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                bnb12jrjxljp0c48lwprphczcj997d8zphjsa6jmlw
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_14.svg" alt="">
                            <span>Ethereum Classic (ETC):</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                0xfc30F8C4d203e10f9Dae96B9587529292bcDbE6A
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_15-2.svg" alt="">
                            <span>XRP</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                rEBpf7GbZpZpuyXxgdDgRWxtwbZF6mENBD
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_15-3.svg" alt="">
                            <span>XLM</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                GDW32KMCSGAF7DTMNIB3VR4B6VB3NZLTET2AGM7F3SHCYYANSJ3THJ3S
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_16.svg" alt="">
                            <span>ALGO</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                J44M4ZVM7MOTPAPD7EHBF3L2GGXSE42QIYU6OLYBVDLHUIQ553PEXXMOGA
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_17.svg" alt="">
                            <span>IoTeX (IOTX)</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                io13t2teyq9a4t5yg4jf258rwuprh6wtddveesgv4
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_18.svg" alt="">
                            <span>ZIL</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                zil1cxy8npsv2mr8vyrlhuhf58apd65f6s9532gvxv
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_19.svg" alt="">
                            <span>DOT</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                12gEyh9FKCt1VYTj1kexzdoJMmZjPEHa9699JtNk4x8CKKxZ
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_20.svg" alt="">
                            <span>NEAR</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                d11e91fb5661bbbc4f1765744636a7fcc48b2185c3897856ef935017819136e7
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_21.svg" alt="">
                            <span>KAVA</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                kava13xyxl6q3gh603lmlluutqk63q0qj6gl23rwfum
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_22.svg" alt="">
                            <span>SOL</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                5x7nwYsWWrAevSi4bZMHSASthes2YVQPHRMT3bzGJtyR
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_23.svg" alt="">
                            <span>ONE</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                one1pj8fgkzg9fflrqdpmrkg2szs7jhzuzc2g4tjd9
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_24.svg" alt="">
                            <span>XTZ</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                tz1ZeWdsWW472tmSG9hf9ktqm37LyVhM7vBc
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_25.svg" alt="">
                            <span>SUSHI (ERC20)</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                0x4dd4fb3Daa50e261750e8cb74f56f594C68D5344
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_26.svg" alt="">
                            <span>CRO (ERC20)</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                0x4dd4fb3Daa50e261750e8cb74f56f594C68D5344
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_27.svg" alt="">
                            <span>LINK (ERC20)</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                0x4dd4fb3Daa50e261750e8cb74f56f594C68D5344
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_28.svg" alt="">
                            <span>FTT (ERC20)</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                0x4dd4fb3Daa50e261750e8cb74f56f594C68D5344
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_29.svg" alt="">
                            <span>SHIB (ERC20)</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                0x4dd4fb3Daa50e261750e8cb74f56f594C68D5344
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_31.svg" alt="">
                            <span>ENJ (ERC20)</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                0x4dd4fb3Daa50e261750e8cb74f56f594C68D5344
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="crpt__name flex">
                            <img width="20" height="20" src="img/icons/crp_32.svg" alt="">
                            <span>MATIC (ERC20)</span>
                        </div>
                        <div class="crpt__text flex">
                            <div class="crpt__copytext">
                                0x4dd4fb3Daa50e261750e8cb74f56f594C68D5344
                            </div>
                            <div onclick="copyText($(this))" class="crpt__copy">
                                <span class="copyed">Гаманець скопійовано!</span>
                                <img width="20" height="20" src="img/icons/copy.svg" alt="">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios';

export default {
   name: 'PostFormAxios',
   data(){
       return{
           form: {
               amount: '',
               action: '',
               description: '',
               sender_first_name: '',
               email: '',
           }
           }
   },
   methods:{
       submit(){
           axios.post('/makeDonate', this.form)
               .then((response) => {
                   // let i = response['data']['data'];
                   // let signature = response['data']['signature'];
                   // loadForm(i, signature);
                   let amount = response['data']['amount'];
                   let time = response['data']['time'];
                   let reference = response['data']['reference'];
                   let signature = response['data']['signature'];
                   let name = response['data']['name'];
                   let phone = response['data']['phone'];
                   let email = response['data']['email'];
                   loadForm(amount, time, reference, signature, name, phone, email);
                   console.log('Perform Success Action');
                   //Perform Success Action
               })
               .catch((error) => {
                   console.log(error);
                   // error.response.status Check status code
               }).finally(() => {
               console.log('Perform action in always');
               //Perform action in always
           });
       }
   }
}

function loadForm(amount, time, reference, signature, name, phone, email){
   let form = document.createElement("form");
   // form.action = "https://www.liqpay.ua/api/3/checkout";
   form.action = "https://secure.wayforpay.com/pay";
   form.method = "POST";

   // let input1 = document.createElement("input");
   // input1.type = "hidden";
   // input1.name = "data";
   // input1.value = i;
   //
   // form.appendChild(input1);
   //
   // let input2 = document.createElement("input");
   // input2.type = "hidden";
   // input2.name = "signature";
   // input2.value = signature;
   //
   // form.appendChild(input2);

    let input1 = document.createElement("input");
    input1.name = "merchantAccount";
    input1.value = "poryad_in_ua";

    form.appendChild(input1);

    let input2 = document.createElement("input");
    input2.name = "merchantAuthType";
    input2.value = "SimpleSignature";

    form.appendChild(input2);

    let input3 = document.createElement("input");
    input3.name = "merchantDomainName";
    input3.value = "poryad.in.ua";

    form.appendChild(input3);

    let input4 = document.createElement("input");
    input4.name = "merchantSignature";
    input4.value = signature;

    form.appendChild(input4);

    let input5 = document.createElement("input");
    input5.name = "orderReference";
    input5.value = reference;

    form.appendChild(input5);

    let input6 = document.createElement("input");
    input6.name = "orderDate";
    input6.value = time;

    form.appendChild(input6);

    let input7 = document.createElement("input");
    input7.name = "amount";
    input7.value = amount;

    form.appendChild(input7);

    let input8 = document.createElement("input");
    input8.name = "currency";
    input8.value = "UAH";

    form.appendChild(input8);

    let input9 = document.createElement("input");
    input9.name = "orderTimeout";
    input9.value = "49000";

    form.appendChild(input9);

    let input10 = document.createElement("input");
    input10.name = "productName[]";
    input10.value = "Благодійний внесок";

    form.appendChild(input10);

    let input11 = document.createElement("input");
    input11.name = "productPrice[]";
    input11.value = amount;

    form.appendChild(input11);

    let input12 = document.createElement("input");
    input12.name = "productCount[]";
    input12.value = "1";

    form.appendChild(input12);

    let input13 = document.createElement("input");
    input13.name = "defaultPaymentSystem";
    input13.value = "card";

    form.appendChild(input13);

    let input14 = document.createElement("input");
    input14.name = "clientFirstName";
    input14.value = name;

    form.appendChild(input14);

    let input15 = document.createElement("input");
    input15.name = "clientEmail";
    input15.value = email;

    form.appendChild(input15);

    let input16 = document.createElement("input");
    input16.name = "clientPhone";
    input16.value = phone;

    form.appendChild(input16);

   document.body.appendChild(form);

   form.submit();
   // console.log('data: ' + i + ', signature: ' + signature);
}
</script>
