<script setup>

defineProps({})
</script>

<template>
    <section class="section__foundators">
        <div class="container">
            <h2 class="sec__title fadeAnim">
                Засновники проєкту
            </h2>
            <div class="founders__content">
                <div class="founders__carousel owl-carousel owl-theme" style="display:flex">
                    <div class="founders__item fadeAnim">
                        <div class="founders__sircle"></div>
                        <h3 class="founders__name">
                            Олександр Качура
                        </h3>
                        <div class="founders__text">
                            <p>
                                Народний депутат України, ініціатор проєкту
                            </p>
                            <ul class="about__list flex fadeAnim">
                                <li>
                                    <a href="https://www.facebook.com/kachuratut" rel="nofollow" target="_blank">
                                        <img width="30" height="30" src="/img/icons/fb.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://instagram.com/olexandrkachura" rel="nofollow" target="_blank">
                                        <img width="30" height="30" src="/img/icons/share_3.svg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="founders__item fadeAnim">
                        <div class="founders__sircle"></div>
                        <h3 class="founders__name">
                            Віталій Костовський
                        </h3>
                        <div class="founders__text">
                            <p>
                                Керівник проєкту
                            </p>
                            <ul class="about__list flex fadeAnim">
                                <li>
                                    <a href="https://www.facebook.com/vkostovskii/" rel="nofollow" target="_blank">
                                        <img width="30" height="30" src="/img/icons/fb.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/vkostovskii/" rel="nofollow" target="_blank">
                                        <img width="30" height="30" src="/img/icons/share_3.svg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="founders__item fadeAnim">
                        <div class="founders__sircle"></div>
                        <h3 class="founders__name">
                            Максим Несвітайлов
                        </h3>
                        <div class="founders__text">
                            <p>
                                Менеджер зі стратегічного розвитку
                            </p>
                            <ul class="about__list flex fadeAnim">
                                <li>
                                    <a href="https://www.facebook.com/nesvitaylov" rel="nofollow" target="_blank">
                                        <img width="30" height="30" src="/img/icons/fb.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://instagram.com/nesvitaylov" rel="nofollow" target="_blank">
                                        <img width="30" height="30" src="/img/icons/share_3.svg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="founders__item fadeAnim">
                        <div class="founders__sircle"></div>
                        <h3 class="founders__name">
                            Дмитро Голощапов
                        </h3>
                        <div class="founders__text">
                            <p>
                                Back-end розробник
                            </p>
                            <ul class="about__list flex fadeAnim">
                                <li>
                                    <a href="https://www.facebook.com/thehemets" rel="nofollow" target="_blank">
                                        <img width="30" height="30" src="/img/icons/fb.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/ukrophemets/" rel="nofollow" target="_blank">
                                        <img width="30" height="30" src="/img/icons/share_3.svg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="founders__item fadeAnim">
                        <div class="founders__sircle"></div>
                        <h3 class="founders__name">
                            Олег Сніцар
                        </h3>
                        <div class="founders__text">
                            <p>
                                Юридичний консультант
                            </p>
                            <ul class="about__list flex fadeAnim">
                                <li>
                                    <a href="https://www.facebook.com/oleg.snitsar" rel="nofollow" target="_blank">
                                        <img width="30" height="30" src="/img/icons/fb.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://instagram.com/sn.oleh" rel="nofollow" target="_blank">
                                        <img width="30" height="30" src="/img/icons/share_3.svg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--
                    <div class="founders__item fadeAnim">
                        <div class="founders__sircle"></div>
                        <h3 class="founders__name">
                            Андрій Дмитрів
                        </h3>
                        <div class="founders__text">
                            <p>
                                Front-end розробник
                            </p>
                        </div>
                    </div>
                    <div class="founders__item fadeAnim">
                        <div class="founders__sircle"></div>
                        <h3 class="founders__name">
                            Віталій Смолій
                        </h3>
                        <div class="founders__text">
                            <p>
                                Дизайнер
                            </p>
                        </div>
                    </div>
                    <div class="founders__item fadeAnim">
                        <div class="founders__sircle"></div>
                        <h3 class="founders__name">
                            Анастасія Державецька
                        </h3>
                        <div class="founders__text">
                            <p>
                                Копірайтер
                            </p>
                        </div>
                    </div>
                    <div class="founders__item fadeAnim">
                        <div class="founders__sircle"></div>
                        <h3 class="founders__name">
                            Даніїл Блонський
                        </h3>
                        <div class="founders__text">
                            <p>
                                Менеджер з реклами
                            </p>
                        </div>
                    </div>
                    <div class="founders__item fadeAnim">
                        <div class="founders__sircle"></div>
                        <h3 class="founders__name">
                           Стелла Вервес
                        </h3>
                        <div class="founders__text">
                            <p>
                                SMM - спеціаліст
                            </p>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </section>
</template>
