<script setup>
import {Link} from '@inertiajs/inertia-vue3'
import Thumb from '../Entry/Support/Thumb'

defineProps({
    supports: Object
})

let modal_0 = window.location.href.slice(window.location.href.indexOf('showModal')).split(/[&?]{1}[\w\d]+=/);
// console.log(modal_0[0]);

if (document.location.href.indexOf('showModal') !== -1) {

    let href = modal_0[0];
    let href_id = href.replace('showModal', '');
    let popup = 'popup__help' + href_id;

    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById(popup).style.display = "block";
        $('body').addClass('overHide');
    });
}
</script>

<template>
    <section id="last__home" class="section__last">
        <div class="container">
            <h2 class="sec__title smaller fadeAnim">
                Останні запити на допомогу від тих, хто поряд
            </h2>
        </div>
        <ul class="last__list">
            <Thumb v-for="support in supports.data" :support="support"/>
        </ul>

        <div class="container">
            <div class="latest__bottom flex fadeAnim">
                <Link href="/requests" class="service__button button">
                    <span>подивитися всi запити</span>
                </Link>
            </div>
        </div>

    </section>

</template>
