<script setup>
    import {Link, usePage} from '@inertiajs/inertia-vue3'
    defineProps({})
</script>

<template>
    <header class="header__fixed">
        <div class="container">
            <div class="headerf__content flex">
                <div class="headerf__part flex">
                    <a href="/" class="header__logo">
                        <img width="97" height="22" src="/img/icons/logo.svg" alt="">
                    </a>
                    <div class="header__city">
                        <div class="select__city">
                            <input type="text" name="title" placeholder="Оберіть своє місто" :value="cityName"
                                   @input="search"
                                   class="input">
                            <div class="select_citylist newScroll">
                                <div v-for="city in filteredCity" class="city__item">
                                    <Link :href="`/${city.slug}`">{{ city.name }}</Link>
                                </div>
                            </div>
                            <div class="city__line"></div>
                        </div>
                    </div>
                </div>
                <div class="headerf__part flex">
                    <div class="headerf__buttons flex">
                        <a href="/requests" class="header__button button">
                            <span>ХОЧУ ДОПОМОГТИ</span>
                        </a>
                        <a href="#popup__request" onclick="openPopup($(this))" class="yButton header__button button">
                            <span>ПОТРIБНА ДОПОМОГА</span>
                        </a>
                    </div>
                    <template v-if="!$page.props.auth.user">
                        <a href="#popup__auth" onclick="openPopup($(this))" class="header__account header__accountdesc flex">
                            <span class="icon account"></span>
                            <span>увійти до кабінету</span>
                        </a>
                    </template>
                    <template v-else>
                        <Link href="/profile" class="header__account header__accountdesc flex">
                            <span class="icon account"></span>
                            <span>Кабінет</span>
                        </Link>
                    </template>
                </div>
            </div>
        </div>
    </header>

    <section class="section__main">
        <div class="container">
            <div class="main__mob">
                <a href="#popup__request" onclick="openPopup($(this))" class="main__button button">
                    <span>ПОТРIБНА ДОПОМОГА</span>
                </a>
            </div>
            <div class="main__container flex">
                <div class="main__content">
                    <div class="startAnim main__uppertext" data-delay="300">
                        Просто. Зручно. В декілька кліків.
                    </div>
                    <h1 class="startAnim main__title" data-delay="0">
                        Бути поряд — просто
                    </h1>
                    <div class="main__flex flex">
                        <div class="startAnim main__part" data-delay="600">
                            Поряд — це портал, що єднає українців.
                        </div>
                        <div class="startAnim main__part" data-delay="900">
                            Той, хто потребує допомоги, отримує її від тих, хто поряд.
                        </div>
                    </div>
                    <div class="main__bittons flex">
                        <a href="/requests" class="startAnim main__button button" data-delay="1200">
                            <span>ХОЧУ ДОПОМОГТИ</span>
                        </a>
                        <a href="#popup__request" onclick="openPopup($(this))" class="startAnim yButton main__button button ankor" data-delay="1200">
                            <span>ПОТРIБНА ДОПОМОГА</span>
                        </a>
                    </div>
                    <a href="javascript:void(0);" onclick="openVideo($(this))" data-video="xABVoaSaFZU" class="startAnim main__play" data-delay="1200">
                        <img src="/img/icons/main__play.svg" alt="">
                    </a>
                    <div class="main__flag"></div>
                </div>
            </div>
        </div>
    </section>
</template>


<script>
    import {usePage} from '@inertiajs/inertia-vue3'

    export default {
        data: () => ({
            cityName: '',
            isSearch: false,
            citySelected: false
        }),
        beforeMount() {
            let city = usePage().props.value.city
            if(city){
                this.cityName = city.name
                this.citySelected = true
            }
        },
        computed: {
            cities() {
                return this.$page.props.cities
            },
            filteredCity(){
                if(this.isSearch){
                    return this.cities.data.filter((city) => city.name.toLowerCase().indexOf(this.cityName.toLowerCase()) !== -1)
                } else {
                    return this.cities.data
                }
            }
        },
        methods: {
            search(e){
                if(!this.isSearch){
                    this.isSearch = true
                }
                this.cityName = e.target.value
            },
        }
    }

</script>
