<script setup>

import Thumb from '../Entry/Support/MyThumb'

defineProps({
    supports: Object
})
</script>

<template>
    <div class="account__request">
        <h2 class="account__title">
            Мої запити
        </h2>
        <ul v-if="supports && supports.data.length" class="request__list">
            <Thumb v-for="support in supports.data" :support="support" :key="support.id"/>
        </ul>
        <div v-else class="container support__empty">
            <h2 class="sec__title">У вас наразі немає активних запитів, зробіть його якщо на це є потреба!</h2>
            <a href="#popup__request" onclick="openPopup($(this))" class="button openPopup">
                <span>Отримати допомогу</span>
            </a>
        </div>
    </div>
</template>
