<script setup>

defineProps({})
</script>

<template>
    <section class="section__news">
        <div class="container">
            <h2 class="sec__title">
                Про нас говорять
            </h2>
            <div class="news__content flex">
                <div class="news__carousel owl-carousel owl-theme">
                    <div class="news__item">
                        <div class="news__top">
                            <div class="news__img">
                                <img src="img/content/news_1.jpg" alt="" class="cover">
                            </div>
                            <div class="news__siteurl">
                                Верховна рада України
                            </div>
                        </div>
                        <div class="news__bottom">
                            <div class="news__date">
                                1 червня 2022
                            </div>
                            <div class="news__text">
                                <p>
                                    Бути поряд — просто! — Заступник голови Комітету з питань організації...
                                </p>
                            </div>
                            <a href="https://fb.watch/dnrmHnbLkq/" target="_blank" class="news__url">
                                Переглянути новину
                            </a>
                        </div>
                    </div>
                    <div class="news__item">
                        <div class="news__top">
                            <div class="news__img">
                                <img src="img/content/news_2.jpg" alt="" class="cover">
                            </div>
                            <div class="news__siteurl">
                                Апостроф
                            </div>
                        </div>
                        <div class="news__bottom">
                            <div class="news__date">
                                31 травня 2022
                            </div>
                            <div class="news__text">
                                <p>
                                    В Україні запрацював сервіс для надання та отримання допомоги ...
                                </p>
                            </div>
                            <a href="https://apostrophe.ua/ua/news/society/2022-05-31/v-ukraine-zarabotal-servis-dlya-okazaniya-i-polucheniya-pomoschi/270524?amp" target="_blank" class="news__url">
                                Переглянути новину
                            </a>
                        </div>
                    </div>
                    <div class="news__item">
                        <div class="news__top">
                            <div class="news__img">
                                <img src="img/content/news_3.jpg" alt="" class="cover">
                            </div>
                            <div class="news__siteurl">
                                Telegraf
                            </div>
                        </div>
                        <div class="news__bottom">
                            <div class="news__date">
                                2 червня 2022
                            </div>
                            <div class="news__text">
                                <p>
                                    В Україні запрацював сервіс для надання та отримання допомоги ...
                                </p>
                            </div>
                            <a href="https://telegraf.com.ua/ukr/ukraina/2022-06-02/5706764-v-ukraini-zapratsyuvala-platforma-dopomogi-ukraintsyam-poryad-yak-neyu-koristuvatis" target="_blank" class="news__url">
                                Переглянути новину
                            </a>
                        </div>
                    </div>
                    <div class="news__item">
                        <div class="news__top">
                            <div class="news__img">
                                <img src="img/content/news_4.jpg" alt="" class="cover">
                            </div>
                            <div class="news__siteurl">
                                Pavlovskynews
                            </div>
                        </div>
                        <div class="news__bottom">
                            <div class="news__date">
                                1 червня 2022
                            </div>
                            <div class="news__text">
                                <p>
                                    В Україні запрацювала платформа, яка єднає тих кому потрібна допомога і...
                                </p>
                            </div>
                            <a href="https://t.me/pavlovskynews/16388" target="_blank" class="news__url">
                                Переглянути новину
                            </a>
                        </div>
                    </div>
                    <div class="news__item">
                        <div class="news__top">
                            <div class="news__img">
                                <img src="img/content/news_5.jpg" alt="" class="cover">
                            </div>
                            <div class="news__siteurl">
                                ПравдаТУТ
                            </div>
                        </div>
                        <div class="news__bottom">
                            <div class="news__date">
                                31 травня 2022
                            </div>
                            <div class="news__text">
                                <p>
                                    Допомога в декілька кліків: в Україні запрацювала соціальна платформа...
                                </p>
                            </div>
                            <a href="https://fb.watch/dlH3onVqeQ/" target="_blank" class="news__url">
                                Переглянути новину
                            </a>
                        </div>
                    </div>
                    <div class="news__item">
                        <div class="news__top">
                            <div class="news__img">
                                <img src="img/content/news_6.jpg" alt="" class="cover">
                            </div>
                            <div class="news__siteurl">
                                ZNAJ.UA
                            </div>
                        </div>
                        <div class="news__bottom">
                            <div class="news__date">
                                31 травня 2022
                            </div>
                            <div class="news__text">
                                <p>
                                    В Україні створили платформу, де кожен може отримати необхідну...
                                </p>
                            </div>
                            <a href="https://life.znaj.ua/427974-v-ukrajini-stvorili-platformu-de-kozhen-mozhe-otrimati-neobhidnu-dopomogu-poryad-ce-portal-shcho-yednaye-ukrajinciv" target="_blank" class="news__url">
                                Переглянути новину
                            </a>
                        </div>
                    </div>
                    <div class="news__item">
                        <div class="news__top">
                            <div class="news__img">
                                <img src="img/content/news_7.jpg" alt="" class="cover">
                            </div>
                            <div class="news__siteurl">
                                Politeka
                            </div>
                        </div>
                        <div class="news__bottom">
                            <div class="news__date">
                                31 травня 2022
                            </div>
                            <div class="news__text">
                                <p>
                                    «Допомога в декілька кліків»: в Україні запрацювала платформа, де кожен...
                                </p>
                            </div>
                            <a href="https://novosti.politeka.net/uk/377004-pomoshch-v-neskolko-klikov-v-ukraine-zarabotala-platforma-gde-kazhdyy-mozhet-poprosit-o-neobhodimom" target="_blank" class="news__url">
                                Переглянути новину
                            </a>
                        </div>
                    </div>
                    <div class="news__item">
                        <div class="news__top">
                            <div class="news__img">
                                <img src="img/content/news_8.jpg" alt="" class="cover">
                            </div>
                            <div class="news__siteurl">
                                Экономические новости
                            </div>
                        </div>
                        <div class="news__bottom">
                            <div class="news__date">
                                1 червня 2022
                            </div>
                            <div class="news__text">
                                <p>
                                    В Украине заработал новый важный сервис для оказания и получени...
                                </p>
                            </div>
                            <a href="https://enovosty.com/news/news_society/full/106-v-ukraine-zarabotal-novyj-vazhnyj-servis" target="_blank" class="news__url">
                                Переглянути новину
                            </a>
                        </div>
                    </div>
                    <div class="news__item">
                        <div class="news__top">
                            <div class="news__img">
                                <img src="img/content/news_9.jpg" alt="" class="cover">
                            </div>
                            <div class="news__siteurl">
                                Рада підприємців при КМУ
                            </div>
                        </div>
                        <div class="news__bottom">
                            <div class="news__date">
                                31 травня 2022
                            </div>
                            <div class="news__text">
                                <p>
                                    В Україні з'явився волонтерський портал для тих, хто потребує...
                                </p>
                            </div>
                            <a href="https://www.facebook.com/radakmu/posts/pfbid02LGHVB9hktSHzXwaqAQNWixHCSNKvCnkLPzHhz2riJs9E3SFBQTyznq79TEU717Vyl" target="_blank" class="news__url">
                                Переглянути новину
                            </a>
                        </div>
                    </div>
                    <div class="news__item">
                        <div class="news__top">
                            <div class="news__img">
                                <img src="img/content/news_10.jpg" alt="" class="cover">
                            </div>
                            <div class="news__siteurl">
                                komsamovr.rada.gov.ua
                            </div>
                        </div>
                        <div class="news__bottom">
                            <div class="news__date">
                                06 червня 2022
                            </div>
                            <div class="news__text">
                                <p>
                                    Команда народного депутата України, Заступника Голови Комітету з питань...
                                </p>
                            </div>
                            <a href="https://komsamovr.rada.gov.ua/news/main_news/82644.html" target="_blank" class="news__url">
                                Переглянути новину
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
