<script setup>

defineProps({})
</script>

<template>
    <section class="page__about">
        <div class="container">
            <div class="page__top flex">
                <h1 class="page__title">
                    Політика конфіденційності
                </h1>
                <ul class="breadcrumbs flex">
                    <li>
                        <a href="../../">головна /</a>
                    </li>
                    <li>
                        Політика конфіденційності
                    </li>
                </ul>
            </div>
            <div>
                <p>Адміністрація вебсайту poryad.in.ua (далі – Адміністрація) дбає про забезпечення безпеки отриманих даних від розпорядників персональних даних: будь-яких фізичних осіб та/або юридичних осіб, що пройшли процедуру реєстрації та/або заповнили запит на допомогу на вебсайті poryad.in.ua (далі – Користувач). Саме тому ми склали цю Політику конфіденційності (далі – Політика), щоб Ви не турбувалися про те яким чином будуть використовуватись Ваші персональні дані, які Ви надали нам при реєстрації та/або заповненні запиту на допомогу на нашому вебсайті poryad.in.ua (далі – Портал).</p>
                <p>Реєструючись та/або заповнюючи запити на допомогу через Портал, Користувач дає згоду на обробку всіх введених ним даних з метою визначеною цією Політикою. Також, реєструючись та/або заповнюючи запити на допомогу через Портал Користувач підтверджує, що він прочитав та погодився з умовами Політики без будь-якої зміни чи доповнення, а також дозволив Адміністрації подальшу обробку своїх персональних даних.</p>
                <p>Реєструючись та/або заповнюючи запит на допомогу через Портал, Користувач також підтверджує те, що він ознайомився з переліком своїх прав як суб’єкта даних, згідно зі статтею 8 Закону України «Про захист персональних даних». Цей перелік доступний за посиланням: zakon2.rada.gov.ua/laws/show/2297-17 </p>
                <h2>1. ПЕРСОНАЛЬНІ ДАНІ</h2>
                <p>1.1. Під час реєстрації та/або заповненні запиту на допомогу через Портал ми просимо Вас повідомити необхідну особисту інформацію в обсязі, який є необхідним для проведення заходів направлених на досягнення мети діяльності Порталу.</p>
                <p>1.2. Адміністрації доступна інформація, яку вона отримує від Користувачів наступними способами:</p>
                <p>• під час проходження процедури реєстрації та/або заповнення запиту на допомогу через Портал;</p>
                <p>• в рамках організаційних заходів, які проводить Адміністрація (опитування, форми зворотного зв’язку та ін.);</p>
                <p>• шляхом внесення записів Користувачем при заповненні реєстраційних онлайн-форм наданих Адміністрацією у зв’язку із діяльністю Порталу;</p>
                <p>• під час телефонного зв’язку, листування через служби коротких повідомлень (SMS, MMS, Viber, Telegram та інші) Адміністрації з Користувачем;</p>
                <p>• під час листування Адміністрацією з Користувачами за допомогою використання електронної пошти (e-mail);</p>
                <p>• технічна інформація – дані про інтернет-провайдера Користувача, IP-адресу, тип обладнання (персональний комп’ютер, мобільний пристрій тощо) та програмного забезпечення, яке він використовує, дані про завантажені та вивантажені на Портал файли і тощо.</p>
                <p>1.3. Обробка персональних даних здійснюється Адміністрацією наступними способами: обробка персональних даних з використанням засобів автоматизації, обробка персональних даних без використання засобів автоматизації (неавтоматизована обробка).</p>
                <p>1.4. При обробці персональних даних Адміністрація не обмежена у застосуванні способів їх обробки.</p>
                <p>1.5. Реєструючись та/або заповнюючи запити на допомогу через Портал, Користувач дає свою згоду на обробку нами, а також дає свою згоду на передачу третім особам наступних персональних даних: прізвища, імені, по батькові, регіону проживання, номера телефону (в тому числі зареєстрованого у месенджерах Viber, Telegram) інших відомостей, необхідних для досягнення мети діяльності Порталу.</p>
                <p>1.6. Під обробкою Ваших персональних даних розуміються дії (операції) Адміністрації відносно персональних даних, включаючи збір, запис, систематизацію, накопичення, зберігання, вилучення, уточнення (оновлення, зміну), використання, знеособлення, блокування, вилучення, знищення персональних даних, а також здійснення будь-яких інших дій з Вашими персональними даними відповідно до чинного законодавства України.</p>
                <p>1.7. Головною метою обробки персональних даних Користувачів є можливість проведення заходів, пов’язаних із діяльністю Порталу, а саме: налагодження зв'язку між людьми, які потребують допомоги та бажають допомогти.</p>
                <h2>2. ЗАХИСТ ІНФОРМАЦІЇ</h2>
                <p>2.1. Адміністрація використовує сучасні технології та вживає всіх необхідних заходів для захисту даних від несанкціонованого доступу, зміни або знищення. До цих заходів належать, зокрема, внутрішня перевірка процесів збору, зберігання і обробки даних та заходів безпеки, включаючи відповідне шифрування та заходи щодо забезпечення фізичної безпеки даних для запобігання неавторизованого доступу.</p>
                <p>2.2. Ми прагнемо захистити персональну інформацію від несанкціонованого доступу, але попереджаємо про можливість настання несприятливих наслідків пов’язаних із проведенням кібератак, неавтоматизованим збором персональних даних третіми особами та іншими форс-мажорними обставинами. Тому, коли Користувач розміщує будь-яку інформацію на Порталі, він усвідомлює ризики та погоджується з ними. Адміністрація не несе відповідальності за збитки, завдані такими обставинами.</p>
                <h2>3. ВИКОРИСТАННЯ ІНФОРМАЦІЇ</h2>
                <p>3.1. Адміністрація обробляє персональну інформацію Користувача для досягнення такої мети:
                    <br>– налагодження зв'язку між людьми, які потребують допомоги та бажають допомогти, шляхом розміщення запитів на допомогу через Портал;
                    <br>– реєстрації та/або заповнення запитів на допомогу через Портал;
                    <br>– проведення Адміністрацією різних заходів повʼязаних із діяльністю Порталу;
                    <br>– оцінки рівня зацікавленості Порталом Користувачами з метою покращення Порталу для зручності користувача;
                    <br>– забезпечення обслуговування Користувачів, в тому числі для створення і управління обліковими записами користувачів, вирішення технічних труднощів і доступу до різних функцій;
                    <br>– контроль загальної та індивідуальної активності користувачів, такий як пошук за ключовими словами, активності за публікаціями оголошень, а також для управління трафіком на Порталі;
                    <br>– проведення науково-дослідницької та аналітичної активності з метою поліпшення Порталу;</p>
                <p>3.2. Контактні дані (електронна пошта та мобільний номер телефону) ми також можемо використовувати для індивідуального зв’язку з користувачами Порталу та/або відправки автоматичних масових поштових розсилок на електронні адреси користувачів, а також листування через служби коротких повідомлень (SMS, MMS, Viber, Telegram та інші).</p>
                <p>3.3. Адміністрація використовує технології відстеження (файли cookies) для збирання таких даних, як тип браузера або операційна система, сторінка-посилання, шлях на Порталі, домен інтернет-провайдера і т.п., з метою отримання загальної інформації про те, як Користувачі користуються Порталом. Файли cookies дозволяють удосконалювати цей Портал відповідно до вимог його Користувачів.
                    <br>Адміністрація зберігає всю інформацію, зібрану з використанням файлів cookies, у форматі, який не передбачає можливості ідентифікувати особу. Інформація, яку отримують через файли cookies, не може бути відкрита третім особам. Ця інформація не буде несанкціоновано передаватися третім особам.
                    <br>Продовжуючи використовувати Портал, Користувач надає згоду на використання технології cookies</p>
                <h2>4. ЗБЕРІГАННЯ ТА ВИЛУЧЕННЯ ЗІБРАНОЇ ІНФОРМАЦІЇ</h2>
                <p>4.1. Адміністрація робить все від неї залежне, щоб надати Користувачу доступ до його персональних даних і/або виправити їх, якщо вони невірні, чи вилучити за заявою Користувача, якщо тільки їх зберігання не вимагається законом. Користувач несе відповідальність за точність наданих ним даних.</p>
                <p>4.2. Вилучення персональних даних Користувача здійснюється шляхом направлення заяви зі своєї електронної пошти, що була зазначена в обліковому записі при реєстрації та/або заповненні запиту на допомогу через Портал, на електронну пошту info@poryad.in.ua. Вилучення даних Користувача є підставою для припинення будь-яких відносин із Користувачем. Також вилучення персональних даних Користувача, включаючи обліковий запис, та припинення будь-яких відносин між Адміністрацією та Користувачем може здійснюватись на розсуд Адміністрації без відповідної заяви.</p>
                <h2>5. ВНЕСЕННЯ ЗМІН ДО ЦІЄЇ ПОЛІТИКИ</h2>
                <p>Умови цієї Політики можуть змінюватись Адміністрацією в односторонньому порядку. Внесені зміни набирають чинності протягом трьох календарних днів з моменту їх публікації на Порталі. Якщо зміни будуть суттєвими, ми поінформуємо Користувача електронною поштою (надсилається на адресу електронної пошти, зазначену при реєстрації та/або заповненні запиту на допомогу) або шляхом повідомлення на цьому Порталі до набрання чинності змінами.
                    <br>У разі якщо Адміністрацією були внесені будь-які зміни в Політику, з якими Користувач не згоден, він зобов'язаний припинити використання сервісів Порталу. Факт продовження використання Порталу є підтвердженням згоди та прийняття Користувачем відповідної редакції Політики.
                    <br>З питань пов’язаних із Політикою просимо звертатися на адресу електронної пошти info@poryad.in.ua</p>

            </div>
        </div>
    </section>
</template>
