<script setup>

defineProps({})
</script>

<template>
    <section class="page__about">
        <div class="container">
            <div class="page__top flex">
                <h1 class="page__title">
                    Про нас
                </h1>
                <ul class="breadcrumbs flex">
                    <li>
                        <a href="../../">головна /</a>
                    </li>
                    <li>
                        про нас
                    </li>
                </ul>
            </div>
            <div class="pabout__content">
                <div class="pabout__img">
                    <img src="img/content/pabout.jpg" alt="" class="cover">
                </div>
                <div class="pabout__info">
                    <h2 class="pabout__title">
                        Про наш сервіс
                    </h2>
                    <div class="pabout__text">
                        <p>
                            Corporate social responsibility policymaker inclusion, resist; compassion mass incarceration correlation white paper. Program area energize optimism radical shared value policymaker milestones.Corporate social responsibility policymaker inclusion, resisceration correlation white paper. Program area energize optimism, corporate social responsibility policymaker inclusion, resist; compassion mass incarceration correlation white paper. Program area energize optimism radical shared value policymaker milestones.Corporate social responsibility policymaker inclusion, resisceration correlation white paper. Program area energize optimism
                        </p>
                    </div>
                    <div class="pabout__bottom flex">
                        <div class="pabout__contact about__contact flex">
                            <div class="about__conttitle">
                                поділитися:
                            </div>
                            <ul class="about__list flex">
                                <li>
                                    <a href="#">
                                        <img width="34" height="34" src="img/icons/share_1.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img width="34" height="34" src="img/icons/share_2.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img width="34" height="34" src="img/icons/share_3.svg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
