<script setup>

defineProps({})
</script>

<template>
<!--    <section class="section__partnears">-->
<!--        <div class="container">-->
<!--            <div class="partnears__top">-->
<!--                <h2 class="sec__title fadeAnim">-->
<!--                    Хто з нами?-->
<!--                </h2>-->
<!--                <div class="partnears__text fadeAnim">-->
<!--                    <p>-->
<!--                        Щоб робити наш портал комфортним у використанні та зручним, нам допомагають наші друзі-партнери.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
</template>
