<script setup>
import {useForm, Link} from '@inertiajs/inertia-vue3';
import JetValidationErrors from '@/Jetstream/ValidationErrors.vue';
import JetInputError from '@/Jetstream/InputError.vue';


const props = defineProps({
    auth: Object
})

const form = useForm({
    name: props.auth.user.name,
    phone: props.auth.user.phone,
    email: props.auth.user.email,
    city: props.auth.user.relation_city.name,
    telegram: props.auth.user.telegram,
    viber: props.auth.user.viber,
    password: '',
    password_confirmation: '',
});

const submit = () => {
    form.post('/edit-user', {
        onSuccess: () => {
            location.reload();
        },
    })
}
</script>

<template>
<!--    {{ auth }}-->
    <div class="account__edit">
        <h2 class="account__title">
            Персональна iнформацiя
        </h2>
        <form @submit.prevent="submit" class="account__form">
            <label for="y_name" class="accedit__label">
                <span class="accedit__fname">Iм’я та призвище</span>
                <input id="y_name" v-model="form.name" type="text" name="name" class="accedit__input">
            </label>

<!--            <label v-if="auth.user.relation_city" class="accedit__label">-->
<!--                <span class="accedit__fname">Мiсто</span>-->
<!--                <input v-model="form.city" type="text" name="city" class="accedit__input">-->
<!--            </label>-->

            <label for="y_email" class="accedit__label">
                <span class="accedit__fname">E-mail</span>
                <input id="y_email" v-model="form.email" type="tel" name="tel" class="accedit__input">
                <JetInputError v-if="form.hasErrors" :message="form.errors.email" class="mt-2" />
            </label>

            <label for="y_phone" class="accedit__label">
                <span class="accedit__fname">Номер телефону</span>
                <input id="y_phone" v-maska="'+38(###)###-##-##'" v-model="form.phone" type="tel" name="tel" class="accedit__input" placeholder="+38(___)___-__-__">
                <JetInputError v-if="form.hasErrors" :message="form.errors.phone" class="mt-2" />
            </label>

            <label for="y_telegram" v-if="auth.user.telegram" class="accedit__label">
                <span class="accedit__fname">Логин <img src="img/icons/login.svg" alt=""></span>
                <input id="y_telegram" v-model="form.telegram" type="text" name="telegram" class="accedit__input">
            </label>
            <label for="y_telegram" v-else class="accedit__label">
                <span class="accedit__fname">Логин <img src="img/icons/login.svg" alt=""></span>
                <input id="y_telegram" v-model="form.telegram" type="text" name="telegram" class="accedit__input" placeholder="Логин telegram">
            </label>

            <label for="y_viber" class="accedit__label">
                <span class="accedit__fname">Viber</span>
                <input id="y_viber" v-model="form.viber" v-maska="'+38(###)###-##-##'"  type="tel" name="viber" class="accedit__input" placeholder="+38(___)___-__-__">
            </label>

<!--            <div v-if="!support.is_phone_viber" class="label l3">-->
<!--                <label for="f10" class="label__name">Вайбер</label>-->
<!--                <input v-maska="'+38(###)###-##-##'" type="tel" id="f10" v-model="support.viber" name="viber" placeholder="+38(___)___-__-__" class="input">-->
<!--                <JetInputError v-if="support.hasErrors" :message="support.errors.viber" class="mt-2" />-->
<!--            </div>-->

            <label for="y_password" class="accedit__label">
                <span class="accedit__fname">Новий пароль</span>
                <input id="y_password" v-model="form.password" type="password" name="password" class="accedit__input" autocomplete="on" placeholder="Новий пароль">
                <JetInputError v-if="form.hasErrors" :message="form.errors.password" class="mt-2" />
            </label>
            <label for="y_passwordconfir" class="accedit__label">
                <span class="accedit__fname">Новий пароль ще раз</span>
                <input id="y_passwordconfir" v-model="form.password_confirmation" type="password" name="password_confirmation" autocomplete="on" class="accedit__input" placeholder="Новий пароль ще раз">
                <JetInputError v-if="form.hasErrors" :message="form.errors.password" class="mt-2" />
            </label>


            <button type="submit" class="button accedit__button">
                <span>Зберегти зміни</span>
            </button>
            <Link class="logout__url button" href="/logout"><span>Вийти з особистого кабінету</span></Link>
        </form>
    </div>
</template>
<script>
import { maska } from 'maska';

export default {
    directives: {
        maska
    }
}
</script>
