<script setup>

import Thumb from '../Entry/Support/Thumb'
import Header from '../Sections/SupportHeader'
import Pagination from '../Sections/Pagination'

defineProps({
    supports: Object,
    city: Object,
})



</script>

<template>
    <section class="section__last minPad section__support">
        <Header :city="city"/>
        <ul class="last__list">
            <Thumb v-for="support in supports.data" :support="support" :key="support.id"/>
        </ul>
        <Pagination v-if="supports.last_page > 1" :links="supports.links"/>
    </section>
</template>
