<script setup>

defineProps({})
</script>

<template>
    <section class="section__service">
        <div class="container">
            <h2 class="sec__title fadeAnim">
                Ми завжди поряд
            </h2>
            <div class="service__text fadeAnim">
                <p>
                    Єднаємось, допомагаємо, підтримуємо. Саме для цього й існує проєкт «‎Поряд»‎ — портал для тих, хто потребує допомоги та бажає допомогти.
                </p>
                <p>
                    Наш портал допомагає зручно та швидко подати запит на отримання допомоги. Своєю чергою, люди, які мають змогу допомогти, зможуть дізнатися про потреби та зв’язатись з тими, хто залишив запити.
                </p>
                <p>
                    На сайті є зручні категорії, які розподіляють надання допомоги: транспорт, їжа, одяг, ліки, консультації та інше.
                </p>
            </div>
            <div class="service__bottom flex fadeAnim">
                <a href="#popup__request" onclick="openPopup($(this))" class="service__button button">
                    <span>ПОТРIБНА ДОПОМОГА</span>
                </a>
            </div>
        </div>
    </section>
</template>
