<script setup>

defineProps({
    city: Object,
})
</script>

<template>
    <div class="container">
        <h2 v-if="city" class="sec__title smaller">
            Запити на допомогу у місті {{city.name }}
        </h2>
        <h2 v-else class="sec__title smaller">
            Запити на допомогу
        </h2>
    </div>
</template>
