<script setup>

import Thumb from '../Entry/Support/Thumb'

defineProps({})
</script>

<template>
    <section class="section__last">
        <div class="container">
            <h2 class="sec__title smaller">
                Ти можеш допомогти тим, хто поряд
            </h2>
        </div>
        <Thumb/>
        <div class="container">
            <div class="last__bottom flex">
                <a class="last__butlast button" href="#">
                    <span>подивитися всi запити</span>
                </a>
            </div>
        </div>
    </section>
</template>
