<script setup>

defineProps({})
</script>

<template>
    <section class="section__works">
        <div class="container">
            <h2 class="sec__title center fadeAnim">
                То як все працює?
            </h2>
            <div class="works__content">
                <div class="works__carousel owl-carousel owl-theme" style="display:flex">
                    <div class="works__item flex fadeAnim">
                        <div class="works__num">
                            01
                        </div>
                        <div class="works__info">
                            <h3 class="works__name">
                                Натиснути
                            </h3>
                            <div class="works__text">
                                <p>
                                    Для того, щоб отримати допомогу від тих, хто поряд, натисни кнопку “Потрібна допомога”.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="works__item flex fadeAnim">
                        <div class="works__num">
                            02
                        </div>
                        <div class="works__info">
                            <h3 class="works__name">
                                Написати
                            </h3>
                            <div class="works__text">
                                <p>
                                    Заповнити форму, вказавши, що саме наразі потрібно.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="works__item flex fadeAnim">
                        <div class="works__num">
                            03
                        </div>
                        <div class="works__info">
                            <h3 class="works__name">
                                Почекати
                            </h3>
                           <div class="works__text">
                               <p>
                                   З тобою обов‘язково зв'яжеться той, хто готовий допомогти, щоб обговорити всі деталі.
                              </p>
                           </div>
                        </div>
                    </div>
                    <div class="works__item flex fadeAnim">
                        <div class="works__num">
                            04
                        </div>
                        <div class="works__info">
                            <h3 class="works__name">
                                Отримати
                            </h3>
                            <div class="works__text">
                                <p>
                                    Отримавши допомогу, натиснути кнопку  "Знайшов допомогу" в особистому кабінеті. Ваш запит зникне з сайту.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="works__video fadeAnim">
                    <img width="380" height="380" src="img/content/works.png" alt="" class="contain">
                    <a href="javascript:void(0);" onclick="openVideo($(this))" data-video="xABVoaSaFZU" class="video__button button">
                        <span>відтворити</span>
                    </a>
                </div>
            </div>
            <div class="service__bottom flex fadeAnim">
                <a href="#popup__request" onclick="openPopup($(this))" class="service__button button">
                    <span>ПОТРIБНА ДОПОМОГА</span>
                </a>
            </div>
        </div>
    </section>
</template>


<script>
    // jQuery(function ()  {
    //     if(jQuery('.owl-carousel').length > 0) {
    //         if ( jQuery(window).width() < 1025 ) {
    //             worksCarousell();
    //             partCarousell();
    //             foundersCarousell();
    //         } else {
    //             jQuery('.works__carousel').addClass('disabledCar');
    //             jQuery('.partnears__carousel').addClass('disabledCar');
    //             jQuery('.founders__carousel').addClass('disabledCar');
    //         }
    //
    //         jQuery(window).resize(function() {
    //             if ( jQuery(window).width() < 1025 ) {
    //                 worksCarousell();
    //                 partCarousell();
    //                 foundersCarousell();
    //                 jQuery('.works__carousel').removeClass('disabledCar');
    //                 jQuery('.partnears__carousel').removeClass('disabledCar');
    //                 jQuery('.founders__carousel').removeClass('disabledCar');
    //             } else {
    //                 stopWorksCarousel();
    //                 stopPartCarousel();
    //                 stopFoundersCarousel();
    //                 jQuery('.works__carousel').addClass('disabledCar');
    //                 jQuery('.partnears__carousel').addClass('disabledCar');
    //                 jQuery('.founders__carousel').addClass('disabledCar');
    //             }
    //         });
    //     }
    // });

</script>
