<script setup>
import MainLayout from '../Layouts/MainLayout'
import PageAboutInfo from '../Components/Sections/PageAboutInfo'
import Contact from '../Components/Sections/Contact'

defineProps({
    meta: Object,
    supports: Object,
    auth: Object,
    current: String
});

</script>

<template>
    <Head>
        <title>Поряд  українці, яким потрібна допомога.</title>
        <meta name="description" content="Наш портал допомагає зручно та швидко подати запит на отримання допомоги чи певних ресурсів." />

        <meta property="og:url"  :content="current" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Поряд українці, яким потрібна допомога." />
        <meta property="og:description" content="Наш портал допомагає зручно та швидко подати запит на отримання допомоги чи певних ресурсів." />
        <meta property="og:image" content="https://poryad.in.ua/img/content/helpshere.jpg" />
        <meta property="og:image:type" content="image/jpg" />
        <meta property="og:image:width" content="1000" />
        <meta property="og:image:height" content="522" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="Поряд українці, яким потрібна допомога." />
        <meta name="twitter:description" content="Наш портал допомагає зручно та швидко подати запит на отримання допомоги чи певних ресурсів." />
        <meta name="twitter:image" content="https://poryad.in.ua/img/content/helpshere.jpg" />
    </Head>

    <MainLayout :auth="auth">
        <PageAboutInfo/>
<!--        <form @submit.prevent="submit" class="formRequest flex">-->
<!--            <div class="field__label fullWudth">-->
<!--                <input type="text" id="amount" v-model="form.amount" name="amount" required placeholder="Наприклад: 100грн." class="field__input">-->
<!--                <label for="amount" class="field__name">Сума</label>-->
<!--                <div class="focusLine"></div>-->
<!--                <JetInputError v-if="form.hasErrors" :message="form.errors.amount" class="input__error errorInner" />-->
<!--            </div>-->
<!--            <div class="field__label fullWudth">-->
<!--                <input type="text" id="f1" v-model="form.description" name="description" required placeholder="Наприклад: Тарас Шевченко" class="field__input">-->
<!--                <label for="f1" class="field__name">Ім’я та прізвище</label>-->
<!--                <div class="focusLine"></div>-->
<!--                <JetInputError v-if="form.hasErrors" :message="form.errors.description" class="input__error errorInner" />-->
<!--            </div>-->
<!--            <button type="submit">Відправити</button>-->
<!--        </form>-->
        <Contact/>
    </MainLayout>
</template>
//<script>
//import axios from 'axios';
//import {Inertia} from "@inertiajs/inertia";
//
//export default {
//    name: 'PostFormAxios',
//    data(){
//        return{
//            form: {
//                amount: '',
//                description: ''
//            }
//        }
//    },
//    methods:{
//        submit(){
//            axios.post('/makeDonate', this.form)
//                .then((response) => {
//                    let i = response['data']['data'];
//                    let signature = response['data']['signature'];
//                    loadForm(i, signature);
//                    console.log('Perform Success Action');
//                    //Perform Success Action
//                })
//                .catch((error) => {
//                    console.log('error.response.status Check status code');
//                    // error.response.status Check status code
//                }).finally(() => {
//                console.log('Perform action in always');
//                //Perform action in always
//            });
//        }
//    }
//}
//
//function loadForm(i, signature){
//    let form = document.createElement("form");
//    form.action = "https://www.liqpay.ua/api/3/checkout";
//    form.method = "POST";
//
//    let input1 = document.createElement("input");
//    input1.type = "hidden";
//    input1.name = "data";
//    input1.value = i;
//
//    form.appendChild(input1);
//
//    let input2 = document.createElement("input");
//    input2.type = "hidden";
//    input2.name = "signature";
//    input2.value = signature;
//
//    form.appendChild(input2);
//
//    document.body.appendChild(form);
//
//    form.submit();
//    // console.log('data: ' + i + ', signature: ' + signature);
//}
</script>
