<script setup>
import MainLayout from '../Layouts/MainLayout'
import PersonalInfo from '../Components/Sections/PersonalInfo'
import MySupport from '../Components/Sections/MySupport'
import WishSupport from '../Components/Sections/WishSupport'
defineProps({
    meta: Object,
    category: Object,
    city: Object,
    categories: Object,
    supports: Object,
    auth: Object,
    current: String
});

</script>

<template>
    <Head>
        <title>Особистий кабінет на порталі «Поряд»</title>
        <meta name="description" content="В особистому кабінеті на порталі «Поряд» можна змінити персональні дані та розміщені запити." />

        <meta property="og:url"  :content="current" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Особистий кабінет на порталі «Поряд»" />
        <meta property="og:description" content="В особистому кабінеті на порталі «Поряд» можна змінити персональні дані та розміщені запити." />
        <meta property="og:image" content="https://poryad.in.ua/img/content/helpshere.jpg" />
        <meta property="og:image:type" content="image/jpg" />
        <meta property="og:image:width" content="1000" />
        <meta property="og:image:height" content="522" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="Особистий кабінет на порталі «Поряд»" />
        <meta name="twitter:description" content="В особистому кабінеті на порталі «Поряд» можна змінити персональні дані та розміщені запити." />
        <meta name="twitter:image" content="https://poryad.in.ua/img/content/helpshere.jpg" />
    </Head>
    <MainLayout :auth="auth">
        <PersonalInfo/>
        <MySupport v-if="supports && supports.data.length" :supports="supports"/>
        <WishSupport v-if="supports && supports.data.length" :supports="supports"/>
    </MainLayout>
</template>
