<script setup>
import MainLayout from '../Layouts/MainLayout'
import CategoryHeader from '../Components/Sections/CategoryHeader'
import CategoryInfo from '../Components/Sections/CategoryInfo'
import CategoryFilter from '../Components/Sections/CategoryFilter'
import Categories from '../Components/Sections/Categories'
import Support from '../Components/Sections/Support'
import {usePage} from "@inertiajs/inertia-vue3";
import Contact from '../Components/Sections/Contact'
import { Head } from '@inertiajs/inertia-vue3'
const category = usePage().props.value.category

const props = defineProps({
    title: String,
    meta: Object,
    category: Object,
    city: Object,
    categories: Object,
    supports: Object,
    degrees: Array,
    auth: Object,
    current: String
});

</script>

<template>
    <Head>
        <title>{{ category.meta_title }}</title>
        <meta name="description" :content="category.meta_description" />

        <meta property="og:url" :content="current" />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="ua_UA" />
        <meta property="og:title" :content="category.meta_title" />
        <meta property="og:description" :content="category.meta_description" />
        <meta property="og:image" content="https://poryad.in.ua/img/content/helpshere.jpg" />
        <meta property="og:image:type" content="image/jpg" />
        <meta property="og:image:width" content="1000" />
        <meta property="og:image:height" content="522" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" :content="category.meta_title" />
        <meta name="twitter:description" :content="category.meta_description" />
        <meta name="twitter:image" content="https://poryad.in.ua/img/content/helpshere.jpg" />
    </Head>
    <MainLayout :auth="auth">
        <section class="section__cat">
            <div class="container">
                <div class="cat__flex flex">
                    <div v-if="supports && supports.data.length" class="issup"></div>
                    <div class="cat__left">
                        <CategoryHeader :title="category.title" :city="city"/>
                        <div v-if="supports && supports.data.length" class="cat__container">
                            <CategoryInfo :title="category.title" :description="category.description"/>
                        </div>
                    </div>
                    <div v-if="city">
                        <div v-if="supports && supports.data.length" class="cat__map">
                            <img :src="'/img/content/regions/' + city.region_id + '.svg'" alt="">
                        </div>
                    </div>
                    <div v-else>
                        <div v-if="supports && supports.data.length" class="cat__map">
                            <img src="/img/content/map.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="supports && !supports.data.length" class="container cat__empty">
                <h2 class="sec__title">Наразі немає запитів на допомогу в цій категорії у цьому місті. Спробуй обрати іншу категорію</h2>
                <a href="#popup__request" onclick="openPopup($(this))" class="button">
                    <span>Отримати допомогу</span>
                </a>
            </div>
            <div v-if="supports && supports.data.length" class="catfilter__container">
                <div class="container">
                    <CategoryFilter :degrees="[]" />
                </div>
            </div>
        </section>
        <Support v-if="supports && supports.data.length && city" :supports="supports" :city="city"/>
        <Support v-else-if="supports && supports.data.length" :supports="supports"/>

        <Categories v-if="categories && categories.data.length && city" :categories="categories" :city="city" :prefix="city.slug"/>
        <Categories v-else-if="categories && categories.data.length" :categories="categories"/>
        <Contact/>
    </MainLayout>
</template>
