<script setup>
import MainLayout from '../Layouts/MainLayout'
import Info from '../Components/Sections/PersonalInfo'
import Support from '../Components/Sections/MySupport'
import { Head } from '@inertiajs/inertia-vue3'

defineProps({
    supports: Object,
    auth: Object,
    current: String
});
</script>

<template>
    <Head>
        <title>Особистий кабінет на порталі «Поряд»</title>
        <meta name="description" content="В особистому кабінеті на порталі «Поряд» можна змінити персональні дані та розміщені запити." />

        <meta property="og:url"  :content="current">
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Особистий кабінет на порталі «Поряд»" />
        <meta property="og:description" content="В особистому кабінеті на порталі «Поряд» можна змінити персональні дані та розміщені запити." />
        <meta property="og:image" content="https://poryad.in.ua/img/content/helpshere.jpg" />
        <meta property="og:image:type" content="image/jpg" />
        <meta property="og:image:width" content="1000" />
        <meta property="og:image:height" content="522" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="Особистий кабінет на порталі «Поряд»" />
        <meta name="twitter:description" content="В особистому кабінеті на порталі «Поряд» можна змінити персональні дані та розміщені запити." />
        <meta name="twitter:image" content="https://poryad.in.ua/img/content/helpshere.jpg" />
    </Head>
    <MainLayout :auth="auth">
    <section class="page__account">
        <div class="container">
            <div class="page__top flex">
                <h1 class="page__title">
                    Особистий кабінет
                </h1>
                <ul class="breadcrumbs flex">
                    <li>
                        <a href="#">головна /</a>
                    </li>
                    <li>
                        особистий кабінет
                    </li>
                </ul>
            </div>
            <div class="account__content flex">
                <Info :auth="auth"/>
                <Support :supports="supports" />
            </div>
        </div>
    </section>
    </MainLayout>
</template>

<style>
    .wrapper {
        position: static;
    }
</style>
