<script setup>
import MainLayout from '../Layouts/MainLayout'
import Categories from '../Components/Sections/Categories'
import CategoryFilter from '../Components/Sections/CategoryFilter'
import Support from '../Components/Sections/Support'
import Contact from '../Components/Sections/Contact'
import { Head } from '@inertiajs/inertia-vue3'
import {onMounted} from "vue";

const props = defineProps({
    open_popup: String,
    title: String,
    meta: Object,
    category: Object,
    city: Object,
    categories: Object,
    supports: Object,
    auth: Object,
    current: String
});

onMounted(() => {
    startAnim();
    carousell();

    if (props.open_popup) {
        $(props.open_popup).fadeIn(400);
        $('body').addClass('overHide');
    }
});

</script>

<template>
    <Head>
        <title>«Поряд» — це портал, який єднає українців.</title>
        <meta name="description" content="Наш портал допомагає зручно та швидко подати заявку на отримання допомоги чи певних ресурсів. Своєю чергою, люди, які мають змогу допомогти, зможуть дізнатися про потреби та зв’язатись з тими, хто залишив заявки.  На нашому сайті є зручні фільтри, які розподіляють надання допомоги по категоріях: транспорт, їжа, одяг, ліки, консультації та інше." />

        <meta property="og:url"  content="current" />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="ua_UA" />
        <meta property="og:title" content="«Поряд» — це портал, який єднає українців." />
        <meta property="og:description" content="Я допомагаю на порталі «Поряд». Приєднуйся і ти!" />
        <meta property="og:image" content="https://poryad.in.ua/img/content/helpshere.jpg" />
        <meta property="og:image:type" content="image/jpg" />
        <meta property="og:image:width" content="1000" />
        <meta property="og:image:height" content="522" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="«Поряд» — це портал, який єднає українців." />
        <meta name="twitter:description" content="Я допомагаю на порталі 'Поряд'. Приєднуйся і ти!" />
        <meta name="twitter:image" content="https://poryad.in.ua/img/content/helpshere.jpg" />
    </Head>
    <MainLayout :auth="auth">
        <Categories v-if="categories && categories.data.length" :categories="categories"/>
        <div v-if="supports && supports.data.length" class="catfilter__container">
            <div class="container">
                <CategoryFilter :degrees="[]" />
            </div>
        </div>
        <Support :supports="supports"/>
        <Contact v-if="categories && categories.data.length" :categories="categories"/>
    </MainLayout>
</template>
<script>

</script>

<style scoped>
    @media screen and (min-width: 1024px) {
        .catfilter__container {
            margin: 0 !important;
        }
    }
</style>
