<script setup>
import MainLayout from '../Layouts/MainLayout'
import PageTermsInfo from '../Components/Sections/PageTermsInfo'
import Contact from '../Components/Sections/Contact'

defineProps({
    meta: Object,
    supports: Object,
    auth: Object,
    current: String
});

</script>

<template>
    <Head>
        <title>Політика конфіденційності проєкту «Поряд”</title>
        <meta name="description" content="Адміністрація вебсайту «poryad.in.ua» турбується про забезпечення безпеки отриманих даних від розпорядників персональних даних: будь-яких фізичних осіб та/або юридичних осіб" />

        <meta property="og:url"  :content="current">
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Політика конфіденційності порталу «Поряд»" />
        <meta property="og:description" content="Адміністрація вебсайту «poryad.in.ua» турбується про забезпечення безпеки отриманих даних від розпорядників персональних даних: будь-яких фізичних осіб та/або юридичних осіб" />
        <meta property="og:image" content="https://poryad.in.ua/img/content/helpshere.jpg" />
        <meta property="og:image:type" content="image/jpg" />
        <meta property="og:image:width" content="1000" />
        <meta property="og:image:height" content="522" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="Політика конфіденційності порталу «Поряд»" />
        <meta name="twitter:description" content="Адміністрація вебсайту «poryad.in.ua» турбується про забезпечення безпеки отриманих даних від розпорядників персональних даних: будь-яких фізичних осіб та/або юридичних осіб" />
        <meta name="twitter:image" content="https://poryad.in.ua/img/content/helpshere.jpg" />
    </Head>
    <MainLayout :auth="auth">
        <PageTermsInfo/>
        <Contact/>
    </MainLayout>
</template>
