<template>
    <div>
        {{ $page.props.user }}
        <form @submit.prevent="submit">
            <label for="name">Last name:</label>
            <input id="name" v-model="form.name" />
            <button type="submit">Submit</button>
        </form>
    </div>
</template>

<script>
import { reactive } from 'vue'
import { Inertia } from '@inertiajs/inertia'

export default {
    setup () {
        const form = reactive({
            name: 'Test',
        })

        function submit() {
            Inertia.post('/api/v1/community', form)
        }

        return { form, submit }
    },
}
</script>
