<script setup>
    import MainLayout from '../Layouts/MainLayout'
    import MainBanner from '../Components/Sections/MainBanner'
    import Categories from '../Components/Sections/Categories'
    import Last from '../Components/Sections/Last'
    import About from '../Components/Sections/About'
    import Works from '../Components/Sections/Works'
    import Founders from '../Components/Sections/Founders'
    import Service from '../Components/Sections/Service'
    import Donate from '../Components/Sections/Donate'
    import News from '../Components/Sections/News'
    import Contact from '../Components/Sections/Contact'
    import { Head } from '@inertiajs/inertia-vue3'
    import {onMounted} from "vue";

    const props = defineProps({
        open_popup: String,
        title: String,
        meta: Object,
        category: Object,
        city: Object,
        categories: Object,
        supports: Object,
        auth: Object,
        current: String
    });

    onMounted(() => {
        startAnim();
        carousell();

        if (props.open_popup) {
            $(props.open_popup).fadeIn(400);
            $('body').addClass('overHide');
        }
    });

</script>

<template>
    <Head>
        <title>«Поряд» — це проєкт, який єднає українців.</title>
        <meta name="description" content='Портал "Поряд" допомагає зручно та швидко подати заявку на отримання допомоги чи необхідних ресурсів. Своєю чергою, люди, які мають змогу допомогти, зможуть дізнатися про потреби та зв’язатись з тими, хто залишив заявки. На нашому сайті є зручні фільтри, які розподіляють надання допомоги за категоріями: транспорт, їжа, одяг, ліки, консультації та інше.' />

        <meta property="og:url"  content="current" />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="ua_UA" />
        <meta property="og:title" content="«Поряд» — це портал, який єднає українців." />
        <meta property="og:description" content="Я допомагаю на порталі «Поряд». Приєднуйся і ти!" />
        <meta property="og:image" content="https://poryad.in.ua/img/content/helpshere.jpg" />
        <meta property="og:image:type" content="image/jpg" />
        <meta property="og:image:width" content="1000" />
        <meta property="og:image:height" content="522" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="«Поряд» — це портал, який єднає українців." />
        <meta name="twitter:description" content="Я допомагаю на порталі «Поряд». Приєднуйся і ти!" />
        <meta name="twitter:image" content="https://poryad.in.ua/img/content/helpshere.jpg" />
    </Head>
    <MainLayout :auth="auth">
        <MainBanner/>
        <Categories v-if="categories.data.length" :categories="categories"/>
        <Last v-if="supports && supports.data.length" :supports="supports"/>
        <About/>
        <Works/>
        <Founders/>
        <Service/>
        <Donate/>
        <News/>
        <Contact v-if="categories.data.length" :categories="categories"/>
    </MainLayout>

    <div class="popup popup__help" id="popup__after_password_reset_link">
        <div onclick="closePopup()" class="popup__underlay"></div>
        <div class="popup__container">
            <div class="popup__content">
                <a href="#" onclick="closePopup()" class="popup__close"></a>
                <div class="popup__title">
                    Лист з посиланням успішно відправлено
                </div>
                <div class="popup__aftertext">
                    На твою пошту відправлено лист для відновлення паролю.
                </div>
            </div>
        </div>
    </div>
    <div class="popup popup__help" id="popup__after_new_password">
        <div onclick="closePopup()" class="popup__underlay"></div>
        <div class="popup__container">
            <div class="popup__content">
                <a href="#" onclick="closePopup()" class="popup__close"></a>
                <div class="popup__title">
                    Пароль успішно змінено
                </div>
                <div class="popup__aftertext">
                    Тепер ти можеш увійти до свого особистого кабінету за новим паролем.
                </div>
            </div>
        </div>
    </div>
</template>
<script>

</script>

<style scoped>

</style>
