/* font-family: "FuturaPT-Medium"; */
@font-face {
  font-family: "FuturaPT-Medium";
  src: url("../../fonts/FuturaPT-Medium/FuturaPT-Medium.eot");
  src: url("../../fonts/FuturaPT-Medium/FuturaPT-Medium.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/FuturaPT-Medium/FuturaPT-Medium.woff") format("woff"),
  url("../../fonts/FuturaPT-Medium/FuturaPT-Medium.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}


/* font-family: "FuturaPT-Bold"; */
@font-face {
  font-family: "FuturaPT-Bold";
  src: url("../../fonts/FuturaPT-Bold/FuturaPT-Bold.eot");
  src: url("../../fonts/FuturaPT-Bold/FuturaPT-Bold.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/FuturaPT-Bold/FuturaPT-Bold.woff") format("woff"),
  url("../../fonts/FuturaPT-Bold/FuturaPT-Bold.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}
