html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
body {
  overflow-x: hidden;
  position: relative;
}

* {
  box-sizing: border-box; }

a {
  text-decoration: none !important;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: normal; }

li {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0;
}

input {
  outline: none;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  outline: none;
  border: none;
}

select {
  outline: none;
  border: none;
}

.wrapper {
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flexCentr {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.cover {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contain {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hr {
  width: 100%;
}

#nprogress .bar {
  background: rgb(79,153,212) !important;
  background: linear-gradient(90deg, rgba(79,153,212,1) 0%, rgba(255,216,42,1) 100%) !important;
  height: 4px !important;
  box-shadow: none !important;
}

#nprogress .peg  {
  box-shadow: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  //transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #333;
  -webkit-background-clip: text;
}

textarea {
  resize: none;
}



//-------------------------//

$text3: #333333;
$text1: #333333;
$blue: #4F99D3;
$yellow: #F1CD4D;
$bold: 700;

body {
  font-size: 15px;
  color: #333;
  line-height: 2;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  width: 100%;
  position: relative;

  &.overHide {
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
    height: 100vh;
  }
}

.wrapper {
  min-height: calc(100vh - 200px);
  position: static;
}

.startAnim {
  &.startDone {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
}

input, textarea {
  font-family: 'Mulish', sans-serif;

  &::placeholder {
    color: rgba(51,51,51,0.3);
  }
}

.container {
  max-width: 1600px;
  padding: 0 30px;
}

.disabledCar {
  display: flex;
}

.button {
  width: 300px;
  height: 64px;
  box-shadow: none;
  border-radius: 4px;
  font-size: 13px;
  line-height: 17px;
  font-weight: $bold;
  background: $blue;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: #fff;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: $blue;
    border-radius: 4px;
    transition: .3s;
    transform: scale(1);
  }

  span {
    position: relative;
    z-index: 2;
  }
  
  &.whiteButton {
    background-color: #fff;
    color: $blue;
    transition: .3s;
    &::after {
      display: none;
    }
    &:hover {
      color: #fff;
      background-color: $yellow;
    }
  }

  &.transButton {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: 1px solid #FFFFFF;
    transition: .3s;
    &::after {
      display: none;
    }
    &:hover {
      color: $blue;
      background-color: #fff;
    }
  }

  &.borderButton {
    background: #fff;
    color: $blue;
    border: 1px solid $blue;
    transition: .3s;
    &::after {
      display: none;
    }
    &:hover {
      color: #fff;
      background-color: $blue;
    }
  }

  &.yButton {
    background-color: $yellow;
    &::after {
      background-color: $yellow;
    }
  }
}

.sec__title {
  font-size: 44px;
  line-height: 58px;
  letter-spacing: -1px;
  font-weight: $bold;
  position: relative;
  z-index: 2;

  &.center {
    text-align: center;
  }

  &.smaller {
    font-size: 34px;
    line-height: 45px;
  }
}

///////////
.page__top {
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.page__title {
  font-size: 44px;
  line-height: 58px;
  font-weight: $bold;
  color: $text1;
}

.breadcrumbs {
  align-items: center;
  align-content: center;

  li {
    font-size: 13px;
    line-height: 17px;
    margin-right: 2px;
    color: $blue;

    &:last-child {
      margin-right: 0;
    }

    a {
      color: $text1;
    }
  }
}

.last__bottom .mr-1 {
  display: inline-block;
  margin: 0 6px;
  margin-top: 25px;
  width: 32px;
  height: 32px;
  background-color: #fff;
  line-height: 32px;
  font-size: 18px;
  text-align: center;
  color: #333;
  border-radius: 4px;

  &:first-child, &:last-child {
    font-size: 0;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.785 13.5274L13.49 20.2324L11.7225 21.9999L2 12.2774L11.7225 2.55492L13.49 4.32242L6.785 11.0274L22 11.0274L22 13.5274L6.785 13.5274Z' fill='black'/%3E%3C/svg%3E%0A") !important;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 18px;
    background-size: 18px;
  }
  &:last-child {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.215 10.4726L10.51 3.76758L12.2775 2.00008L22 11.7226L12.2775 21.4451L10.51 19.6776L17.215 12.9726H2V10.4726H17.215Z' fill='black'/%3E%3C/svg%3E%0A") !important;
  }
}

.last__bottom {
  a.mr-1 {
    color: $blue !important;
    &.text-white {
      color: #FFD82A !important;
    }
  }
  a.mr-1:first-child, a.mr-1:last-child {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.785 13.5274L13.49 20.2324L11.7225 21.9999L2 12.2774L11.7225 2.55492L13.49 4.32242L6.785 11.0274L22 11.0274L22 13.5274L6.785 13.5274Z' fill='%234F9AD7'/%3E%3C/svg%3E%0A") !important;
  }
  a.mr-1:last-child {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.215 10.4726L10.51 3.76758L12.2775 2.00008L22 11.7226L12.2775 21.4451L10.51 19.6776L17.215 12.9726H2V10.4726H17.215Z' fill='%234F9AD7'/%3E%3C/svg%3E%0A") !important;
  }
}

//.fadeAnim {
//  opacity: 0;
//  transition: 1s ease-out !important;
//  transform: translateY(100px);
//}
//
//.fadeDone {
//  opacity: 1;
//  transform: translateY(0);
//}


.newScroll::-webkit-scrollbar-button {
  width: 4px;
  height: 5px;
  background-color: transparent;
}
.newScroll::-webkit-scrollbar-track {
  background-color: transparent;
}
.newScroll::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: $yellow;
}
.newScroll::-webkit-scrollbar-thumb:hover{
  background-color: $yellow;
}
.newScroll::-webkit-resizer{
  width: 4px;
}
.newScroll::-webkit-scrollbar{
  width: 4px;
}

//////////
.field__label {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  display: flex;

  .field__name {
    left: 5px;
    font-size: 13px;
    line-height: 18px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 600;
    color: #000;
    position: absolute;
    transition: .3s;
    display: inline-block;
    cursor: text;

    span {
      color: $blue;
    }
  }

  .field__input {
    font-size: 13px;
    line-height: 18px;
    height: 50px;
    padding: 0 5px;
    border-bottom: 1px solid $text1;
    display: block;
    width: 100%;
    background-color: transparent;
    border-radius: 0 !important;
    box-shadow: none !important;
    outline: none !important;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    &::placeholder {
      color: transparent;
      transition: .3s;
    }

    &:hover {
      & + label {
        color: rgba(0, 0, 0, .5);
      }
    }

    &:not(:placeholder-shown) {
      & + label {
        color: $blue;
        top: 7px;
        font-size: 11px;
        line-height: 14px;
        opacity: 0;
      }
    }

    &:focus {
      & + label {
        color: $blue;
        top: 4px;
        font-size: 11px;
        line-height: 14px;
        opacity: 1;
        & + .focusLine {
          left: 0;
          right: 0;
        }
      }
      &::placeholder {
        color: rgba(0, 0, 0, 0.5);
      }
    }

    &.field__textarea {
      height: 42px !important;
      margin-top: 14px;

      & + label {
        top: 14px;
        transform: none;
      }

      &:not(:placeholder-shown) {
        & + label {
          top: 0;
        }
      }

      &:focus {
        & + label {
          top: -4px;
        }
      }
    }
  }

  .focusLine {
    position: absolute;
    bottom: -1px;
    left: 50%;
    right: 50%;
    height: 2px;
    background-color: $blue;
    transition: .3s;
  }
}


.label.error, .field__label.error {
  .input__error {
    display: block;
  }
}

.input__error {
  font-size: 11px;
  line-height: 14px;
  padding-left: 21px;
  bottom: -6px;
  transform: translateY(100%);
  left: 0;
  color: #E24545;
  position: absolute;
  display: none;
  text-align: left;
  
  &::before {
    width: 16px;
    height: 16px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: contain;
    background-size: contain;
    content: '';
    position: absolute;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.74045 0.427476L17.8854 14.5354C17.9605 14.6654 18 14.8129 18 14.9629C18 15.113 17.9605 15.2605 17.8855 15.3905C17.8104 15.5204 17.7025 15.6284 17.5725 15.7034C17.4425 15.7785 17.2951 15.818 17.145 15.818H0.855006C0.704919 15.818 0.557477 15.7785 0.4275 15.7034C0.297522 15.6284 0.189588 15.5204 0.114547 15.3905C0.0395048 15.2605 -9.53211e-07 15.113 0 14.9629C9.53246e-07 14.8129 0.0395086 14.6654 0.114552 14.5354L8.25955 0.427476C8.33459 0.297506 8.44253 0.189578 8.5725 0.114541C8.70248 0.0395036 8.84992 0 9 0C9.15008 0 9.29752 0.0395036 9.4275 0.114541C9.55747 0.189578 9.66541 0.297506 9.74045 0.427476ZM8.14497 11.5428V13.2529H9.85503V11.5428H8.14497ZM8.14497 5.55764V9.83278H9.85503V5.55764H8.14497Z' fill='%23E24545'/%3E%3C/svg%3E%0A");
  }

  &.errorInner {
    padding: 0;
    margin: 0;
    display: block;

    &:before {
      display: none;
    }

    p {
      font-size: 11px;
      line-height: 14px;
      padding: 0;
      padding-left: 21px;
      font-weight: 600;
      color: #E24545;
      margin: 0;
      overflow: hidden;
      position: relative;

      &::before {
        width: 16px;
        height: 16px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: contain;
        background-size: contain;
        content: '';
        position: absolute;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.74045 0.427476L17.8854 14.5354C17.9605 14.6654 18 14.8129 18 14.9629C18 15.113 17.9605 15.2605 17.8855 15.3905C17.8104 15.5204 17.7025 15.6284 17.5725 15.7034C17.4425 15.7785 17.2951 15.818 17.145 15.818H0.855006C0.704919 15.818 0.557477 15.7785 0.4275 15.7034C0.297522 15.6284 0.189588 15.5204 0.114547 15.3905C0.0395048 15.2605 -9.53211e-07 15.113 0 14.9629C9.53246e-07 14.8129 0.0395086 14.6654 0.114552 14.5354L8.25955 0.427476C8.33459 0.297506 8.44253 0.189578 8.5725 0.114541C8.70248 0.0395036 8.84992 0 9 0C9.15008 0 9.29752 0.0395036 9.4275 0.114541C9.55747 0.189578 9.66541 0.297506 9.74045 0.427476ZM8.14497 11.5428V13.2529H9.85503V11.5428H8.14497ZM8.14497 5.55764V9.83278H9.85503V5.55764H8.14497Z' fill='%23E24545'/%3E%3C/svg%3E%0A");
      }
    }
  }
}

.zPrior {
  z-index: 10;
}

.hidden {
  display: none;
}


@media screen and (max-width: 1440px) {
  body {
    font-size: 15px;
  }
  .wrapper {
    min-height: calc(100vh - 168px);
  }
  .container {
    padding: 0 30px;
  }
  .button {
    width: 240px;
    height: 56px;
    font-size: 13px;
    line-height: 17px;
  }
  .sec__title {
    font-size: 40px;
    line-height: 52px;
    &.smaller {
      font-size: 32px;
      line-height: 40px;
    }
  }
  ///////////
  .page__top {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .page__title {
    font-size: 38px;
    line-height: 46px;
  }
  .breadcrumbs {
    li {
      font-size: 13px;
      line-height: 17px;
      margin-right: 2px;
    }
  }
}


@media screen and (max-width: 1024px) {
  body {
    font-size: 15px;
  }
  .wrapper {
    min-height: calc(100vh - 128px);
  }
  .container {
    padding: 0 24px;
  }
  .button {
    width: 200px;
    height: 64px;
    font-size: 13px;
    line-height: 17px;
  }
  .sec__title {
    font-size: 34px;
    line-height: 45px;
    &.smaller {
      font-size: 24px;
      line-height: 32px;
    }
  }
  .owl-carousel {
    padding-left: 65px !important;
    padding-right: 65px !important;
    position: static;
    .owl-nav {
      div, button {
        width: 24px;
        height: 24px;
        left: 12px;
        z-index: 10;
        position: absolute;
        top: 53%;
        transform: translateY(-50%);
        font-size: 0;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.785 13.5274L13.49 20.2324L11.7225 21.9999L2 12.2774L11.7225 2.55492L13.49 4.32242L6.785 11.0274L22 11.0274L22 13.5274L6.785 13.5274Z' fill='black'/%3E%3C/svg%3E%0A") !important;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: contain;
        background-size: contain;
        background-color: transparent;
        span {
          display: none;
        }
        &.owl-next {
          left: auto;
          right: 12px;
          background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.215 10.4726L10.51 3.76758L12.2775 2.00008L22 11.7226L12.2775 21.4451L10.51 19.6776L17.215 12.9726H2V10.4726H17.215Z' fill='black'/%3E%3C/svg%3E%0A") !important;
        }
      }
    }
  }
}

@media screen and (min-width: 760px) {
  .button {
    &:hover {
      &::after {
        transform: scale(1.03);
        background-color: $yellow;

      }
    }
  }
}


@media screen and (max-width: 760px) {
  body {
    font-size: 15px;
  }
  .container {
    padding: 0 24px;
  }
  .button {
    width: 200px;
    height: 64px;
    font-size: 13px;
    line-height: 17px;
    &::after {
      display: none;
    }
  }
  .sec__title {
    font-size: 30px;
    line-height: 40px;
    &.smaller {
      font-size: 24px;
      line-height: 32px;
    }
  }
  .owl-carousel {
    padding-left: 45px !important;
    padding-right: 45px !important;
    position: static;
    .owl-nav {
      div, button {
        width: 24px;
        height: 24px;
        left: 30px;
        &.owl-next {
          right: 30px;
        }
      }
    }
  }
  ///////////
  .page__top {
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: row-reverse;
    background-color: #F5F5F5;
    position: relative;
    &::after, &::before {
      width: 24px;
      content: '';
      position: absolute;
      bottom: 0;
      top: 0;
      background-color: #F5F5F5;
    }
    &::after {
      right: 0;
      transform: translateX(100%);
    }
    &::before {
      left: 0;
      transform: translateX(-100%);
    }
  }
  .page__title {
    font-size: 24px;
    line-height: 30px;
  }
  .breadcrumbs {
    li {
      font-size: 0;
      display: none;
      &:first-child {
        display: block;
      }
      a {
        display: block;
        width: 24px;
        height: 16px;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: contain;
        background-size: contain;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='17' viewBox='0 0 24 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.8611 9.63216H4.87963L9.32407 14.0684C9.76852 14.512 9.76852 15.2237 9.32407 15.6673C9.10185 15.8891 8.81481 16 8.51852 16C8.22222 16 7.93519 15.8891 7.71296 15.6673L1.33333 9.29945C0.888889 8.85582 0.888889 8.14418 1.33333 7.70055L7.71296 1.33272C8.15741 0.889094 8.87037 0.889094 9.31481 1.33272C9.75926 1.77634 9.75926 2.48799 9.31481 2.93161L4.87037 7.36784H21.8611C22.4907 7.36784 23 7.87616 23 8.50462C23 9.13309 22.4907 9.63216 21.8611 9.63216Z' fill='%23111111' stroke='black'/%3E%3C/svg%3E%0A");
      }
    }
  }
  //////////
  .field__label {
    .field__input {
      height: 40px;
      &:not(:placeholder-shown) {
        & + label {
          top: 5px;
        }
      }
      &:focus {
        & + label {
          top: 2px;
        }
      }
      &.field__textarea {
        height: 40px !important;
        margin-top: 12px;
        &.higher {
          height: 60px !important;
        }
      }
    }

    .focusLine {
      position: absolute;
      bottom: -1px;
      left: 50%;
      right: 50%;
      height: 2px;
      background-color: $blue;
      transition: .3s;
    }
  }
}


@media screen and (max-width: 550px) {
  .wrapper {
    min-height: calc(100vh - 166px);
  }
}


@media screen and (max-width: 428px) {
  body {
    font-size: 3.5vw;
  }
  .wrapper {
    min-height: calc(100vh - 38.76vw);
  }
  .container {
    padding: 0 5.61vw;
  }
  .button {
    width: 46.73vw;
    height: 14.95vw;
    font-size: 3.04vw;
    line-height: 3.97vw;
  }
  .sec__title {
    font-size: 7.01vw;
    line-height: 9.35vw;
    &.smaller {
      font-size: 5.61vw;
      line-height: 7.48vw;
    }
  }
  .owl-carousel {
    padding-left: 10.51vw !important;
    padding-right: 10.51vw !important;
    .owl-nav {
      div, button {
        width: 5.61vw;
        height: 5.61vw;
        -webkit-background-size: contain !important;
        background-size: contain !important;
        left: 0;
        &.owl-next {
          right: 0;
        }
      }
    }
  }
  ///////////
  .page__top {
    padding-top: 7.02vw;
    padding-bottom: 7.01vw;
    &::after, &::before {
      width: 5.61vw;
    }
  }
  .page__title {
    font-size: 5.61vw;
    line-height: 7.01vw;
  }
  .breadcrumbs {
    li {
      a {
        width: 5.61vw;
        height: 3.74vw;
      }
    }
  }
  .last__bottom .mr-1 {
    margin: 0 1.4vw;
    margin-top: 5.84vw;
    width: 7.48vw;
    height: 7.48vw;
    line-height: 7.48vw;
    font-size: 4.21vw;
    border-radius: 0.93vw;

    &:first-child, &:last-child {
      -webkit-background-size: 4.21vw;
      background-size: 4.21vw;
    }
  }
  //////////
  .field__label {
    margin-bottom: 4.67vw;
    .field__name {
      left: 1.17vw;
      font-size: 3.04vw;
      line-height: 4.21vw;
    }
    .field__input {
      font-size: 3.04vw;
      line-height: 4.21vw;
      height: 9.35vw;
      padding: 0 1.17vw;
      &:not(:placeholder-shown) {
        & + label {
          top: 1.17vw;
          font-size: 2.57vw;
          line-height: 3.27vw;
        }
      }
      &:focus {
        & + label {
          top: 0.47vw;
          font-size: 2.57vw;
          line-height: 3.27vw;
        }
      }
      &.field__textarea {
        height: 9.35vw !important;
        margin-top: 2.8vw;
        &.higher {
          height: 18.69vw !important;
        }
        & + label {
          top: 3.27vw;
        }
        &:not(:placeholder-shown) {
          & + label {
            top: 0;
          }
        }
        &:focus {
          & + label {
            top: -0.93vw;
          }
        }
      }
    }

    .focusLine {
      position: absolute;
      bottom: -1px;
      left: 50%;
      right: 50%;
      height: 2px;
      background-color: $blue;
      transition: .3s;
    }
  }
  .input__error {
    bottom: -1.4vw;
    font-size: 2.57vw;
    line-height: 3.27vw;
    padding-left: 4.91vw;
    &::before {
      width: 3.74vw;
      height: 3.74vw;
    }
    &.errorInner {
      p {
        font-size: 2.57vw;
        line-height: 3.27vw;
        padding-left: 4.91vw;
        &::before {
          width: 3.74vw;
          height: 3.74vw;
        }
      }
    }
  }
}