<script setup>

import Thumb from '../Entry/Support/CatThumb'

defineProps({
    categories: Object,
})
</script>

<template>
    <h2 class="sec__title">
        Kатегорії
    </h2>
    <ul class="contact__cats flex">
        <Thumb v-for="category in categories.data" :category="category"/>
    </ul>
</template>
