<script setup>

defineProps({})
</script>

<template>
    <h2 class="sec__title smaller">
        Наші контакти
    </h2>
    <ul class="scontact__list">
        <li class="scontact__item">
            <h3 class="scontact__title">
                E-mail:
            </h3>
            <ul class="scontact__underlist">
                <li>
                    <a href="mailto:info@poryad.in.ua">info@poryad.in.ua</a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="about__list socials__list flex">
        <li>
            <a href='https://www.youtube.com/channel/UCzIjX9zEsedzbeQovvCJTMg' rel="nofollow" target="_blank">
                <img width="34" height="34" src="/img/icons/yt.svg" alt="">
            </a>
        </li>
        <li>
            <a href='https://www.facebook.com/poryad.in.ua' rel="nofollow" target="_blank">
                <img width="34" height="34" src="/img/icons/fb.svg" alt="">
            </a>
        </li>
        <li>
            <a href='https://www.instagram.com/poryad.in.ua/ ' rel="nofollow" target="_blank">
                <img width="34" height="34" src="/img/icons/share_3.svg" alt="">
            </a>
        </li>
        <li>
            <a href='tg://resolve?domain=poryad_in_ua' rel="nofollow" target="_blank">
                <img width="34" height="34" src="/img/icons/tg.svg" alt="">
            </a>
        </li>
    </ul>
</template>
