<script setup>
import {useForm} from '@inertiajs/inertia-vue3';

const form = useForm({
    email: null,
    first_name: null,
    message: null,
});

const submit = () => {
    form.post('/feedback', {
        onSuccess: () => {
            form.reset()
            openPopup($('<a href="#popup__footer"></a>'))
        },
        onError: () => {
            console.log(3);
            window.scrollTo(0, document.body.scrollHeight);
        }
    })
}
</script>

<template>
    <h2 class="sec__title">
        Зв'язатися з нами
    </h2>
    <div class="contact__underform">
        <p>
          Якщо до нас є запитання чи пропозиції, то надсилайте через цю форму:
        </p>
    </div>
    <form @submit.prevent="submit" class="contact__form">
      <div class="form__label field__label">
        <input type="text" v-model="form.first_name" id="name" name="Name" required placeholder="Наприклад: Тарас" class="form__input field__input">
        <label for="name" class="field__name">Ім’я<span>*</span></label>
        <div class="focusLine"></div>
        <div class="input__error">Поле обов’язкове для заповнення</div>
      </div>
      <div class="form__label field__label">
        <input if="email" v-model="form.email" v-maska="{ mask: 'Z*', tokens: { 'Z': { pattern: /[0-9a-zA-Z \@ \.'_]/ }}}" type="text" id="email" name="Email" required placeholder="taras@poryad.in.ua" class="field__input emailReq">
        <label for="email" class="field__name">E-mail<span>*</span></label>
        <div class="focusLine"></div>
        <div class="input__error">Поле обов’язкове для заповнення</div>
      </div>
      <div class="form__label field__label">
        <textarea id="message" v-model="form.message" placeholder="Ваше повідомлення" name="Message" required class="field__input field__textarea"></textarea>
        <label for="message" class="field__name">Ваше повідомлення<span>*</span></label>
        <div class="focusLine"></div>
        <div class="input__error">Поле обов’язкове для заповнення</div>
      </div>
        <a href="#" onclick="submitForm($(this))" class="form__submit button">
            <span>Відправити</span>
        </a>
        <button type="submit" class="hidden"></button>
    </form>
</template>
