<script setup>
import {Link, usePage} from '@inertiajs/inertia-vue3'
</script>

<template>
    <div class="container">
        <div class="header__content flex">
            <div class="header__part flex">
                <Link href="/" class="header__logo">
                    <img width="97" height="22" src="/img/icons/logo.svg" alt="">
                </Link>
                <div class="header__unpart">
                    <a v-if="!$page.props.auth.user" href="#popup__auth" onclick="openPopup($(this))" class="account__mob">
                        <img src="/img/icons/account.svg" alt="">
                        <span>увійти до кабінету</span>
                    </a>
                  <Link href="/profile" class="account__mob" v-else>
                    <img src="/img/icons/account.svg" alt="">
                    <span>Кабінет</span>
                  </Link>
                    <div class="header__city">
                        <div class="select__city">
                            <input type="text" name="title" placeholder="Оберіть своє місто" :value="cityName"
                                   @input="search"
                                   class="input">
                            <div class="select_citylist newScroll">
                                <div v-for="city in filteredCity" class="city__item">
                                    <Link :href="`/${city.slug}`">{{ city.name }}</Link>
                                </div>
                            </div>
                            <div class="city__line"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__part flex">
                <template v-if="!$page.props.auth.user">
                    <a href="#popup__auth" onclick="openPopup($(this))" class="header__account header__accountdesc flex">
                        <span class="icon account"></span>
                        <span>увійти до кабінету</span>
                    </a>
                </template>
                <template v-else>
                    <Link href="/profile" class="header__account header__accountdesc flex">
                        <span class="icon account"></span>
                        <span>Кабінет</span>
                    </Link>
                </template>
            </div>
        </div>
    </div>

</template>

<script>
import {usePage} from '@inertiajs/inertia-vue3'

export default {
    data: () => ({
        cityName: '',
        isSearch: false,
        citySelected: false
    }),
    beforeMount() {
        let city = usePage().props.value.city
        if(city){
            this.cityName = city.name
            this.citySelected = true
        }
    },
    computed: {
        cities() {
            return this.$page.props.cities
        },
        filteredCity(){
            if(this.isSearch){
                return this.cities.data.filter((city) => city.name.toLowerCase().indexOf(this.cityName.toLowerCase()) !== -1)
            } else {
                return this.cities.data
            }
        }
    },
    methods: {
        search(e){
            if(!this.isSearch){
                this.isSearch = true
            }
            this.cityName = e.target.value
        },
    }
}

</script>
