<script setup>
import {Link} from '@inertiajs/inertia-vue3'

defineProps({})
</script>

<template>
    <div class="container">
        <div class="footer__content flex">
            <Link href="/" class="footer__logo">
                <img width="117" height="27" src="/img/icons/logo.svg" alt="">
            </Link>
            <div class="copyright">
                © 2022 Соціальний проєкт “Поряд”
            </div>
        </div>
    </div>

    <div class="popup" id="videoPopup">
        <div onclick="videoClose()" class="popup__underlay"></div>
        <div class="videoPopInner">
            <a href="#" onclick="videoClose()" class="video__close"></a>
            <div class="videoPopEmbed"></div>
        </div>
    </div>
</template>
