<script setup>

import SiteHeader from '../Components/Parts/SiteHeader'
import SiteFooter from '../Components/Parts/SiteFooter'
import Help from '../Components/Modal/Help'
import Auth from '../Components/Modal/Auth'
// import Register from '../Components/Modal/Register'
import Success from "@/Components/Modal/Success"
import Form from '../Components/Modal/Form'
import Update from '../Components/Modal/Update'
import Delete from '../Components/Modal/Delete'
import Disable from '../Components/Modal/Disable'
import Complaint from '../Components/Modal/Complaint'

defineProps({
    auth: Object
})
</script>

<template>
    <div>
        <!-- Page Heading -->
        <header class="header">
            <SiteHeader/>
        </header>

        <!-- Page Content -->
        <div class="wrapper">
            <slot/>
        </div>

        <!-- Page Footer -->
        <footer class="footer">
            <SiteFooter/>
        </footer>

        <Help :auth="auth"/>
        <Auth/>
<!--        <Register/>-->
        <Success/>
        <Form/>
        <Update/>
        <Delete/>
        <Disable/>
        <Complaint/>
    </div>
</template>
