<script setup>
import {Link} from "@inertiajs/inertia-vue3";

defineProps({
    category: Object,
})
</script>

<template>
    <li>
        <Link :href="`/d/${category.slug}`">{{ category.title }}</Link>
    </li>
</template>
