<script setup>
import {Link} from "@inertiajs/inertia-vue3";

defineProps({
    category: Object,
    prefix: String
})
</script>

<template>
    <li class="categories__item fadeAnim">
        <Link :href="`/${prefix}/${category.slug}`" class="categories__link">
            <span class="categories__mobicon"><img width="50" height="50" :src="`/img/icons/cati_${category.id}.svg`" alt=""></span>
            <span class="categories__name">{{ category.title }}</span>
        </Link>
    </li>
</template>
