<script setup>
    import {Link, useForm, usePage} from "@inertiajs/inertia-vue3";
    import JetValidationErrors from '@/Jetstream/ValidationErrors.vue';
    import JetInputError from '@/Jetstream/InputError.vue';
    import moment from "moment";
    import { Inertia } from '@inertiajs/inertia';
    import {computed, onBeforeMount, ref} from "vue";
    import {isEqualPhones} from '@/helper.js';

    const cityName = ref('');
    const isSearch = ref(false);
    const citySelected = ref(false);

    const props = defineProps({
        support: Object
    });

    const edit = useForm({
        id: props.support ? props.support.id : '',
        city_id: props.support ? props.support.city_id : '',
        category_id: props.support ? props.support.category_id : '',
        title: props.support ? props.support.title : '',
        description: props.support ? props.support.description : '',
        degree: props.support ? props.support.degree : '',

        is_other_needy: false,

        name: props.support ? props.support.name : '',
        phone: props.support ? props.support.phone : '',
        email: props.support ? props.support.user.email : '',
        telegram: props.support ? props.support.telegram : '',
        viber: props.support ? props.support.viber : '',
        is_phone_viber: props.support && props.support.user ? isEqualPhones(props.support.phone, props.support.viber) : false,
        terms: true,

        delivery: props.support ? props.support.delivery : false,
        delivery_type: props.support ? props.support.delivery_type : '',
        delivery_address: props.support ? props.support.delivery_address : '',
    });

    const categoryName = props.support && props.support.relation_category.title ? props.support.relation_category.title : 'Категорія'
    if (props.support) {
        if (props.support.degree === 'urgently') {
            const degreeName = 'Терміново потрібно'
        } else if (props.support.degree === 'wait') {
            const degreeName = 'Терміново, але можу зачекати'
        } else if (props.support.degree === 'grateful') {
            const degreeName = 'Буду вдячний'
        }
    }
    const cities = usePage().props.value.cities;
    const categories = usePage().props.value.categories;

    const closePopupDiv = ref(null);

    const submit = () => {
        edit.post('/editRequest', {
            onSuccess: () => {
                closePopupDiv.value.click()
                openPopup($('<a href="#popup__after_update"></a>'))
            }
        });
    };

    const deleteItem = () => {
        Inertia.post('/deleteRequest', {support_id: props.support.id}, {
            onSuccess: () => {
                openPopup($('<a href="#popup__after_clean"></a>'))
            }
        });
    };

    const offItem = () => {
        Inertia.post('/offRequest', {support_id: props.support.id}, {
            onSuccess: () => {
                openPopup($('<a href="#popup__after_disable"></a>'))
            }
        });
    };


    const setCityIfExist = () => {
        if (props.support) {
            cityName.value = props.support.relation_city.name
            citySelected.value = true
        }
    }

    onBeforeMount(setCityIfExist)

    const setCity = (e, city, edit) => {
        edit.city_id = city.id
        cityName.value = city.name
    }

    const search = (e) => {
        if(!isSearch.value){
            isSearch.value = true
        }
        cityName.value = e.target.value
    }

    const filteredCity = computed(() => {
        if(isSearch.value){
            return cities.data.filter((city) => city.name.toLowerCase().indexOf(cityName.value.toLowerCase()) !== -1)
        } else {
            return cities.data
        }
    })
</script>

<template>
    <li class="request__item">
        <div onclick="closePopup()" ref="closePopupDiv"></div>
        <div class="request__top flex">
            <ul class="last__nav flex">
                <li class="last__navitem flex place">
                    <div class="last__icon">
                        <img src="img/icons/last_1.svg" alt="">
                    </div>
                    <div class="last__navname">
                        {{ support.relation_city.name }}
                    </div>
                </li>
                <li class="last__navitem flex date">
                    <div class="last__icon">
                        <img width="20" height="20" src="/img/icons/last_2.svg" alt="">
                    </div>
                    <div class="last__navname">
                        {{ moment(support.created_at).format('DD.MM.YYYY') }}
                    </div>
                </li>
            </ul>
            <div class="request__buttons">
                <a :href="'#popup__myRequest' + support.id" onclick="openPopup($(this))" class="request__edit">
                    Редагувати
                </a>
            </div>
        </div>
        <div class="request__middle flex">
            <div class="request__img">
                <img :src="`/img/icons/cati_${support.category_id}.svg`" alt="" class="cover">
            </div>
            <div class="request__info">
                <h3 class="request__title">
                    {{ support.title }}
                </h3>
                <div class="request__text">
                    <p>
                        {{ support.description }}
                    </p>
                </div>
            </div>
        </div>
        <div class="requst__bottom flex">
            <div class="request__bl flex">
                <ul class="last__nav flex">
                    <li v-if="support.delivery" class="last__navitem flex">
                        <div class="last__icon">
                            <img width="27" height="20" src="/img/icons/last_3.svg" alt="">
                        </div>
                        <div class="last__navname">
                            Доставка
                        </div>
                    </li>
                    <li class="last__navitem flex">
                        <div class="last__icon">
                            <img width="18" height="20" src="/img/icons/last_4.svg" alt="">
                        </div>
                        <div v-if="support.degree === 'grateful'" class="last__navname">
                            Буду вдячний
                        </div>
                        <div v-else-if="support.degree === 'urgently'" class="last__navname">
                            Терміново потрібно
                        </div>
                        <div v-else-if="support.degree === 'wait'" class="last__navname">
                            Терміново, але можу зачекати
                        </div>
                    </li>
                    <li class="last__navitem flex">
                        <div class="last__icon">
                            <img width="24" height="20" src="/img/icons/last_5.svg" alt="">
                        </div>
                        <Link :href="`/${support.relation_city.slug}/${support.relation_category.slug}`" class="last__navname">{{ support.relation_category.title }}</Link>
                    </li>
                </ul>
                <a @click="deleteItem" href="javascript:void(0);" class="request__save">
                    видалити
                </a>
            </div>
            <a :href="'#popup__myApprove' + support.id" onclick="openPopup($(this))" class="request__btn button">
                <span>Знайшов допомогу</span>
            </a>
        </div>
    </li>
    <!-- Modal -->
    <div class="popup" :id="'popup__myRequest' + support.id">
        <div onclick="closePopup()" class="popup__underlay"></div>
        <div class="popup__container">
            <div class="popup__content">
                <a href="#" ref="form" onclick="closePopup()" class="popup__close"></a>
                <div class="popup__title">
                    Редагувати запит
                </div>
                <form @submit.prevent="submit" class="popup__form formRequest flex">
                    <input type="hidden" :id="`ff1_${support.id}`" v-model="edit.id" name="support_id">
                    <div class="label l3 lm1">
                        <label :for="`ff2_${support.id}`" class="label__name">Ім’я та прізвище</label>
                        <input type="text" :id="`ff2_${support.id}`" v-model="edit.name" name="first name" placeholder="Олексій" class="input">
                        <JetInputError v-if="edit.hasErrors" :message="edit.errors.name" class="mt-2" />
                    </div>
                    <div class="label l3 lm1">
                        <label :for="`f3_${support.id}`" class="label__name">Телефон</label>
                        <input v-maska="'+38(###)###-##-##'" type="text" :id="`ff3_${support.id}`" v-model="edit.phone" name="title" placeholder="+38(___)___-__-__" class="input">
                        <JetInputError v-if="edit.hasErrors" :message="edit.errors.phone" class="mt-2" />
                    </div>
                    <div class="label l3 lm1">
                        <label :for="`ff4_${support.id}`" class="label__name">Email</label>
                        <input type="text" :id="`ff4_${support.id}`" v-model="edit.email" name="email" disabled placeholder="yours@email.com" class="input">
                        <JetInputError v-if="edit.hasErrors" :message="edit.errors.email" class="mt-2" />
                    </div>


                    <div class="label l1">
                        <label :for="`ff5_${support.id}`" class="label__name">Заголовок</label>
                        <input type="text" :id="`ff5_${support.id}`" name="title" v-model="edit.title" placeholder="Потрібна гуманітарна допомога" class="input">
                        <JetInputError v-if="edit.hasErrors" :message="edit.errors.title" class="mt-2" />
                    </div>

                    <div v-if="!edit.is_phone_tg" class="label l3">
                        <label :for="`ff7_${support.id}`" class="label__name">Телеграм</label>
                        <input v-maska="{ mask: 'Z*', tokens: { 'Z': { pattern: /[0-9a-zA-Z]/ }}}" type="text" :id="`ff7_${support.id}`" v-model="edit.telegram" name="telegram" placeholder="yankovskiy" class="input">
                        <JetInputError v-if="edit.hasErrors" :message="edit.errors.telegram" class="mt-2" />
                    </div>
                    <div v-if="!edit.is_phone_viber" class="label l3">
                        <label :for="`ff8_${support.id}`" class="label__name">Вайбер</label>
                        <input v-maska="'+38(###)###-##-##'" type="tel" :id="`ff8_${support.id}`" v-model="edit.viber" name="viber" placeholder="+38(___)___-__-__" class="input">
                        <JetInputError v-if="edit.hasErrors" :message="edit.errors.viber" class="mt-2" />
                    </div>
                    <div class="checkbox__group l3">
                        <div class="label chackbox">
                            <input type="checkbox" :id="`ff9_${support.id}`" v-model="edit.is_phone_viber" name="isviber" class="inputHidden">
                            <label :for="`ff9_${support.id}`" class="check__kabel flex">
                                <span class="check__false"></span>
                                <span class="check__text">Вайбер відповідає номеру</span>
                            </label>
                        </div>
                        <div class="label chackbox">
                            <input type="checkbox" :id="`ff17_${support.id}`" v-model="edit.is_phone_tg" name="istg" class="inputHidden">
                            <label :for="`ff17_${support.id}`" class="check__kabel flex">
                                <span class="check__false"></span>
                                <span class="check__text">Телеграм відповідає номеру</span>
                            </label>
                        </div>
                    </div>

                    <div class="label l1">
                        <label :for="`ff6_${support.id}`" class="label__name">Опис</label>
                        <textarea name="description" :id="`ff6_${support.id}`" v-model="edit.description" placeholder="Нашому центру переселенців..." class="textarea"></textarea>
                        <JetInputError v-if="edit.hasErrors" :message="edit.errors.description" class="mt-2" />
                    </div>
                    <div class="label l3">
                        <div class="label__name">Місто <div class="quote"><div class="quote__text">Окрім тимчасово окупованих територій</div></div></div>
                        <div class="select__city">
                            <input type="text" name="title" :value="cityName" @input="search" placeholder="Переяслав" class="input">
                            <div class="select_citylist">
                                <div
                                    v-for="city in filteredCity"
                                    @click="e => setCity(e, city, edit)"
                                    class="city__item"><span>{{ city.name }}</span></div>
                            </div>
                        </div>
                        <JetInputError v-if="edit.hasErrors" :message="edit.errors.city_id" class="mt-2" />
                    </div>
                    <div class="label select l3">
                        <div class="label__name">Оберіть категорію</div>
                        <div class="selector">
                            <div onclick="openSelect($(this))" class="selector__ctr">{{ categoryName }}</div>
                            <div class="selector__list">
                                <label v-for="category in categories.data" class="selector__option">
                                    <input onchange="changeSel($(this))" @click="edit.category_id = category.id" type="radio" name="category_id" :value="category.title" class="inputSel">
                                    <span>{{ category.title }}</span>
                                </label>
                            </div>
                        </div>
                        <JetInputError v-if="edit.hasErrors" :message="edit.errors.category_id" class="mt-2" />
                    </div>
                    <div class="label select l3 p1">
                        <div class="label__name">Критичність</div>
                        <div class="selector">
                            <div v-if="edit.degree === 'urgently'" onclick="openSelect($(this))" class="selector__ctr">Терміново потрібно</div>
                            <div v-if="edit.degree === 'wait'" onclick="openSelect($(this))" class="selector__ctr">Терміново, але можу зачекати</div>
                            <div v-if="edit.degree === 'grateful'" onclick="openSelect($(this))" class="selector__ctr">Буду вдячний</div>
                            <div class="selector__list">
                                <label class="selector__option">
                                    <input onchange="changeSel($(this))" @click="edit.degree = 'urgently'" type="radio" name="urgency" value="Терміново потрібно" class="inputSel">
                                    <span>Терміново потрібно</span>
                                </label>
                                <label class="selector__option">
                                    <input onchange="changeSel($(this))" @click="edit.degree = 'wait'" type="radio" name="urgency" value="Терміново, але можу зачекати" class="inputSel">
                                    <span>Терміново, але можу зачекати</span>
                                </label>
                                <label class="selector__option">
                                    <input onchange="changeSel($(this))" @click="edit.degree = 'grateful'" type="radio" name="urgency" value="Буду вдячний" class="inputSel">
                                    <span>Буду вдячний</span>
                                </label>
                            </div>
                        </div>
                        <JetInputError v-if="edit.hasErrors" :message="edit.errors.degree" class="mt-2" />
                    </div>


                    <div class="delievery__group">
                        <div class="label select l1 p1">
                            <div class="label__name">Доставка</div>
                            <div class="selector">
                                <div onclick="openSelect($(this))" class="selector__ctr degree">Є можливість забрати</div>
                                <div class="selector__list">
                                    <label class="selector__option">
                                        <input onchange="changeSel($(this))" checked="checked" @click="edit.delivery_type = 'urgently'" type="radio" name="sheepCh" value="Є можливість забрати" class="inputSel selectRadio">
                                        <span>Є можливість забрати</span>
                                    </label>
                                    <label class="selector__option">
                                        <input onchange="changeSel($(this))" @click="edit.delivery_type = 'np'" type="radio" name="sheepCh" value="Нова пошта" class="inputSel selectRadio">
                                        <span>Нова пошта</span>
                                    </label>
                                    <label class="selector__option">
                                        <input onchange="changeSel($(this))" @click="edit.delivery_type = 'up'" type="radio" name="sheepCh" value="Укр. пошта" class="inputSel selectRadio">
                                        <span>Укр. пошта</span>
                                    </label>
                                    <label class="selector__option">
                                        <input onchange="changeSel($(this))" @click="edit.delivery_type = 'other'" type="radio" name="sheepCh" value="Інше" class="inputSel selectRadio">
                                        <span>Інше</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <template v-if="edit.delivery_type !== 'urgently'">
                            <div v-if="edit.delivery_type !== 'other'" class="label l2">
                                <label  :for="`ff12_${support.id}`" class="label__name">Адреса доставки або відділення пошти</label>
                                <input type="text" :id="`ff12_${support.id}`" v-model="edit.delivery_address" name="sheep" placeholder="м. Калуш, відділеня Нової Пошти №3" class="input">
                                <JetInputError v-if="edit.hasErrors" :message="support.errors.delivery_address" class="mt-2" />
                            </div>
                            <div v-else class="label l2">
                                <label :for="`ff13_${support.id}`" class="label__name">Вкажіть бажаний спосіб доставки</label>
                                <input type="text" :id="`ff13_${support.id}`" v-model="edit.delivery_address" name="sheep" placeholder="Вкажіть куди потрібно доставити" class="input">
                                <JetInputError v-if="edit.hasErrors" :message="edit.errors.delivery_address" class="mt-2" />
                            </div>
                        </template>
                    </div>

                    <div class="submit__cont flex">
                        <button type="submit" class="form__button button">
                            <span>Зберегти</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="popup" :id="'popup__myApprove' + support.id">
        <div onclick="closePopup()" class="popup__underlay"></div>
        <div class="popup__container">
            <div class="popup__content popupCenter">
                <a href="javascript:void(0);" onclick="closePopup()" class="popup__close"></a>
                <div class="popup__title">
                    Ви вже отримали допомогу?
                </div>
                <div class="popup__aftertext">
                    Якщо ви справді отримали допомгу натисніть кнопку "Отрмивав домопогу", якщо ні, то натисніть кнопку "Не отримав" та зачекайте ще трохи, хтось обовьязково вам допоможе!
                </div>
                <div class="main__bittons flex">
                    <a @click="offItem" href="javascript:void(0);" class="startAnim main__button button startDone" data-delay="1200"><span>ОТРИМАВ ДОПОМОГТИ</span></a>
                    <a href="javascript:void(0);" onclick="closePopup()"  class="startAnim yButton main__button button ankor startDone" data-delay="1200"><span>НЕ ОТРИМАВ</span></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
</template>
<script>
    import { maska } from 'maska';
    import {usePage} from '@inertiajs/inertia-vue3'
    export default {
        directives: {
            maska
        },
        beforeMount() {
            // if (props.support && props.support.relation_category.title) {
            //     this.categoryName = this.props.support.relation_category.title
            // }
            //
            // if (props.support && props.support.degree == 'urgently') {
            //     this.degreeName = 'Терміново потрібно'
            // } else if (props.support && props.support.degree == 'wait') {
            //     this.degreeName = 'Терміново, але готовий зачекати'
            // } else if (props.support && props.support.degree == 'grateful') {
            //     this.degreeName = 'Буду вдячний'
            // }
            //
            // this.cityName = props.support && props.support.relation_city.name ? props.support.relation_city.name : city.name
            // this.citySelected = this.cityName ? true : false
        },
    }
</script>

<style scoped>

</style>
