<script setup>
import moment from "moment";
import {Link, useForm} from "@inertiajs/inertia-vue3";
import {ref} from "vue";

const props = defineProps({
    support: Object
})

const form = useForm({
    text: '',
    support_id: props.support.id,
});

const closePopupDiv = ref(null);

const hideHover = () => {
    $('body').removeClass('overHide')
};

const submit = () => {
    form.post('/complaint', {
        onSuccess: () => {
            form.text = ''
            closePopupDiv.value.click()
            openPopup($('<a href="#popup__after_complaint"></a>'))
        }
    });
};
</script>

<template>
    <li class="last__item fadeAnim">
        <div class="container">
            <div class="last__content flex">
                <div class="last__left flex">
                    <div onclick="openPopupByData($(this))" :data-href="`#popup__help${support.id}`" class="last__name mob">
                        {{ support.title }}
                    </div>
                    <div class="last__img">
                        <span class="categories__mobicon"><img width="100" height="100" :src="`/img/icons/cati_${support.category_id}.svg`" alt=""></span>
                        <span class="categories__name">{{ support.relation_category.title }}</span>
                    </div>
                    <div class="last__info flex">
                        <div class="lastinfo__top">
                            <div onclick="openPopupByData($(this))" :data-href="`#popup__help${support.id}`" class="last__name">
                                {{ support.title }}
                            </div>
                            <div class="last__text">
                                <p>
                                    {{ support.description }}
                                </p>
                            </div>
                        </div>
                        <ul class="last__nav flex">
                            <li class="last__navitem flex place">
                                <div class="last__icon">
                                    <img width="16" height="20" src="/img/icons/last_1.svg" alt="">
                                </div>
                                <div class="last__navname">
                                    {{ support.relation_city.name }}
                                </div>
                            </li>
                            <li class="last__navitem flex date">
                                <div class="last__icon">
                                    <img width="20" height="20" src="/img/icons/last_2.svg" alt="">
                                </div>
                                <div class="last__navname">
                                    {{ moment(support.created_at).format('DD.MM.YYYY') }}
                                </div>
                            </li>
                            <li v-if="support.delivery" class="last__navitem flex">
                                <div class="last__icon">
                                    <img width="27" height="20" src="/img/icons/last_3.svg" alt="">
                                </div>
                                <div class="last__navname">
                                    <span v-if="support.delivery_type === 'np'">
                                        Нова Пошта
                                    </span>
                                    <span v-else-if="support.delivery_type === 'up'">
                                       УкрПошта
                                    </span>
                                    <span v-else>
                                       Інше
                                    </span>
                                </div>

                            </li>
                            <li class="last__navitem flex">
                                <div class="last__icon">
                                    <img width="18" height="20" src="/img/icons/last_4.svg" alt="">
                                </div>
                                <div v-if="support.degree === 'grateful'" class="last__navname grateful__degree">
                                    Буду вдячний
                                </div>
                                <div v-else-if="support.degree === 'urgently'" class="last__navname urgently__degree">
                                    Терміново потрібно
                                </div>
                                <div v-else-if="support.degree === 'wait'" class="last__navname wait__degree">
                                    Терміново, але можу зачекати
                                </div>
                            </li>
                            <li v-if="support.relation_category" class="last__navitem flex">
                                <div class="last__icon">
                                    <img width="24" height="20" src="/img/icons/last_5.svg" alt="">
                                </div>
                                <Link :href="`/${support.relation_city.slug}/${support.relation_category.slug}`">{{ support.relation_category.title }}</Link>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="last__right flex">
                    <div class="last__rt flex">
                        <!--<a href="#" class="last__wish">-->
                            <!--В обрані-->
                        <!--</a>-->
                        <div style="cursor:pointer" :data-href="`#popup__complaint${support.id}`" onclick="openPopupByData($(this))" class="last__dis">
                            Поскаржитись
                        </div>
                    </div>
                    <div style="cursor:pointer" :data-href="`#popup__help${support.id}`" onclick="openPopupByData($(this))"  class="last__button button">
                        <span>Допомогти</span>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <!-- Modal -->
    <div :id="`popup__help${support.id}`" class="popup popup__help">
        <div onclick="closePopupHelp($(this))" :data-id="`popup__help${support.id}`" class="popup__underlay"></div>
        <div class="popup__container">
            <div class="popup__content">
                <a href="#" onclick="closePopupHelp($(this))" :data-id="`popup__help${support.id}`" class="popup__close"></a>
                <div class="popup__title">
                    {{ support.title }}
                </div>
                <div class="popup__aftertext">
                    {{ support.description }}
                </div>
                <ul class="last__nav flex">
                    <li class="last__navitem flex place">
                        <div class="last__icon">
                            <img width="16" height="20" src="/img/icons/last_1.svg" alt="">
                        </div>
                        <div class="last__navname">
                            {{ support.relation_city.name }}
                        </div>
                    </li>
                    <li class="last__navitem flex date">
                        <div class="last__icon">
                            <img width="20" height="20" src="/img/icons/last_2.svg" alt="">
                        </div>
                        <div class="last__navname">
                            {{ moment(support.created_at).format('DD.MM.YYYY') }}
                        </div>
                    </li>
                    <li v-if="support.delivery_type !== 'urgently'" class="last__navitem flex">
                        <div class="last__icon">
                            <img width="27" height="20" src="/img/icons/last_3.svg" alt="">
                        </div>
                        <span v-if="support.delivery_type === 'np'">
                            Нова Пошта
                        </span>
                        <span v-else-if="support.delivery_type === 'up'">
                            УкрПошта
                        </span>
                        <span v-else>
                            Інше
                        </span>
                    </li>
                    <li class="last__navitem flex">
                        <div class="last__icon">
                            <img width="18" height="20" src="/img/icons/last_4.svg" alt="">
                        </div>
                        <div v-if="support.degree === 'grateful'" class="last__navname grateful__degree">
                            Буду вдячний
                        </div>
                        <div v-else-if="support.degree === 'urgently'" class="last__navname urgently__degree">
                            Терміново потрібно
                        </div>
                        <div v-else-if="support.degree === 'wait'" class="last__navname wait__degree">
                            Терміново, але можу зачекати
                        </div>
                    </li>
                    <li class="last__navitem flex">
                        <div class="last__icon">
                            <img width="24" height="20" src="/img/icons/last_5.svg" alt="">
                        </div>
                        <Link @click="hideHover" :href="`/${support.relation_city.slug}/${support.relation_category.slug}`" class="last__navname">
                            {{ support.relation_category.title }}
                        </Link>
                    </li>
                </ul>
                <div class="help__bottom flex">
                    <div class="help__item address">
                        <span class="help__conttitle">Ім'я та прізвище:</span>
                        <span class="help__itemspan black" >{{ support.name }}</span>
                    </div>
                    <div v-if="support.phone" class="help__item">
                        <span class="help__conttitle">Номер телефону:</span>
                        <a :href="`tel:${support.phone}`" class="black">{{ support.phone }}</a>
                    </div>
                    <div v-if="support.telegram" class="help__item blue">
                        <span class="help__conttitle">Телеграм:</span>
                        <a target="_blank" :href="`https://t.me/${support.telegram}`">{{ support.telegram }}</a>
                    </div>
                    <div v-if="support.viber" class="help__item blue">
                        <span class="help__conttitle">Вайбер:</span>
                        <a target="_blank" :href="`viber://chat?number=%2B${support.viber}`" class="black">{{ support.viber }}</a>
                    </div>
                    <div v-if="support.delivery_address" class="help__item address">
                        <span class="help__conttitle">Адреса доставки:</span>
                        <span class="help__itemspan black" >{{ support.delivery_address }}</span>
                    </div>
                    <div class="help__remark">
                        Коли ви надали допомогу, то обов'язково нагадайте користувачу натиснути на кнопку "Знайшов допомогу" в особистому кабінеті. Це дуже важливо для нас. Дякуємо!
                    </div>
                </div>
                <div class="help__buttonb flex">
                    <a href="#" onclick="openContact($(this))" class="button open__contact">
                        <span>Показати контакти</span>
                    </a>
                </div>
                <div class="help__shereblock flex">
                    <div class="helpshare__img">
                        <img width="126" height="80" src="/img/content/helpshere.png" alt="">
                    </div>
                    <div class="helpshare__right">
                        <div class="helpshare__title">
                            Розкажи про свою допомогу в Facebook!
                        </div>
                        <div class="helpshare__text">
                            Надихни друзів також бути поряд
                        </div>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://poryad.in.ua&t=«Поряд» — це проєкт, який єднає українців."
                           class="helpshare__url" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                           target="_blank" title="Розказати на Facebook">
                            <img src="/img/icons/fb.svg" alt="">
                            <span>Розказати на Facebook</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div :id="`popup__complaint${support.id}`" class="popup popup__help">
        <div onclick="closePopup()" ref="closePopupDiv" class="popup__underlay"></div>
        <div class="popup__container">
            <div class="popup__content">
                <a href="#" onclick="closePopup()" class="popup__close"></a>
                <div class="popup__title">
                    Поскаржитися на запит
                </div>
                <form @submit.prevent="submit" class="popup__form formRequest flex">
                    <div class="field__label label l1">
                        <textarea v-model="form.text" name="complaint_text" required :id="`complaint_text${support.id}`" placeholder="Що не так з цим запитом?" class="field__input field__textarea higher"></textarea>
                        <label :for="`complaint_text${support.id}`" class="field__name">Текст скарги</label>
                        <div class="focusLine"></div>
                        <div class="input__error">Поле обов’язкове для заповнення</div>
                    </div>
                    <div class="submit__cont flex">
                        <a href="#" onclick="submitForm($(this))" type="submit" class="form__button button">
                            <span>Відправити</span>
                        </a>
                        <button type="submit" class="hidden"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- End modal -->
</template>
