<script setup>
    import MainLayout from '@/Layouts/MainLayout'
    import BreezeButton from '@/Components/Button.vue';
    import BreezeGuestLayout from '@/Layouts/Guest.vue';
    import BreezeInput from '@/Components/Input.vue';
    import BreezeLabel from '@/Components/Label.vue';
    import BreezeValidationErrors from '@/Components/ValidationErrors.vue';
    import JetInputError from '@/Jetstream/InputError.vue';
    import { useForm } from '@inertiajs/inertia-vue3';

    defineProps({
        status: String,
        auth: Object
    });

    const form = useForm({
        email: '',
    });

    const submit = () => {
        form.post(route('password.email'));
    };
</script>

<template>
    <Head>
        <title>Відновлення паролю на порталі “Поряд” </title>
        <meta name="description" content="Відновлення паролю на порталі “Поряд”. Ми надішлемо лист з посиланням на вашу пошту.">

        <meta property="og:type" content="website" />
        <meta property="og:title" content="Відновлення паролю на порталі “Поряд” " />
        <meta property="og:description" content="Відновлення паролю на порталі “Поряд”. Ми надішлемо лист з посиланням на вашу пошту." />
        <meta property="og:image" content="/img/content/helpshere.jpg" />

        <meta name="twitter:card" content="summary" />
        <meta property="og:title" content="Відновлення паролю на порталі “Поряд” " />
        <meta property="og:description" content="Відновлення паролю на порталі “Поряд”. Ми надішлемо лист з посиланням на вашу пошту." />
        <meta property="og:image" content="/img/content/helpshere.jpg" />
    </Head>
    <MainLayout :auth="auth">
        <section class="section__service wrapper">
            <div class="container">
                <h2 class="sec__title">
                    Відновлення пароля
                </h2>
                <div class="contact__underform">

                    <div v-if="status" class="mb-4 font-medium text-sm text-green-600">
                        {{ status }}
                    </div>
                    <p v-else>
                        Для відновлення пароля вкажіть пошту, яку ви вказували при створенні запиту на сайті. Ми надішлемо туди лист з посиланням для відновлення паролю
                    </p>
                </div>

                <div class="contact__right">
                    <form @submit.prevent="submit" class="contact__form">

                        <div class="field__label l1">
                            <input  if="email" v-model="form.email" @focus="form.clearErrors()" type="text"  id="email" v-maska="{ mask: 'Z*', tokens: { 'Z': { pattern: /[0-9a-zA-Z \@ \.'_]/ }}}" name="Email" required autofocus autocomplete="username" placeholder="Введіть ваш E-mail" class="field__input emailReq">
                            <label for="email" class="field__name">E-mail</label>
                            <div class="focusLine"></div>
                            <JetInputError v-if="form.hasErrors" :message="form.errors.email" @focus="resetValidation()" class="input__error errorInner" />
                            <div class="input__error">Поле обов’язкове для заповнення</div>
                        </div>

                        <a href="#" onclick="submitForm($(this))" class="form__submit button">
                            <span>Відправити</span>
                        </a>
                        <button type="submit" class="hidden" :disabled="form.processing"></button>
                    </form>
                </div>
            </div>
        </section>
    </MainLayout>
</template>
