<script setup>
import MainLayout from '@/Layouts/MainLayout'
import BreezeButton from '@/Components/Button.vue';
import BreezeGuestLayout from '@/Layouts/Guest.vue';
import BreezeInput from '@/Components/Input.vue';
import BreezeLabel from '@/Components/Label.vue';
import JetInputError from '@/Jetstream/InputError.vue';
import { Head, useForm } from '@inertiajs/inertia-vue3';

const props = defineProps({
    email: String,
    token: String,
    auth: Object
});

const form = useForm({
    token: props.token,
    email: props.email,
    password: '',
    password_confirmation: '',
});

const submit = () => {
    form.post('/password/update/custom', {
        onFinish: () => form.reset('password', 'password_confirmation'),
    });
};
</script>

<template>
    <Head>
        <title>Створення нового паролю на порталі “Поряд” </title>
        <meta name="description" content="На цій сторінці ви можете створити новий пароль до свого особистого кабінету.">

        <meta property="og:type" content="website" />
        <meta property="og:title" content="Створення нового паролю на порталі “Поряд” " />
        <meta property="og:description" content="На цій сторінці ви можете створити новий пароль до свого особистого кабінету." />
        <meta property="og:image" content="/img/content/helpshere.jpg" />

        <meta name="twitter:card" content="summary" />
        <meta property="og:title" content="Створення нового паролю на порталі “Поряд” " />
        <meta property="og:description" content="На цій сторінці ви можете створити новий пароль до свого особистого кабінету." />
        <meta property="og:image" content="/img/content/helpshere.jpg" />
    </Head>
    <MainLayout :auth="auth">
        <section class="section__service">
            <div class="container">
                <h2 class="sec__title">
                    Новий пароль
                </h2>
                    <div class="contact__right reset__form">
                        <form @submit.prevent="submit">
                          <div class="field__label l1">
                            <input if="email" v-model="form.email"  @focus="form.clearErrors()" type="text" id="email" v-maska="{ mask: 'Z*', tokens: { 'Z': { pattern: /[0-9a-zA-Z \@ \.'_]/ }}}" name="Email" required autofocus autocomplete="username" placeholder="Введіть ваш E-mail" class="field__input emailReq">
                            <label for="email" class="field__name">E-mail</label>
                            <div class="focusLine"></div>
                            <JetInputError v-if="form.hasErrors" :message="form.errors.email" @focus="resetValidation()" class="input__error errorInner" />
                            <div class="input__error">Поле обов’язкове для заповнення</div>
                          </div>

                          <div class="field__label l1">
                            <input if="password" type="password"  @focus="form.clearErrors()" id="password" v-model="form.password" name="password" placeholder="Введіть новий пароль" class="field__input" autocomplete="new-password">
                            <label for="password" class="field__name">Новий пароль</label>
                            <div class="focusLine"></div>
                            <div class="input__error errorInner" v-if="form.hasErrors" @focus="resetValidation()"><p>{{ form.errors.password }}</p></div>
                          </div>

                          <div class="field__label l1">
                            <input if="password_confirmation"  @focus="form.clearErrors()" type="password" id="password_confirmation" v-model="form.password_confirmation" name="password_confirmation" placeholder="Повторіть новий пароль" class="field__input" autocomplete="new-password">
                            <label for="password_confirmation" class="field__name">Новий пароль</label>
                            <div class="focusLine"></div>
                            <div class="input__error errorInner" v-if="form.hasErrors" @focus="resetValidation()"><p>{{ form.errors.password }}</p></div>
                          </div>
                          <a href="#" onclick="submitForm($(this))" class="form__submit moreTop button">
                            <span>Змінити пароль</span>
                          </a>
                          <button type="submit" class="hidden" :disabled="form.processing"></button>
                        </form>
                    </div>
            </div>
        </section>
    </MainLayout>
</template>
